@inject HttpClient http
@inject NavigationManager navManager
@using Valour.Shared
@using Valour.Api.Items.Planets
@inject HttpClient Http

<br />
<div style="margin-bottom: 12%;margin-top:25px;">
    <center><h3>Create Invite</h3></center>
    <center><p>How long will this invite last, in hours. (put 0 to make invite permanent)</p></center>
    <center><input class="form-control" type="number" @bind-value="@hoursValue" style="width:15%;" /></center>

    <center>
        @if (!Failed) {
            <p style="margin-top:10px;">Invite Link: <a href="@nameSpan" class="EnableRightCLick">@nameSpan</a></p>
        }
        else {
            <p style="margin-top:10px;color:red;">@nameSpan</p>
        }
        <br>

        <div class="btn btn-outline-primary" @onclick="OnSaveChanges">Create Invite</div>
    </center>
</div>

@code {
    [Parameter]
    public Planet Planet { get; set; }

    public int hoursValue;

    public string nameSpan;

    public bool Failed = false;

    protected override async Task OnInitializedAsync()
    {
        hoursValue = 0;

        StateHasChanged();
    }

    public async Task OnSaveChanges()
    {
        var invite = new PlanetInvite()
        {
            PlanetId = Planet.Id,
            IssuerId = ValourClient.Self.Id,
            TimeCreated = DateTime.UtcNow,
            TimeExpires = DateTime.UtcNow.Add(TimeSpan.FromHours(hoursValue)) // TODO: Make this a date picker
        };

        if (hoursValue == 0)
        {
            invite.TimeExpires = null;
        }

        var response = await ValourClient.PostAsyncWithResponse<PlanetInvite>($"api/planet/{Planet.Id}/planetinvite", invite);

        if (!response.Success)
        {
            nameSpan = response.Message;
            Failed = true;
            StateHasChanged();
            return;
        }

        string link = navManager.BaseUri.TrimEnd('/') + "/I/" + response.Data.Code;

        nameSpan = link;
        
        Console.WriteLine(link);

        StateHasChanged();
    }

}
