
<tr>
    <td style="width: 110px;">
        @Invite.Code
    </td>
    <td style="width: 300px;">
        @IssuerName
    </td>
    <th style="width: 125px;">
        @Invite.Issued.ToLocalTime().ToShortDateString()
    </th>
    @if (Invite.Hours != null) {
        <th style="width: 125px;">
            @time.ToLocalTime().ToShortDateString()
        </th>
    }
    else {
        <th style="width: 125px;">
            Never Expires
        </th>
    }
</tr>

@code {
    [Parameter]
    public PlanetInvite Invite { get; set; }

    public string IssuerName { get; set;}

    public DateTime time { get; set;}

    protected override async Task OnInitializedAsync()
    {
        PlanetMember member = await PlanetMember.FindAsync(Invite.PlanetId, Invite.IssuerId);
        IssuerName = await member.GetNameAsync();
        time = Invite.Issued.AddHours((double)Invite.Hours);
        StateHasChanged();
    }
}