@inherits Modal<ViewAppsComponent.ModalParams>
@inject OauthService OauthService

<div class="modal-bg">
    <h4>Your Applications</h4>

    @if (Apps is null)
    {
        <br/> 
        <p>Loading...</p>
    }
    else
    {
        foreach (var app in Apps)
        {
            var appN = app;

            <div class="app" @onclick='@(() => OpenEditApp(appN))'>
                <img alt="@app.Name Icon" src='@app.ImageUrl' class='app-icon' />
                <p class='app-name'>@app.Name</p>
            </div>  
        }
    }
</div>


@code 
{
    public class ModalParams {}

    public List<OauthApp> Apps { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Apps = await OauthService.FetchMyOauthAppAsync();
    }

    public void Refresh(){
        StateHasChanged();
    }

    private void OpenEditApp(OauthApp app)
    {
        var data = new EditAppComponent.ModalParams()
        {
            App = app,
            ViewComponent = this
        };
        
        ModalRoot.OpenModal<EditAppComponent>(data);
    }
}

