.window {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.window .title-bar {
    padding: 5px;
    border-bottom: 3px solid var(--main-5);
}

.title-bar .title {
    display: inline-block;
    margin: 0;
}

.title-bar .description {
    display: inline-block;
    margin: 0;
}