.channel-buttons {
    text-align: right;
    position: absolute;
    top: 5px;
    right: 10px;
}

.channel-home {
    width: 20px;
    height: 20px;
    opacity: 0.75;
    cursor: pointer;
    display: inline-block;
    margin-left: 8px;
}

.channel-exit {
    width: 20px;
    height: 20px;
    opacity: 0.75;
    cursor: pointer;
    display: inline-block;
    margin-left: 8px;
}

.add-window-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.75;
    display: inline-block;
    margin-left: 8px;
}

.mobile .add-window-button {
    display: none !important;
}