@using Valour.Sdk.Models
<div class="planet-card-grid">
    @foreach (var planet in _planets)
    {
        <DiscoveryPlanetCard PlanetInfo="planet" @key="planet.PlanetId" />
    }
</div>

@code {
    private List<PlanetListInfo> _planets = new();

    public void SetPlanets(IEnumerable<PlanetListInfo> planets)
    {
        _planets = planets?.ToList() ?? new List<PlanetListInfo>();
        StateHasChanged();
    }
}