/* New context menus. They must be here, isolations will *not* work! */
.context {
    border: 3px solid var(--main-2);
    background-color: var(--main-1) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 20%) !important;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 20%) !important;
    border-radius: 5px;
}

.context-sub {
    border: 3px solid var(--main-2);
    background-color: var(--main-1) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 20%) !important;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 20%) !important;
    border-radius: 5px;
}

.context:hover {
    
}

.context-item {
    border-radius: 5px;
    border-bottom: 1px rgba(255, 255, 255, 20%) solid;
    margin: 0;
}
.context-item:last-child {
    border-bottom: none;
}

.context-item:hover {
    background-color: rgba(255, 255, 255, 40%) !important;
}