@inject BanModal banModal

@if (visible)
{
    <div class="modal ban-modal" id="@Modal_Id">
        <!-- Modal content -->
        <div class="modal-content-BanModel">
            <div class="popup-box" id="ban-modal-box">
                <div class="col-md-12">
                    <BanUserComponent Planet="banModal.Planet"></BanUserComponent>
                </div>
            </div>
        </div>
    </div>
}

@code {

    public bool visible = false;

    const string Modal_Id = "ban-modal";

    protected override async Task OnInitializedAsync()
    {
        banModal.Component = this;
        ModalHolderComponent.CloseModalEvent += OnModalClose;
    }

    public void SetVisibility(bool value)
    {
        visible = value;
        StateHasChanged();
    }

    public async Task OnModalClose(string modal_id)
    {
        if (Modal_Id == modal_id)
        {
            SetVisibility(false);
        }
    }
}
