<!-- This modal exists to allow parts of the app to ask for confirmation -->

<div class="col-md-12">
	<section>
		<h2>@Data.title_text</h2>
		<h4>@Data.desc_text</h4>
		<hr />
		<br />
		<div @onclick="OnCancel" class="btn btn-primary d-inline-block">@Data.cancel_text</div>
		<div @onclick="OnConfirm" class="btn btn-danger d-inline-block">@Data.confirm_text</div>
	</section>
</div>

@code {
	[CascadingParameter]
	public BlazoredModalInstance ModalInstance { get; set; }

	[Parameter]
	public ConfirmModalData Data { get; set; }

	public async Task OnConfirm()
	{
		await Data.ConfirmEvent.Invoke();
		await ModalInstance.CloseAsync();
	}

	public async Task OnCancel()
	{
		await Data.CancelEvent.Invoke();
		await ModalInstance.CancelAsync();
	}
}
