@inject CreateChannelModal createChannelModal

@if (visible)
{
    <div class="modal channelmodel" id="@Modal_Id">
        <!-- Modal content -->
        <div class="modal-content-CreateChannel">
            <div class="popup-box" id="create-channel-modal-box">
                <div class="col-md-12">
                    <CreateChannelComponent></CreateChannelComponent>
                </div>
            </div>
        </div>
    </div>
}

@code {

    public bool visible = false;

    const string Modal_Id = "create-channel-modal";

    protected override async Task OnInitializedAsync()
    {
        createChannelModal.Component = this;
        ModalHolderComponent.CloseModalEvent += OnModalClose;
    }

    public void SetVisibility(bool value)
    {
        visible = value;
        StateHasChanged();
    }

    public async Task OnModalClose(string modal_id)
    {
        if (Modal_Id == modal_id)
        {
            SetVisibility(false);
        }
    }
}
