@inject CreateCategoryModal createCategoryModal

@if (visible)
{
    <div class="modal categorymodel" id="@Modal_Id">
        <!-- Modal content -->
        <div class="modal-content-CreateChannel">
            <div class="popup-box">
                <div class="col-md-12" id="create-category-modal-box">
                    <CreateCategoryComponent></CreateCategoryComponent>
                </div>
            </div>
        </div>
    </div>
}

@code {

    public bool visible = false;

    const string Modal_Id = "create-category-modal";

    protected override async Task OnInitializedAsync()
    {
        createCategoryModal.Component = this;
        ModalHolderComponent.CloseModalEvent += OnModalClose;
    }

    public void SetVisibility(bool value)
    {
        this.visible = value;
        StateHasChanged();
    }

    public async Task OnModalClose(string modal_id)
    {
        if (Modal_Id == modal_id)
        {
            SetVisibility(false);
        }
    }
}
