@inject EditChannelListItemModal editModal
@inject ChannelListContextMenu contextMenu

@if (visible)
{
    @if (ClientUserManager.User != null)
    {
        <!-- The Modal -->
        <div class="modal edit-channel-list-item-modal" id="@Modal_Id">
            <!-- Modal content -->
            <div class="modal-content-EditUser" id="edit-channel-list-item-modal-inner">
                <div class="popup-box">
                    <div class="col-md-12" style="height: 100%; width: 100%;">
                        <EditChannelListItemComponent ChannelListItem="@contextMenu.SelectedItem"></EditChannelListItemComponent>
                    </div>
                </div>
            </div>
        </div>
    }

}

@code {

    public bool visible = false;

    const string Modal_Id = "edit-channel-list-item-modal";

    protected override async Task OnInitializedAsync()
    {
        editModal.Component = this;
        ModalHolderComponent.CloseModalEvent += OnModalClose;
    }

    public void SetVisibility(bool value)
    {
        visible = value;
        StateHasChanged();
    }

    public async Task OnModalClose(string modal_id)
    {
        if (Modal_Id == modal_id)
        {
            SetVisibility(false);
        }
    }
}
