@inject EditPlanetModal editPlanetModal
@inject ClientPlanetManager planetManager

@if (visible)
{
    @if (planetManager.GetCurrent() != null)
    {
        <!-- The Modal -->
        <div class="modal edit-planet-modal" id="@Modal_Id">
            <!-- Modal content -->
            <div class="modal-content-EditPlanet" id="edit-planet-modal-inner">
                <div class="popup-box">
                    <div class="col-md-12" style="height: 100%; width: 100%;">
                        <EditPlanetComponent Planet="@planetManager.GetCurrent()"></EditPlanetComponent>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code {

    public bool visible = false;

    const string Modal_Id = "edit-planet-modal";

    protected override async Task OnInitializedAsync()
    {
        editPlanetModal.Component = this;
        ModalHolderComponent.CloseModalEvent += OnModalClose;
    }

    public void SetVisibility(bool value)
    {
        visible = value;
        StateHasChanged();
    }

    public async Task OnModalClose(string modal_id)
    {
        if (Modal_Id == modal_id)
        {
            SetVisibility(false);
        }
    }
}
