@inject EditUserModal editUserModal

@if (visible)
{
        @if (ClientUserManager.User != null)
        {
            <!-- The Modal -->
            <div class="modal edit-user-modal" id="@Modal_Id">
                <!-- Modal content -->
                <div class="modal-content-EditUser" id="edit-user-modal-inner">
                    <div class="popup-box">
                        <div class="col-md-12" style="height: 100%; width: 100%;">
                            <EditUserComponent User="@ClientUserManager.User"></EditUserComponent>
                        </div>
                    </div>
                </div>
            </div>
        }
    
}

@code {

    public bool visible = false;

    const string Modal_Id = "edit-user-modal";

    protected override async Task OnInitializedAsync()
    {
        editUserModal.Component = this;
        ModalHolderComponent.CloseModalEvent += OnModalClose;
    }

    public void SetVisibility(bool value)
    {
        visible = value;
        StateHasChanged();
    }

    public async Task OnModalClose(string modal_id)
    {
        if (Modal_Id == modal_id)
        {
            SetVisibility(false);
        }
    }
}
