<div id="modal-holder">
    <ChannelListContextMenuComponent Holder="this"></ChannelListContextMenuComponent>

    <AddChannelContextMenuComponent Holder="this"></AddChannelContextMenuComponent>

    <MemberContextMenuComponent Holder="this"></MemberContextMenuComponent>

    <ConfirmModalComponent></ConfirmModalComponent>
    
    <InfoModalComponent></InfoModalComponent>

    <BanModalComponent></BanModalComponent>

    <EditPlanetModalComponent></EditPlanetModalComponent>

    <EditUserModalComponent></EditUserModalComponent>

    <CreateChannelModalComponent></CreateChannelModalComponent>

    <CreateCategoryModalComponent></CreateCategoryModalComponent>

    <CreatePlanetModalComponent></CreatePlanetModalComponent>

    <EditChannelListItemModalComponent></EditChannelListItemModalComponent>
</div>

@code {

    public static Func<string, Task> CloseModalEvent;

    [JSInvokable("CloseModalInterop")]
    public static async Task CloseModalInterop(string modal_id)
    {
        if (CloseModalEvent != null)
        {
            await CloseModalEvent.Invoke(modal_id);
        }
    }
}