.notification {
    padding-bottom: 6px;
    border-bottom: 1px solid var(--main-5);
}

.notification .title-bar {
    display: flex;
    align-items: center;
}

.notification .image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 6px;
}

.notification .title {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    vertical-align: top;
}

.notification .body {
    font-size: 12px;
    color: #7A7A7A;
    margin: 0;
    margin-left: 6px;
}

.notification .button-holder {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0;
    height: 0;
    overflow-y: hidden;
    /* transition: height 0.1s ease-in-out, padding-top 0.1s ease-in-out; */
}

.notification:hover .button-holder {
    padding-top: 8px;
    height: 30px;
}

.notification .button-holder button {
    padding: 0px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 50%;
    height: 22px;
    border-radius: 6px;
}

.notification .button-holder button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.notification .button-holder button img {
    width: 18px
}