<div class="notification" @key="@Notification.Id">
    <div class="title-bar">
        <img alt="Notification icon" class="image" src="@_imageUrl" @onerror="OnImageError" />
        <p class="title">@Notification.Title</p>
    </div>
    <p class="body">@Notification.Body</p>
    <div class="button-holder">
        <button @onclick="OnClickClear">
            <img alt="Trash can" src="_content/Valour.Client/media/Trash-Can-Icon.svg"/>
        </button>
        <button @onclick="OnClickView">
            <img alt="Channel" src="_content/Valour.Client/media/Eye-Icon.svg"/>
        </button>
    </div>
</div>

@code {
    
    [CascadingParameter]
    public IModalService Modal { get; set; }
    
    [Parameter]
    public Notification Notification { get; set; }

    private string _imageUrl;
    
    protected override void OnInitialized()
    {
        if (string.IsNullOrWhiteSpace(Notification.ImageUrl))
        {
            _imageUrl = "_content/Valour.Client/media/logo/logo-128.png";
        }
        else
        {
            _imageUrl = Notification.ImageUrl;
        }
    }
    
    private async Task OnClickView()
    {
        await NotificationNavigator.NavigateTo(Notification, Modal);
    }
    
    private async Task OnClickClear()
    {
        await ValourClient.MarkNotificationRead(Notification, true);
    }

    private void OnImageError()
    {
        _imageUrl = "_content/Valour.Client/media/logo/logo-128.png";
        StateHasChanged();
    }
}