.tenor-bg {
    padding: 20px;
    max-width: 400px;
    width: 95%;
    height: 600px;

    position: absolute;
    right: 10px;
    bottom: 15px;
    background-color: var(--main-2);
    border-radius: 20px;
}

#masonry-root {
    overflow-y: auto;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.masonry-scroller {
    overflow-y: auto;
    height: 90%;
}

#masonry-root .masonry-cell {
    flex: 1;
    position: relative;
    cursor: pointer;
}

#masonry-root .masonry-cell .item {
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: var(--main-5) 5px solid;
}

#masonry-root .masonry-cell:hover .item {
    border: 5px solid var(--v-cyan);
}

.masonry-cell h2 {
    position: absolute;
    right: 26px;
    top: 10px;
    font-size: 1em;
    text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000, 2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000;
}