.upload-menu {
    position: absolute;
    bottom: 35px;
}

.upload-menu .content {
    width: 150px;
    background-color: var(--main-1);
    border-radius: 14px;
    padding: 10px;
}

.upload-menu .button {
    height: 40px;
    line-height: 21px;
    background-color: var(--main-3);
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    border-top: 3px solid var(--main-1);
}

.upload-menu .content .button:first-child {
    border-radius: 5px 5px 0 0;
    border-top: none;
}

.upload-menu .content .button:last-child {
    border-radius: 0 0 5px 5px;
}

.upload-menu .button:hover {
    background-color: var(--main-5);
}

.upload-menu .carrot {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--main-1);
    margin-left: 14px;
}
