@code {
    
    public static RenderFragment PlanetContent =>
        @<div style="border: 1px solid black">
            Planet
        </div>;
    
    public static RenderFragment CategoryContent =>
        @<div style="border: 1px solid black">
            Category
        </div>;
        
    public static RenderFragment ChatChannelContent =>
        @<div style="border: 1px solid black">
            Chat Channel
        </div>;
    
    public static RenderFragment VoiceChannelContent =>
        @<div style="border: 1px solid black">
            Voice Channel
        </div>;

}