@inherits WindowContentComponent<Planet>

<h3>@Data.Name</h3>
<hr/>
<br/>
<p>
    @Data.Description
</p>

@code {

    public class Content : WindowContent<PlanetInfoWindowComponent, Planet>
    {
        public override async Task ImportData(string data, ValourClient client)
        {
            // Exported data is planet id
            long planetId = JsonSerializer.Deserialize<long>(data);
            var planet = await client.PlanetService.FetchPlanetAsync(planetId);
            Data = planet;
        }

        public override string ExportData(ValourClient client)
        {
            var json = JsonSerializer.Serialize(Data.Id);
            return json;
        }
    }
    
    public static WindowContent<PlanetInfoWindowComponent, Planet> GetDefaultContent(Planet planet)
    {
        return new Content()
        {
            Title = "Info - " + planet.Name,
            Icon = planet.GetIconUrl(IconFormat.Webp64),
            Data = planet,
            PlanetId = planet.Id
        };
    }
}