@inherits WindowContentComponent<Planet>

<h3>@Data.Name</h3>
<hr/>
<br/>
<p>
    @Data.Description
</p>

@code {
    public static WindowContent<PlanetInfoWindowComponent, Planet> GetDefaultContent(Planet planet)
    {
        return new WindowContent<PlanetInfoWindowComponent, Planet>()
        {
            Title = "Info - " + planet.Name,
            Icon = planet.GetIconUrl(IconFormat.Webp64),
            Data = planet,
            PlanetId = planet.Id
        };
    }
}