<WindowFrameComponent Window="@Window" Title="Planet Info" Description="@Window.Planet.Name">
    <h3>@Window.Planet.Name</h3>
    <hr/>
    <br/>
    <p>
        @Window.Planet.Description
    </p>
</WindowFrameComponent>

@code {
    [Parameter]
    public PlanetInfoWindow Window { get; set; }
}