.icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 7px;
    margin-top: -9px;
}

.subtitle {
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.75;
}

.help-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    opacity: 0.75;
    margin-top: 15px;
    margin-bottom: 20px;
}

.new-input-style {
    width: 488px;
    display: inline-block;
}

button {
    width: 97px;
    height: 34px;
    background-color: var(--main-5);
    border: none;
    border-radius: 5px;
    font-size: 12.5px;
}

#CreateRole {
    margin-left: 17px;
    display: inline-block;
    margin-top: -3px !important;
}

.members-text {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 10px;
}

.member-icon {
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-left: -2px;
}

@media only screen and (max-width: 800px) {
    .member-icon {
        margin-top: -4px;
    }
}

.member-count {
    margin-bottom: 0px;
    margin-top: 7px;
    margin-left: 10px;
    font-size: 15px;
    display: inline-block;
}

.role-name-div {
    display: inline-block;
}

.role-member-count-div {
    display: inline-block;
    height: 22px;
    opacity: 0.75;
    margin-right: 33px;
}

.role-list-div-help-text {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .new-input-style input {
        width: 87vw;
    }

    #CreateRole {
        margin-left: 0px;
        margin-bottom: 0px;
    }
}

.roles-row {
    background-color: var(--main-4);
    cursor: pointer;
    user-select: none;
    border: 0px solid;
    width: 94%;
    display: flex;
    justify-content: space-between;
}

.roles-row:hover {
    border: 1px solid;
}

.roles-row:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.roles-row:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.roles-row:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.roles-name {
    margin: 0;
    line-height: 32px;
    margin-left: 10px;
    user-select: none;
}

.roles-buttons {
    position: absolute;
    right: 0;
    transform: translate(-50%, -50%);
    user-select: none;
}

.btn-role-edit {
    opacity: 85%;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    position: relative;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5px 0px 0px 5px;
    width: 10%;
    min-width: 60px;
    height: 30px;
    margin: 0px;
    cursor: pointer;
}

.btn-role-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.btn-role-edit.edit {
    border-radius: 5px 0px 0px 5px;
}

.btn-role-edit.edit:hover {
    color: var(--v-blue);
}

.btn-role-edit.edit:active {
    color: #fff;
    background-color: var(--v-blue);
}

.btn-role-edit.delete {
    border-radius: 0px 5px 5px 0px;
}

.btn-role-edit.delete:hover {
    color: var(--v-purple);
}

.btn-role-edit.delete:active {
    color: #fff;
    background-color: var(--v-purple);
}

.btn-role-edit.create {
    background-color: rgba(0, 255, 0, 0.4);
    border-radius: 5px;
    display: block;
    margin-left: 20px;
    min-width: 55px;
}

.btn-role-edit.create:hover {
    background-color: rgba(0, 255, 0, 0.6);
}

.btn-role-edit.create:active {
    background-color: rgba(0, 255, 0, 0.8);
}


.role-edit-delete:hover {
    background-color: rgba(255, 0, 0, 0.3);
}

.center-t {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.settings-save-button {
    margin-top: 20px;
}

.v-button.danger {
    width: 113px;
    margin-bottom: 17px;
}

.picker-holder {
    margin: 5px;
}

.rolecreate-cont {
    display: flex;
}

.perm-list-item {
    padding: 8px;
    border-bottom: none;
    background-color: var(--main-4);
}

.perm-list-item:nth-child(2n) {
    background-color: var(--main-5);
}

.perm-list-item:first-child {
    border-radius: 10px 10px 0 0 ;
}

.perm-list-item:last-child {
    border-radius: 0 0 10px 10px;
}

.perm-list-name {
    display: inline-block;
    line-height: 12px;
}

.perm-list-desc {
    font-size: 14px;
}

.perm-section {
    margin-bottom: 24px;
}

.perm-switch {
    float: right;
    margin-top: 12px;
}