.request-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.action-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 4px;
    gap: 4px;
}

.inner-scroll-box {
    border: solid 2px var(--main-4);
    border-radius: 5px;
    height: 120px;
    padding: 10px;
    overflow-y: auto;
    background-color: var(--main-4)
}

.add-friend-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.add-friend-row .form-control {
    flex: 1;
}

.add-friend-row .v-btn {
    white-space: nowrap;
}