@inject IJSRuntime JsRuntime
@inject ValourClient Client

<div class="perm-list-item">
    <div class="perm-list-name mb-1">
        Enable Push Notifications
    </div>
    <div type="button" style="float:right">
        @if (_notificationsBlocked)
        {
            <button class="btn btn-sm v-btn" @onclick="OnOpenSettingsClick">Go to Settings</button>
        }
        else
        {
            <label class="switch">
                <input type="checkbox" @onclick="OnNotificationsClick" checked="@_notificationsEnabled">
                <span class="slider round"></span>
            </label>
        }
    </div>
    <div class="perm-list-desc mt-1">
        @if (_notificationsBlocked)
        {
            <span>Notifications are blocked. Tap "Go to Settings" to enable them.</span>
        }
        else
        {
            <span>This will allow your device to receive push notifications.</span>
        }
    </div>
</div>

<div class="perm-list-item">
    <div class="perm-list-name mb-1">
        Error Reporting
    </div>
    <div type="button" style="float:right">
        <label class="switch">
            <input type="checkbox" @onclick="OnErrorReportingClick" checked="@_errorReportingEnabled">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="perm-list-desc mt-1">
        <span>Share anonymous error reports to help improve Valour.</span>
    </div>
</div>

@code {

    public string NotificationState = "null";
    private bool _notificationsEnabled = false;
    private bool _notificationsBlocked = false;
    private bool _errorReportingEnabled = false;

    protected override async Task OnInitializedAsync()
    {
        await RefreshPermissionStateAsync();
        await LoadErrorReportingStateAsync();
    }

    private async Task RefreshPermissionStateAsync()
    {
        var permissionState = await PushSubscriptionsComponent.Instance.GetPermissionStateAsync();
        _notificationsBlocked = permissionState == "denied";
        _notificationsEnabled = !_notificationsBlocked && await PushSubscriptionsComponent.Instance.IsNotificationsEnabledAsync();
        StateHasChanged();
    }

    private async Task OnNotificationsClick()
    {
        if (_notificationsEnabled)
        {
            await PushSubscriptionsComponent.Instance.UnsubscribeAsync();
            _notificationsEnabled = false;
        }
        else
        {
            var result = await ToastContainer.Instance.WaitToastWithResult(new ProgressToastData<PushSubscriptionResult>()
            {
                ProgressTask = PushSubscriptionsComponent.Instance.RequestSubscriptionAsync(),
                Title = "Enabling push notifications",
                Message = "Setting up..."
            });

            if (result.Success)
            {
                _notificationsEnabled = true;
            }
            else
            {
                // Re-check permission state in case the user denied the prompt
                await RefreshPermissionStateAsync();
            }
        }

        StateHasChanged();
    }

    private async Task OnOpenSettingsClick()
    {
        await PushSubscriptionsComponent.Instance.OpenNotificationSettingsAsync();
    }

    private async Task LoadErrorReportingStateAsync()
    {
        var response = await Client.PrimaryNode.GetJsonAsync<UserPreferences>("api/users/me/preferences");
        if (response.Success && response.Data is not null)
        {
            _errorReportingEnabled = response.Data.ErrorReportingState == ErrorReportingState.All;
            StateHasChanged();
        }
    }

    private async Task OnErrorReportingClick()
    {
        _errorReportingEnabled = !_errorReportingEnabled;
        var state = _errorReportingEnabled ? ErrorReportingState.All : ErrorReportingState.None;
        await Client.PrimaryNode.PostAsync($"api/users/me/preferences/errorReporting/{(int)state}", null);
        SentryGate.IsEnabled = _errorReportingEnabled;
        StateHasChanged();
    }
}
