section {
    width: 100%;
}

.user-settings {
    font-family: var(--font-family-app);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-none);
    text-align: center;
    opacity: 0.75;
    margin-top: 20px;
}
