@page "/channel"
@using Valour.Shared
@inject HttpClient Http
@inject NavigationManager navManager
@using Microsoft.AspNetCore.SignalR.Client;

<h1>This is messages testing</h1>

<!-- These are the chat messages within the channel -->
@if (messages != null)
{
    @foreach (ClientPlanetMessage msg in messages)
    {
        <div>
            <p>@msg.Content</p>
        </div>
    }
}

<!-- This is the chat input box -->
<input type="text" @bind-value="@currentInput" @bind-value:event="oninput"  @onkeypress="OnChatboxKeypress" />

@code{

    /// <summary>
    /// True if the client has negotiated a channel connection
    /// </summary>
    private bool channelConnected;

    /// <summary>
    /// The input currently within the chatbox, this is bound and any changes will
    /// be reflected within the box.
    /// </summary>
    private string currentInput;

    /// <summary>
    /// Storage for messages that should be displayed
    /// </summary>
    private List<ClientPlanetMessage> messages;

    private HubConnection hubConnection;

    /// <summary>
    /// The current user
    /// </summary>
    private User user;

    /// <summary>
    /// The current channel id
    /// </summary>
    private ulong channel_id;

    /// <summary>
    /// The index of the last sent message
    /// </summary>
    private ulong messageIndex;

    // Runs when page is initialized
    protected override async Task OnInitializedAsync()
    {
        // TODO: Actually get channel id
        channel_id = 1;

        // TODO: Actually get the current user
        user = new User()
        {
            Username = "TestUser",
            Id = 0
        };

        await ConnectSignalR();
        await RefreshMessages();
    }

    public async Task ConnectSignalR()
    {
        // Get url for 
        string conUrl = navManager.BaseUri.TrimEnd('/') + "/messagehub";

        hubConnection = new HubConnectionBuilder()
            .WithUrl(conUrl)
            .Build();

        await hubConnection.StartAsync();

        // Connect to channel
        await hubConnection.SendAsync("JoinChannel", channel_id);

        hubConnection.On<string>("Relay", RecieveMessage);
    }

    public void RecieveMessage(string msg)
    {
        Console.WriteLine($"Recieved a message: {msg}");

        ClientPlanetMessage message = new ClientPlanetMessage()
        {
            ChannelId = channel_id,
            Content = msg,
            TimeSent = DateTime.UtcNow
        };

        messages.Add(message);

        // Flag for UI refresh
        StateHasChanged();
    }

    public async Task RefreshMessages()
    {
        // Request messages from server
        messages = await Http.GetFromJsonAsync<List<ClientPlanetMessage>>($"Channel/GetMessages?channel_id={channel_id}");
    }

    /// <summary>
    /// This runs every time a key is pressed when the chatbox is selected
    /// </summary>
    public async Task OnChatboxKeypress(KeyboardEventArgs args)
    {
        // Debug for key presses
        // Console.WriteLine(currentInput);

        if (args.Key == "Enter")
        {
            // Grab current input
            string msg = currentInput;

            // Clear input
            currentInput = "";

            // Post message to server
            await PostMessage(msg);

            StateHasChanged();
        }
    }

    public async Task OnChatboxInput()
    {

    }

    public async Task PostMessage(string msg)
    {
        ClientPlanetMessage message = new ClientPlanetMessage()
        {
            ChannelId = channel_id,
            Content = msg,
            TimeSent = DateTime.UtcNow
        };

        string json = Newtonsoft.Json.JsonConvert.SerializeObject(message);

        Console.WriteLine(json);

        HttpResponseMessage httpresponse = await Http.PostAsJsonAsync<ClientPlanetMessage>($"Channel/PostMessage", message);

        TaskResult<ulong> response =
            Newtonsoft.Json.JsonConvert.DeserializeObject<TaskResult<ulong>>(await httpresponse.Content.ReadAsStringAsync());

        if (!response.Success)
        {
            messages.Add(new ClientPlanetMessage()
            {
                TimeSent = DateTime.UtcNow,
                ChannelId = channel_id,
                Content = $"Failed to post message: {response.Message}",
                Index = 0
            });
        }

        Console.WriteLine(response.ToString());
    }
}