@page "/EditPlanet/{planet_id}"

@inject HttpClient Http
@inject NavigationManager navManager
@inject LocalStorageService storage

<body>
    <div class="container">
        <div class="row">
            <div class="col-3 edit-planet-col-left">

            </div>
            <div class="col-9 edit-planet-col-right">

            </div>
        </div>
    </div>
</body>

@code {
    [Parameter]
    public ulong Planet_Id { get; set; }
}
