@page "/EditPlanet/{planet_id}"

@inject HttpClient Http
@inject NavigationManager navManager
@inject LocalStorageService storage

<body>

</body>

@code {
    [Parameter]
    public ulong Planet_Id { get; set; }
}
