@page "/ForgotPassword"

@inject HttpClient Http
@inject NavigationManager NavManager

<div class="page">
    <div class="login-background">
    </div>
    <div class="mobile-image">
    </div>
    <div class="forgot-left col-md-5">
        <form>
            <div class="victor-wrapper">
                <img alt="victor" class="victor" src="_content/Valour.Client/media/victor.svg"/>
            </div>
            @if (_emailed)
            {
                <div class="title">
                    <h3>Email sent!</h3>
                    <h4>Make sure to check your spam folder.</h4>
                </div>
            }
            else
            {
                <div class="title">
                    <h3>Forgot your password?</h3>
                    <h4>No worries! We'll send you a reset link.</h4>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" autocomplete="email" class="form-control" @bind-value="@email"/>
                    <span id="email-span" class="text-danger">@emailSpan</span>
                </div>
                @if (!string.IsNullOrWhiteSpace(errorSpan))
                {
                    <span id="error-span" class="text-danger" style="display:block">@errorSpan</span>
                }
                <div class="v-btn-wrapper mt-4">
                    <button type="button" class="v-btn blue half" @onclick="OnClickSubmit">Send Reset Link</button>
                </div>
            }
            <a class="mt-4 back-to-login" href="/">Back to log in</a>
        </form>
    </div>
</div>

@code {

    private bool _emailed = false;

    // Input fields
    string email;

    // Spans
    string emailSpan;
    string errorSpan;

    private async Task OnClickSubmit(MouseEventArgs e)
    {
        emailSpan = "";
        errorSpan = "";

        if (string.IsNullOrWhiteSpace(email))
        {
            emailSpan = "Please input an email.";
            return;
        }

        JsonContent content = JsonContent.Create(email);

        var response = await Http.PostAsync($"api/users/resetpassword", content);

        var message = await response.Content.ReadAsStringAsync();

        if (!response.IsSuccessStatusCode)
        {
            errorSpan = message;
            StateHasChanged();
            return;
        }

        _emailed = true;
        StateHasChanged();
    }
}
