@page "/I/{code}"

@inject HttpClient Http
@inject NavigationManager navManager
@inject ILocalStorageService storage
@inject ClientPlanetManager planetManager
@inject AutoMapper.IMapper mapper

<body class="login-background" style="background-image: url(/media/Abstract-Background.png)">
    <div class="popup-box">
        <div class="col-md-12">
            <section>
                <h2 class="invite-title">Do you want to join</h2>
                <div style="text-align: center">
                    <h3 class="text-info invite-name">@PlanetName</h3>
                    <h3 class="invite-name">?</h3>
                </div>

                <img class="planet-card-icon" src="@PlanetImage" />

                <br />
                <span class="text-info center-text" style="text-align:center">@infoSpan</span>
                <span class="text-danger center-text" style="text-align:center">@errorSpan</span>

                <center class="join-btn">
                    @if (Clicked)
                    {
                        <button class="btn btn-outline-primary btn-pos mt-2" @onclick="OnClose">Close</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-primary btn-pos mt-2" @onclick="Joined">Join</button>
                    }
                </center>
            </section>
        </div>
    </div>
</body>

@code {

    [Parameter]
    public string code {get; set;}

    string PlanetName = "";
    string PlanetImage = "icon-512.png";

    string PlanetSpan = "Do you want to join";

    string infoSpan = "";
    string errorSpan = "";

    string InviteCode = "";

    bool Clicked = false;


    protected async override Task OnInitializedAsync()
    {

        ulong user_id = ClientUserManager.User.Id;

        if (ClientUserManager.IsLoggedIn() != true) {
            navManager.NavigateTo("/");
        }
        
        var response = await Http.GetAsync($"api/invite/{code}");

        if (!response.IsSuccessStatusCode) {
            errorSpan = await response.Content.ReadAsStringAsync();
            Clicked = true;
            PlanetSpan = "";
            StateHasChanged();
            return;
        }

        var result = await JsonSerializer.DeserializeAsync<ClientPlanetInvite>(await response.Content.ReadAsStreamAsync());

        PlanetName = await result.GetPlanetName();
        PlanetImage = await result.GetPlanetIcon();

        PlanetSpan = $"Do you want to join {PlanetName}?";
        string token = ClientUserManager.UserSecretToken;

        InviteCode = result.Code;

        StateHasChanged();

    }

    public async Task OnClose()
    {

        ClientUserManager.Planets.Clear();

        await ClientUserManager.RefreshPlanetsAsync();

        navManager.NavigateTo("/");
    }

    public async Task Joined()
    {

        ulong user_id = ClientUserManager.User.Id;
        string token = ClientUserManager.UserSecretToken;

        var response = await Http.GetAsync($"api/invite/{InviteCode}/join");

        var message = await response.Content.ReadAsStringAsync();

        if (!response.IsSuccessStatusCode)
        {
            errorSpan = message;
        }
        else
        {
            infoSpan = message;
        }

        Clicked = true;

        StateHasChanged();
    }

}
