@page "/I/{code}"

@inject HttpClient Http
@inject NavigationManager navManager
@inject ILocalStorageService storage

@using Valour.Api.Items.Planets

<body class="login-background" style="background-image: url(/media/Abstract-Background.png)">
    <div class="popup-box">
        <div class="col-md-12">
            <section>

                @if (loading)
                {
                    <center><h2>Loading...</h2></center>
                }
                else
                {
                    <h2 class="invite-title">Do you want to join</h2>
                    <div style="text-align: center">
                        <h3 class="text-info invite-name">@PlanetName</h3>
                        <h3 class="invite-name">?</h3>
                    </div>
                    <center>
                        <img class="planet-card-icon" style="width:128px;" src="@PlanetImage" />
                    </center>

                    <br />

                    <center>
                        <span class="text-info" style="text-align:center">@infoSpan</span>
                        <span class="text-danger" style="text-align:center">@errorSpan</span>
                    </center>

                    <center>
                        @if (Clicked)
                        {
                            <button class="btn btn-outline-primary btn-pos mt-2" @onclick="OnClose">Close</button>
                        }
                        else
                        {
                            <button class="btn btn-outline-primary btn-pos mt-2" @onclick="Joined">Join</button>
                        }
                    </center>
                }
            </section>
        </div>
    </div>
</body>

@code {

    [Parameter]
    public string code {get; set;}

    string PlanetName = "";
    string PlanetImage = "icon-512.png";

    string PlanetSpan = "Do you want to join";

    string infoSpan = "";
    string errorSpan = "";

    string InviteCode = "";

    bool Clicked = false;

    bool loading = true;


    protected async override Task OnInitializedAsync()
    {
        if (!ValourClient.IsLoggedIn) {
            navManager.NavigateTo("/");
        }

        var invite = await ValourClient.GetJsonAsync<Valour.Api.Items.Planets.Invite>($"api/invite/{code}");

        // TODO: tell user if the invite has expired

        if (invite is null) {
            errorSpan = "Failed to find invite.";
            Clicked = true;
            PlanetSpan = "";
            StateHasChanged();
            return;
        }

        PlanetName = await invite.GetPlanetNameAsync();

        // TODO: somehow check if the planet pfp points to nothing, and then use default planet pfp

        PlanetImage = await invite.GetPlanetIconUrl();

        PlanetSpan = $"Do you want to join {PlanetName}?";

        Console.WriteLine(PlanetName);

        InviteCode = invite.Code;

        loading = false;

        StateHasChanged();

    }

    public async Task OnClose()
    {
        await ValourClient.LoadJoinedPlanetsAsync();
        navManager.NavigateTo("/");
    }

    public async Task Joined()
    {
        var response = await Http.GetAsync($"api/invite/{InviteCode}/join");

        var message = await response.Content.ReadAsStringAsync();

        if (!response.IsSuccessStatusCode)
        {
            errorSpan = message;
        }
        else
        {
            infoSpan = message;
        }

        Clicked = true;

        StateHasChanged();
    }

}
