@page "/oauth"

<img src='../_content/Valour.Client/media/logo/logo-64.png' style='position: absolute; left: 50%; bottom: 20px; transform: translate(-50%, 0);'>

<br/>
<div style="text-align: center;">
    <h2>Valour Oauth</h2>
    <h4>Manage your Oauth applications</h4>

    <a class="m-2" href='javascript:void(0);' @onclick='OnManageClick'>Manage my Oauth apps</a>

    <a class="m-2" href='javascript:void(0);' @onclick='OnCreateClick'>Create an Oauth app</a>
</div>

@code
{
    [CascadingParameter]
    public IModalService Modal { get; set; }

    public async Task OnCreateClick(MouseEventArgs e)
    {
        Modal.Show<CreateAppComponent>(
            "Create App"
        );
    }

    public async Task OnManageClick(MouseEventArgs e)
    {
        Modal.Show<ViewAppsComponent>(
            "View Apps"
        );
    }
}