@page "/Verify/{code}"

@inject HttpClient Http
@inject NavigationManager navManager
@inject ILocalStorageService storage

<body class="login-background" style="background-image: url(/media/Abstract-Background.png)">
    <div class="popup-box">
        <div class="col-md-12">
            <section>
                <h2>Email Verification</h2>

                <h4>Thanks for registering!</h4>
                <hr />
                <br />

                <span id="veri-info-span" class="text-info">@result</span>
            </section>
        </div>
    </div>
</body>

@code {

    [Parameter]
    public string code { get; set; }

    public string result = "Verifying...";

    protected async override Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(code))
        {
            result = "Could not verify email code.";
            StateHasChanged();
        }

        StringContent content = new StringContent(code);

        var response = await Http.PostAsync($"api/users/verify", content);

        result = await response.Content.ReadAsStringAsync();

        StateHasChanged();
    }
}
