@inject ValourClient Client
@page "/Verify/{Code}"

<body class="login-background" style="background-image: url('./media/Abstract-Background.png')">
    <div class="popup-box">
        <div class="col-md-12">
            <section>
                <h2>Email Verification</h2>

                <h4>Thanks for registering!</h4>
                <hr />
                <br />
                
                <ResultLabel Result="@_result" />
            </section>
        </div>
    </div>
</body>

@code {

    [Parameter]
    public string Code { get; set; }
    private TaskResult _result = new TaskResult(true, "Verifying...");

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Code))
        {
            _result = new TaskResult(false, "Could not verify email code.");
            StateHasChanged();
        }

        StringContent content = new StringContent(Code);
        _result = await Client.PrimaryNode.PostAsync($"api/users/verify", content);
        StateHasChanged();
    }
}
