.role-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding: 1em;
}

.role-title {
    margin-top: 2em;
    margin-bottom: 0.25em;
    opacity: 100% !important;
    font-size: 0.8em;
}