@inject HttpClient Http
@using Valour.Api.Items.Messages

<div style="@Item.GetInlineStyle" class="embed-item">
    @if (Item.Name != null) {
        <div style="color:#@Item.TextColor;font-weight:bold;font-size:14px;">
            @((MarkupString)MarkdownManager.GetHtml(Item.Name))
        </div>
    }
    <input type="text" class="form-control" placeholder="@Item.Placeholder" @bind-value="@Item.Value" style="background-color: var(--main-1);color: var(--font-color);@Item.GetInputStyle">
</div>

@code {
    [Parameter]
    public EmbedItem Item {get; set;}
    [Parameter]
    public Embed embed { get; set;}

}