@inject HttpClient Http
@inject PlanetManager planetManager

<div style="@Item.GetInlineStyle" class="embed-item">
    @if (Item.Name != null) {
        <div style="color:#@Item.TextColor;font-weight:bold;font-size:14px;">
            @Item.DoMarkdown(Item.Name)
        </div>
    }
    <input type="text" class="form-control" placeholder="@Item.Placeholder" @bind-value="@Item.Value" style="background-color: var(--main-1);color: var(--font-color);@Item.GetInputStyle">
</div>

@code {
    [Parameter]
    public ClientEmbedItem Item {get; set;}
    [Parameter]
    public ClientEmbed embed { get; set;}

}