@inherits WindowContentComponent<StaffMessageWindow.Props>
@inject StaffService StaffService

@if (_params is null)
{
    <h5>Loading message...</h5>
    return;
}

<MessageComponent Params="@_params" />

@code {
    private MessageHolderComponent.MessageComponentParams _params;

    public class Content: WindowContent<StaffMessageWindow, Props>
    {
        public override async Task ImportData(string data, ValourClient client)
        {
            // Exported data is message id
            long messageId = JsonSerializer.Deserialize<long>(data);
            var message = await client.StaffService.GetMessageAsync(messageId);
            Data = new Props()
            {
                Message = message
            };
        }
        
        public override string ExportData(ValourClient client)
        {
            return JsonSerializer.Serialize(Data.Message.Id);
        }
    }

    public class Props
    {
        public Message Message { get; set; }
    }
    
    public static async Task<WindowContent> GetDefaultContentAsync(StaffMessageWindow.Props data)
    {
        var author = await data.Message.FetchAuthorAsync();
        
        return new Content()
        {
            Title = "Message " + data.Message.Id,
            Icon = author?.GetAvatar() ?? ISharedUser.DefaultAvatar,
            Data = data
        };
    }
    
    public static FloatingWindowProps GetDefaultFloatingProps()
    {
        var dim = BrowserUtils.WindowDimensions;
        var mousePos = MouseListener.Position;
        
        return new FloatingWindowProps()
        {
            Height = Math.Min(dim.Height, 200),
            Width = Math.Min(dim.Width, 400),
            X = mousePos.ClientX,
            Y = mousePos.ClientY
        };
    }
    
    protected override void OnInitialized()
    {
        _params = new MessageHolderComponent.MessageComponentParams
        {
            Message = Data.Message
        };
        
        StateHasChanged();
    }
}