.embed {
    background-color: rgba(255, 255, 255, 0.07);
    padding: 1rem 1rem 1rem 1rem;
    max-width: 1024px;
    border-radius: 8px;
    width: fit-content;
}

.embed a {
    font-size: 14px;
    text-decoration: none;
}

.embed a:after {
    content: none;
}

.embed-item {

}

.embed-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

.embed-footer {
    font-size: 14px;
    margin-top: 8px;
}