<div class="dm-container">
    <div class="list">
        <DirectMessageVirtualListComponent FilterText="@FilterText" CloseSidebarOnSelect="true" />
    </div>
</div>

@code {
    [Parameter]
    public string FilterText { get; set; }
}
