@inject WindowManager WindowManager
@inject IJSRuntime JsRuntime
@inject ContextMenuService ContextMenuService
@implements IDisposable

<div id="flipper-friend-@Friend.Id-@Window.Id" class="flipper" ontouchstart="determineFlip('flipper-friend-@Friend.Id-@Window.Id', 240)" onmouseover="determineFlip('flipper-friend-@Friend.Id-@Window.Id', 240)" @onclick="OnClick"> 
    <div class="outer-circle" @oncontextpress="@OnContextMenu">
        <div class="text-hide-circle"></div>
        <img alt="friend icon" src='@_iconUrl' class="icon" @onerror='OnIconError' style='@_imageStyle'/>
        @if (_isUnread || _notificationCount > 0)
        {
            <div class="noti @(_notificationCount > 0 ? "purple" : "")">
                @(_notificationCount > 9 ? "+" : _notificationCount)
            </div>
        }
        <div class="rect-slide">
            <div class="text-wrapper">
                <div class="text-flex">
                    <b class="friend-name">@Friend.Name</b>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public User Friend { get; set; }

    [Parameter]
    public HomeWindow Window { get; set; }

    [Parameter]
    public HomeWindowComponent HomeWindowComponent { get; set; }

    private string _iconUrl = "_content/Valour.Client/media/logo/logo-256.png";
    private string _imageStyle = "";
    private bool _isUnread = false;
    private int _notificationCount = 0;

    protected override void OnInitialized(){
        if (!string.IsNullOrWhiteSpace(Friend.PfpUrl))
        {
            _iconUrl = Friend.PfpUrl;
        }
        
        HomeWindowComponent.RerenderFriendCards += Refresh;
    }

    private void OnContextMenu(ContextPressEventArgs e)
    {
        ContextMenuService.Root.OpenMenu<UserContextMenu>(e, 
            new UserContextMenu.UserContextParams()
            {
                User = Friend
            }
        );
    }

    private Task Refresh()
    {
        // We use the client list because we do *not* want to send off an API request for every single
        // person you do not have a conversation with - the list is loaded at startup
        var channel = ValourClient.DirectChatChannels.FirstOrDefault(x => x.Members.Any(m => m.UserId == Friend.Id));
        
        if (channel is null)
        {
            _isUnread = false;
        }
        else
        {
            _isUnread = ValourClient.GetChannelUnreadState(channel.Id);
            _notificationCount = ValourClient.GetChannelNotifications(channel.Id);
        }
        
        StateHasChanged();

        return Task.CompletedTask;
    }

    public void Dispose()
    {
        HomeWindowComponent.RerenderFriendCards -= Refresh;
    }
    

    private async Task OnClick()
    {
        // Get dm channel (and create it if it does not exist)
        // this can probably be optimized to only create the channel if the first message
        // is being sent, but this is fine for now
        var channel = await Channel.GetDirectChannelAsync(Friend.Id, create: true);
        var newWindow = new ChatChannelWindow(channel);

        Console.WriteLine($"Switching window {Window.Id} to direct chat channel {channel.Id}");

        await WindowManager.ReplaceWindow(Window, newWindow);
        await WindowManager.SetSelectedWindow(newWindow);
        await WindowManager.SetFocusedPlanet(null);

        StateHasChanged();
    }

    private void OnIconError()
    {
        _iconUrl = "_content/Valour.Client/media/logo/logo-256.png";

        var r = Random.Shared.Next(24) * 15;

        _imageStyle = $"filter: hue-rotate({r}deg)";

        StateHasChanged();
    }
}