@implements IDisposable
@inject ContextMenuService ContextMenuService
@inject ValourClient Client
@inject ChannelService ChannelService
@inject ChannelStateService ChannelStateService
@inject UnreadService UnreadService
@inject NotificationService NotificationService

<div class="friend-row" @onclick="OnClick" @oncontextpress="OnContextMenu">
    <div class="left">
        <img alt="@Friend.Name" src="@_avatarUrl" class="row-avatar" />
        <span class="name">@Friend.Name</span>
    </div>
    <div class="right">
        @if (_notificationCount > 0)
        {
            <div class="unread-badge notification">
                <span>@(_notificationCount > 9 ? "9+" : _notificationCount)</span>
            </div>
        }
        else if (_isUnread)
        {
            <div class="unread-badge"></div>
        }
    </div>
</div>

@code {
    [Parameter]
    public User Friend { get; set; }

    [Parameter]
    public WindowContent WindowCtx { get; set; }

    [Parameter]
    public HomeWindowComponent HomeWindowComponent { get; set; }

    private string _avatarUrl;
    private string _fallbackAvatarUrl;
    private bool _isUnread;
    private int _notificationCount;

    protected override void OnInitialized()
    {
        _avatarUrl = Friend.GetAvatar(AvatarFormat.Webp64);
        _fallbackAvatarUrl = Friend.GetFailedAvatar();

        HomeWindowComponent.OnRerenderFriendCards += Refresh;
    }

    private void OnContextMenu(ContextPressEventArgs e)
    {
        ContextMenuService.Root.OpenMenu<UserContextMenu>(e,
            new UserContextMenu.UserContextParams()
            {
                User = Friend
            }
        );
    }

    private Task Refresh()
    {
        return InvokeAsync(() =>
        {
            var channel = ChannelService.DirectChatChannels.FirstOrDefault(x => x.Members.Any(m => m.UserId == Friend.Id));

            if (channel is null)
            {
                _isUnread = false;
            }
            else
            {
                _isUnread = UnreadService.IsChannelUnread(channel.PlanetId, channel.Id);
                _notificationCount = NotificationService.GetChannelNotifications(channel.Id);
            }

            StateHasChanged();
        });
    }

    public void Dispose()
    {
        HomeWindowComponent.OnRerenderFriendCards -= Refresh;
    }

    private async Task OnClick()
    {
        var channel = await ChannelService.FetchDmChannelAsync(Friend.Id, create: true);
        var newWindowContent = await ChatWindowComponent.GetDefaultContent(channel);
        await WindowService.OpenWindowAtFocused(newWindowContent);
    }
}
