.home-window {
    height: 100%;
}

.inner-window {
    height: 100%;
    overflow-y: auto;
    position: relative;
    padding-bottom: 50px;
}

.channel-info {
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--main-5);
    position: relative;
}

.channel-info .button-watching-bar {
    min-width: 200px;
}

.channel-info .description {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    margin-bottom: 8px;
    max-width: 200px;
    margin-right: 150px;
}

.channel-info .title {
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
    margin-right: 150px;
}

.title-box {
    height: 35px;
}

.icons-title {
    font-size: 1.7em;
    font-weight: 250;
}

/* New window CSS */
.icon-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 87px);
    grid-gap: 0rem;
    justify-content: space-evenly;
    overflow: hidden;
    border: 4px solid var(--main-5);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    margin: 20px;
}

/* New icon CSS */

::deep .flipper {
    display: inline-block;
}

::deep .outer-circle {
    position: relative;
    background-color: black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: initial;
    margin: 5px;
    box-shadow: black 0 0 10px;
}

::deep .outer-circle .icon {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    z-index: 1;
    cursor: pointer;
}

::deep .outer-circle:hover .icon {
    z-index: 4;
}

::deep .outer-circle .noti {
    border-radius: 50%;
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: rgba(255, 255, 255, 1);
    left: 68.75%;
    top: 0;
    border: solid 3px #040d14;
    text-align: center;
    z-index: 1;
}

::deep .outer-circle .noti.friends {
    background-color: red;
    font-size: 14px;
}

::deep .outer-circle:hover .noti {
    z-index: 4;
}

::deep .rect-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-1);
    z-index: 0;
    border-radius: 9999px;
    pointer-events: none;
    
    opacity: 0;

    transition: width 0.2s ease-in-out, opacity 0.1s ease-in-out;
}

::deep .outer-circle:hover .rect-slide {
    z-index: 2;
}

::deep .flipper.flip .rect-slide {
    right: 0;
}

::deep .outer-circle:hover .rect-slide {
    opacity: 1;
    width: 240px;
    box-shadow: cyan 0px 0px 10px;
}

::deep .inner-circle {
    position: absolute;
    background-color: black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    right: -40px;
    top: 0;
    z-index: -5;
}

::deep .outer-circle .planet-name {
    color: lightgrey;
    float: right;
    overflow-wrap: break-word;
    text-align: center;
    width: 120px;
}

::deep .flipper.flip .outer-circle .planet-name {
    margin-right: 115px;
}

::deep .outer-circle .friend-name {
    color: lightgrey;
    float: right;
    overflow-wrap: break-word;
    text-align: center;
    width: 120px;
}

::deep .flipper.flip .outer-circle .friend-name {
    margin-right: 115px;
}

::deep .text-flex {
    height: 100%;
    width: 110px;
    display: flex;
    float: right;
    margin-right: 22%;
    align-items: center;
    justify-content: center;
}

::deep .text-wrapper {
    height: 100%;
    overflow: hidden;
    padding-left: 33%;
    width: 100%;
}

::deep .text-hide-circle {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    border-radius: 100%;
    z-index: 1;
}

::deep .outer-circle:hover .text-hide-circle {
    z-index: 3;
}