.channel-info {
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--main-5);
    position: relative;
}

.channel-info .button-watching-bar {
    min-width: 200px;
}

.channel-info .description {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    margin-bottom: 8px;
    max-width: 200px;
    margin-right: 150px;
}

/*.channel-info:hover .description {
    white-space: pre-wrap;
    overflow: visible;
    margin-bottom: 8px;
}*/

.channel-info .title {
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
    margin-right: 150px;
}


.title-box {
    height: 35px;
}

.inner-window {
    max-width: 100%;
    max-height: calc(100% - 70px);
    overflow-y: auto;
}

::deep .home-icon-outer {
    display: inline-block;
    margin: 5px;
    width: 140px;
    height: 140px;
    background-color: var(--main-2);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

::deep .home-icon-outer .icon {
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 20px;
    top: 20px;
    transform: scale(0.9);
    transition: transform .2s ease-in-out;
}

::deep .home-icon-outer .icon.create {
    transition: transform .2s ease-in-out;
    transform: scale(0.7) !important;
}

::deep .home-icon-outer:hover .icon.create {
    transform: scale(0.8) !important;
}

::deep .home-icon-outer:hover .icon {
    transform: scale(1);
}

::deep .home-icon-outer .title {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    letter-spacing: 0px
}



.planet-create-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.planet-create-icon:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

::deep .planet-card-icon:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

::deep .noti {
    border-radius: 50%;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 1);
    left: 85px;
    top: 25px;
    border: solid 5px #040d14;
    text-align: center;
}

::deep .noti.friends {
    background-color: red;
}
