@inject WindowManager windowManager

<div class="home-server m-2" style="cursor: pointer" @onclick="OnClick">
    <h6 class="text-center">@Planet.Name</h6>
    <img style='@image_style' class="planet-card-icon" src="@iconUrl" @onerror='OnIconError' />
</div>

@code {
    [Parameter]
    public Planet Planet { get; set; }

    [Parameter]
    public HomeWindow Window { get; set; }

    public string iconUrl = "/media/logo/logo-512.png";

    public string image_style = "";

    protected override async Task OnInitializedAsync(){
        iconUrl = Planet.IconUrl;
    }

    public async Task OnClick()
    {
        // Load planet first for personal reasons (let me keep the kids thanks)
        await ValourClient.OpenPlanet(Planet);
        await windowManager.SetFocusedPlanet(Planet);

        PlanetChatChannel channel = await Planet.GetPrimaryChannelAsync();

        Console.WriteLine($"Switching window {Window.Id} to {channel.Name}");

        var newWindow = new PlanetChatChannelWindow(channel);

        await windowManager.ReplaceWindow(Window, newWindow);
        await windowManager.SetSelectedWindow(newWindow);

        StateHasChanged();
    }

    protected void OnIconError()
    {
        iconUrl = "_content/Valour.Client/media/logo/logo-512.png";

        int r = Random.Shared.Next(24) * 15;

        image_style = $"filter: hue-rotate({r}deg)";

        StateHasChanged();
    }
}