@using Valour.Shared
@inject HttpClient Http
@inject NavigationManager navManager
@inject LocalStorageService storage
@inject AutoMapper.IMapper mapper

@if (ClientUserManager.Http == null)
{
    ClientUserManager.Http = Http;
}

@if (triedInitialLogin)
{

    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
}
else
{
    <Loading></Loading>
}


@code{

    bool triedInitialLogin;

    // Runs when page is initialized
    protected override async Task OnInitializedAsync()
    {
        // Attempt to re-login the user from local token
        TaskResult tokenResult = await ClientUserManager.TryInitializeWithLocalToken(storage, mapper);

        Console.WriteLine(tokenResult.Message);

        triedInitialLogin = true;
    }
}
