@inject WindowManager WindowManager

<div class="channel-mention" @onclick="@OnClicked">
    @if (_channel == null)
    {
        <div>#NotFound!</div>
    }
    else
    {
        <div>#@_channel.Name</div>
    }
</div>

@code {

    [Parameter]
    public Mention Mention { get; set; }

    private Channel _channel;

    protected override async Task OnInitializedAsync()
    {
        await Build();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_channel != null)
        {
            if (Mention.TargetId != _channel.Id)
            {
                await Build();
            }
        }
        else
        {
            await Build();
        }
    }

    public async Task Build()
    {
        _channel = await Channel.FindAsync(Mention.TargetId, Mention.PlanetId);
        StateHasChanged();
    }

    public async Task OnClicked(){

        var window = WindowManager.GetSelectedWindow();
        if (window is ChatChannelWindow chatWindow)
        {
            await chatWindow.Component.SwapChannel(_channel);
        }
    }
}
