@inject ChannelService ChannelService

<div class="channel-mention" @onclick="@OnClicked">
    @if (_targetChannel == null)
    {
        <div>#NotFound!</div>
    }
    else
    {
        <div>#@_targetChannel.Name</div>
    }
</div>

@code {
    
    [Parameter]
    public object RenderContext { get; set; }

    [Parameter]
    public Mention Mention { get; set; }

    private Channel _targetChannel;

    protected override async Task OnInitializedAsync()
    {
        await Build();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_targetChannel != null)
        {
            if (Mention.TargetId != _targetChannel.Id)
            {
                await Build();
            }
        }
        else
        {
            await Build();
        }
    }

    public async Task Build()
    {
        var context = MentionRenderContext.From(RenderContext);

        if (context.Planet is not null)
        {
            _targetChannel = await context.Planet.FetchChannelAsync(Mention.TargetId);
        }

        StateHasChanged();
    }

    public async Task OnClicked()
    {
        if (_targetChannel is null)
            return;

        var windowContent = await ChatWindowComponent.GetDefaultContent(_targetChannel);
        await WindowService.OpenWindowAtFocused(windowContent);
    }
}
