@inject ChannelService ChannelService

<div class="channel-mention" @onclick="@OnClicked">
    @if (_targetChannel == null)
    {
        <div>#NotFound!</div>
    }
    else
    {
        <div>#@_targetChannel.Name</div>
    }
</div>

@code {
    
    [Parameter]
    public object RenderContext { get; set; }

    [Parameter]
    public Mention Mention { get; set; }

    private Channel _targetChannel;

    protected override async Task OnInitializedAsync()
    {
        await Build();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_targetChannel != null)
        {
            if (Mention.TargetId != _targetChannel.Id)
            {
                await Build();
            }
        }
        else
        {
            await Build();
        }
    }

    public async Task Build()
    {
        switch (RenderContext)
        {
            case MessageComponent messageComponent:
                var channel = messageComponent.ParamData.ChatComponent.Channel;
                _targetChannel = await channel.Planet.FetchChannelAsync(Mention.TargetId);
                break;
            default:
                Console.WriteLine("Invalid RenderContext for ChannelMentionComponent");
                break;    
        }
        
        
        StateHasChanged();
    }

    public async Task OnClicked()
    {
        var windowContent = await ChatWindowComponent.GetDefaultContent(_targetChannel);
        
        switch (RenderContext)
        {
            case MessageComponent messageComponent:
                await WindowService.OpenWindowAtFocused(windowContent);
                break;
            default:
                Console.WriteLine("Invalid RenderContext for ChannelMentionComponent");
                break;    
        }
    }
}
