<div class="channel-mention" @onclick="@OnClicked">
    @if (_targetChannel == null)
    {
        <div>#NotFound!</div>
    }
    else
    {
        <div>#@_targetChannel.Name</div>
    }
</div>

@code {
    
    [CascadingParameter]
    public Channel Channel { get; set; }
    
    [CascadingParameter]
    public WindowTab Window { get; set; }

    [Parameter]
    public Mention Mention { get; set; }

    private Channel _targetChannel;

    protected override async Task OnInitializedAsync()
    {
        await Build();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_targetChannel != null)
        {
            if (Mention.TargetId != _targetChannel.Id)
            {
                await Build();
            }
        }
        else
        {
            await Build();
        }
    }

    public async Task Build()
    {
        if (Channel.PlanetId is not null)
        {
            _targetChannel = await Channel.FindAsync(Mention.TargetId, Channel.PlanetId.Value);
        }
        StateHasChanged();
    }

    public async Task OnClicked()
    {

        var newWindow = new WindowTab()
        {
            Title = await _targetChannel.GetTitleAsync(),
            Icon = await _targetChannel.GetIconAsync(),
            Type = typeof(ChatChannelWindowComponent),
            Data = _targetChannel
        };
        
        if (Window is not null)
        {
            await Window.WindowBase.AddSiblingWindow(newWindow);
        }
        else
        {
            await DockContainer.MainDock.AddWindowAsync(newWindow);
        }
    }
}
