
.mobile .message p {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

.message {
    width: 100%;
    max-width: 100%;
    padding-bottom: 0px;
    padding-left: 4px;
    position: relative;
}

.message.minimal {
    margin-bottom: 0px;
    min-height: auto;
}

.message .content-holder {
    display: inline-block;
    margin-left: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: top;
    padding-left: 52px;
    max-width: 100%;
}

.message.minimal .content-holder {
    margin-left: 7px;
    padding-left: 0px;
}

.message .content {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0px;
    word-break: break-all;
    user-select: text;
    overflow: hidden;
}

.message.minimal .content {
    margin-bottom: 0px;
    padding-left: 48px;
}

.message .badge-1k {
    font-weight: bold; 
    font-size: 8px; 
    margin-left: 2px; 
    color: var(--v-purple);
}

.message .hasreply {
    width: initial;
    overflow-y: hidden;
    overflow-x: hidden;
}

.message .reply {
    border-top: 0;
    border-left: 3px rgba(255, 255, 255, 0.2) solid;
    background-color: var(--main-2);
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    padding-right: 20px;
}

.message.mentioned {
    border-left: 2px solid #ffac6c;
    background: rgba(168, 115, 87, 0.15);
}

.mentioned .content {
    margin-left: -2px !important;
}

.message:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.ping-box {
    background: #FD3B3B;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 3px;
    height: 77px;
}

.message .ping {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.message.ping {
    background: rgba(253, 59, 59, 0.24);
}

.message.first {
    margin-top: 41px;
}

.message .author-avatar {
    background-position: center;
    background-size: cover;
    
    width: 38px;
    height: 38px;
    min-width: 38px;
    min-height: 38px;
    max-width: 38px;
    max-height: 38px;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

.message .name-role-holder {
    display: flex;
    max-width: 100%;
}

.message .author-name {
    display: inline-block;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    vertical-align: top;
    cursor: pointer;
}

.message .author-name:hover {
    text-decoration: underline;
}

.message .role-name {
    color: #ffffff;
    opacity: 0.3;
    font-style: italic;
    line-height: 25px;
    display: inline-block;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 6px;
}

.message .left-info {
    display: inline-block;
    position: absolute;
}

.message.minimal .left-info {
}

.message .time-container {
    min-width: 48px;
    position: absolute;
    top: 37px;
}

.message.minimal .time-container {
    top: -2px;
}

.message .time {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #7A7A7A;
    margin: 0px;
    display: none;
    text-align: center;
}

.message.minimal .time {
    margin-top: 8px;
    visibility: hidden;
}

.message:hover .time {
    display: block;
}

.message.minimal:hover .time {
    visibility: visible;
}



.message:hover .left-info .author-avatar {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.message .dot-badge-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -2px;
}

.message .dot-badge-holder .dot-badge {
    width: 14px;
    height: 14px;
    margin-left: 4px;
    border-radius: 50%;
}

/* Preview Message and Replies */
.edit {
    background-color: rgba(255, 0, 255, 0.1) !important;
    /* border: 1px solid var(--v-cyan); */
}

.edit-flag {
    color: red;
    margin: 0;
    font-size: 11px;
}

.edited-flag {
    color: lightgrey;
    margin: 0;
    font-size: 11px;
}

.reply .author-avatar {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    margin-bottom: -5px;
}

.preview-message .message .reply:hover {
    padding-right: 50px !important;
    background-color: rgba(255, 0, 0, 0.1) !important;
    cursor: pointer;
}

.message:hover .reply .author-avatar {
    margin-left: 4px;
}

.message:hover .reply .time {
    display: block;
    font-size: 10px;
    margin-left: -10px;
}

.reply .content-holder {
    padding-left: 40px;
}

.reply-x {
    display: none;
    position: absolute;
    color: red;
    top: 10px;
    right: 5%;
    font-size: 20px;
}

.attachment-wrapper {
    max-width: 410px;
    max-height: 410px;
    overflow: auto;
}

.preview-message .reply:hover .reply-x {
    display: block;
}

.preview-message .attachment-wrapper:hover {
    box-shadow: 0 0 0 2px red;
    color: red;
    margin-left: 2px;
}

.attachment-x {
    display: none;
    position: absolute;
    color: red;
    top: 5%;
    right: 5%;
    font-size: 40px;
}

.preview-message .attachment-wrapper:hover .attachment-x {
    display: block;
}

/* Ensure loading messages are greyed out */
.message.ghost {
    opacity: 0.7 !important;
}