<div class="@Class" style="color: @RoleColor">
    @if (Role is null)
    {
        <div>@@RoleNotFound</div>
    }
    else
    {
        <div>@@@Role.Name</div>
    }
</div>

@code {

    public string Class
    {
        get
        {
            if (Role is null || !IsTarget)
            {
                return "mention";
            }
            else
            {
                return "mention target";
            }
        }
    }
    
    [Parameter]
    public object RenderContext { get; set; }
    
    [Parameter]
    public Mention Mention { get; set; }
    
    public PlanetRole Role { get; set; }
    public bool IsTarget { get; set; }
    public string RoleColor = "#ffffff";

    protected override async Task OnInitializedAsync()
    {
        await Build();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Role != null)
        {
            if (Mention.TargetId != Role.Id)
            {
                await Build();
            }
        }
        else
        {
            await Build();
        }
    }

    public async Task Build()
    {
        switch (RenderContext)
        {
            case MessageComponent messageComponent:
                var channel = messageComponent.ParamData.ChatComponent.Channel;

                if (channel.PlanetId is not null)
                {
                    Role = await channel.Planet.FetchRoleAsync(Mention.TargetId);
                }
                
                if (Role is not null)
                {
                    var myMember = channel.Planet.MyMember;
                    if (myMember is not null)
                    {
                        IsTarget = myMember.Roles.Any(r => r.Id == Role.Id);
                    }
                }
                
                break;
            default:
                Console.WriteLine("Invalid RenderContext for RoleMentionComponent");
                break;
        }
        
        
        RoleColor = Role is null ? "#fff" : Role.Color;

        StateHasChanged();
    }
}
