.channel-info {
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--main-5);
}

.channel-info .description {
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    margin-left: 16px;
    margin-bottom: 8px;
}

.channel-info:hover .description {
    white-space: pre-wrap;
    overflow: visible;
    margin-bottom: 8px;
}

.channel-info .title {
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
}

.textbox {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    color: white;
    min-height: 32px;
    position: relative;
    margin: 10px;
}

.textbox-inner {
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
    color: white;
    vertical-align: bottom;
    text-align: start;
    padding: 12px;
    padding-left: 45px;
}



.upload {
    width: 24px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.25);
    color: var(--main-1);
    border-radius: 50%;
    position: absolute;
    font-size: 35px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    left: 12px;
    bottom: 9px;
    user-select: none;
}

.upload:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.upload:active {
    background-color: rgba(255, 255, 255, 0.35);
}

.textbox-holder {

}
  