.mention-select {
    position: absolute;
    bottom: 80px;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--main-5);
    border: 5px solid var(--main-1);
    opacity: 0.95;
}