.select-member {
    height: 40px;
    position: relative;
    line-height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 10px;
}

.select-member:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.select-member.selected {
    background-color: rgba(255, 255, 255, 0.1);
}

.select-member:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.select-member:last-child {
    border-bottom: none;
}

.select-member .pfp {
    top: 50%;
    position: absolute;
    margin-top: -16px;
    width: 32px; 
    height: 32px; 
    display: inline-block;
    border-radius: 50%;
}

.select-member .title {
    font-size: 24px;
    display: inline-block;
    margin-left: 42px;
}