<div id="modal-holder">
    <ChannelListContextMenuComponent></ChannelListContextMenuComponent>

    <AddChannelContextMenuComponent></AddChannelContextMenuComponent>

    <MemberContextMenuComponent></MemberContextMenuComponent>

    <MessageContextMenuComponent></MessageContextMenuComponent>
</div>

@code {

    public static Func<string, Task> CloseModalEvent;

    [JSInvokable("CloseModalInterop")]
    public static async Task CloseModalInterop(string modal_id)
    {
        if (CloseModalEvent != null)
        {
            await CloseModalEvent.Invoke(modal_id);
        }
    }
}