.role-checkbox {
    border-radius: 2em;
    margin-right: 0.5em;

    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.role-checkbox:disabled {

}

.v-checkmark-wrapper {
    height: 1em;
    width: 1em;
    position: relative;
    margin-right: 0.5em;
}

.v-checkmark-wrapper .role-checkbox:checked ~ .v-checkmark-fill {
    display: block;
    color: black;
}

.v-checkmark {
    position: absolute;
    height: 1em;
    width: 1em;
    background-color: var(--strong-tint);
    border-radius: 1em;
}

.v-checkmark-fill {
    display: none;
    position: absolute;
    height: 1em;
    width: 1em;
    border-radius: 1em;
}

.role-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
} 