.friend-card {
    background-color: var(--main-4);
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    display: flex;
    max-width: 100%;
}

.friend-card:hover {
    background-color: var(--main-5);
}

.friend-card.active {
    height: auto;
}

.friend-card.top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.friend-card.bottom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.friend-info {
    display: grid;
    vertical-align: top;
    padding: 7px 5px 5px 10px;
}

.status-text {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #7A7A7A;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.active .status-text {
    white-space: normal;
}

.staff-tag {
    display: inline-block;
    width: 25px;
    height: 11px;
    margin-bottom: 7px;
    background: #00FAFF;
    border-radius: 2px;
}

.staff-tag p {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 10px;
    text-align: center;
    color: #000000;
}

.bot-tag {
    display: inline-block;
    width: 17px;
    height: 9px;
    margin-bottom: 7px;
    background: #FF00E9;
    border-radius: 2px;
}

.bot-tag p {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 10px;
    text-align: center;
    color: #000000;
}

.state-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 37px;
    top: 40px;
    border: 2px solid var(--main-1);
}

.state-circle.online {
    background: #05FF00;
}

.state-circle.away {
    background: #F0E62E;
}

.state-circle.do-not-disturb {
    background: #F21F1F;
}

.state-circle.offline {
    background: #B3B3B3;
}

.name-line {
    display: flex;
    align-items: center;
}

.username {
    display: inline-block;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    vertical-align: top;
    opacity: 0.75;
    margin-bottom: 0;
    margin-right: 5px;
}

.pfp {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: unset;
    display: inline-block;
}
