<div class="friend-container">
    <p class="subtitle text-center mb-2">Friends</p>
    <div>
        @{
            var firstId = _friends.FirstOrDefault()?.Id;
            var lastId = _friends.LastOrDefault()?.Id;
            
            
            <Virtualize Items="@_friends">
                @{
                    string style = "background-color: var(--main-4);";

                    if (context.Id == firstId)
                        style += "border-top-left-radius: 0.5em; border-top-right-radius: 0.5em;";

                    if (context.Id == lastId)
                        style += "border-bottom-left-radius: 0.5em; border-bottom-right-radius: 0.5em;";

                    <UserInfoComponent User="@context" Style="@style" @key="@context.Id" />
                }
            </Virtualize>
        }
    </div>
</div>

@code {

    private List<User> _friends;
    
    protected override async Task OnInitializedAsync()
    {
        _friends = ValourClient.Friends;
        ValourClient.OnFriendsUpdate += OnFriendsListUpdate;
        await base.OnInitializedAsync();
    }

    public async Task OnFriendsListUpdate()
    {
        _friends = ValourClient.Friends;
        StateHasChanged();
    }
}