@model Valour.Web.Models.LoginViewModel

@{
    ViewData["Title"] = "Log in to Valour";
}

<div class="login-box">
    <h2>Log in to Valour</h2>
    <h4>Welcome back!</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="View">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <a class="mt-1 forgot-password" href="/ForgotPassword">Forgot my password</a>
                <div class="form-group mt-4" style="display:inline-block">
                    <button type="submit" class="btn btn-primary mt-2">Log in</button>
                    <button type="button" class="btn btn-outline-primary mt-2">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
