.profile-card {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    padding: 4px;
    overflow: hidden;
}

.card-glow {
    position: absolute;
    content: "";
    width: 320px;
    height: 420px;
    left: -10px;
    top: -10px;
    margin: 0;
    filter: blur(40px);
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.3;
    transition: opacity .5s;
}

.card-wrapper {
    position: absolute;
    width: 300px;
    height: 400px;
}

.card-wrapper:hover .card-glow {
    opacity: 0.5;
}

.profile-card .card-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.profile-card .inner-card {
    position: relative;
    border-radius: 16px;
    background-color: var(--main-1);
    height: 100%;
    width: 100%;
}

.card-subtitle {
    color: #7A7A7A;
    padding-bottom: 6px;
}

.top-section {
    padding: 16px;
    padding-bottom: 0;
    display: flex;
}

.top-section .pfp {
    width: 80px;
    height: 80px;
    margin-right: 16px;
    border-radius: 50%;
}

.top-section .online-bubble {
    position: absolute;
    background-color: grey;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 75px;
    top: 75px;
    border: 4px solid var(--main-1);
}

.online-bubble.online {
    background: #05FF00;
}

.online-bubble.away {
    background: #F0E62E;
}

.online-bubble.do-not-disturb {
    background: #F21F1F;
}

.online-bubble.offline {
    background: #B3B3B3;
}

.top-section .names {
    display: inline-flex;
    flex-direction: column;
}

.top-section .names .nickname {
    color: var(--font-color);
    margin: 0;
}

.top-section .names .name-and-tag {
    color: #7A7A7A;
    font-size: 0.8em;
}

.mid-section {
    padding: 16px;
    padding-top: 0;
}

.mid-section .mid-inner {

}

.mid-section hr {
    border-color: #7A7A7A;
}

.headline {
    color: #7A7A7A;
    text-align: center;
    margin: 0;
    margin-bottom: 1em;
}


.status-text {
    color: #7A7A7A;
    font-size: 0.8em;
    font-style: italic;
    background-color: var(--main-3);
    padding: 8px;
    display: inline-block;
    border-radius: 8px;
}

.status-bubble {
    position: relative;
}

.status-bubble .arrow {
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid var(--main-3);
    display: inline-block;
    top: 6px;
    left: -7px;
    z-index: 0;
}

.body-text {
    color: #7A7A7A;
    margin: 0;
}