.self-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.settings-button {
    background: none;
    border: none;
    
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--radius-sm);
}
 
.settings-button:hover .settings-icon, .settings-button:focus .settings-icon { 
    transform: rotate(45deg) scale(1.1); 
}

.settings-button:focus {
    outline: solid var(--main-4);
}

.settings-button .settings-icon {
    height: 16px;
    width: 16px;
    
    aspect-ratio: 1/1;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}