@inject ValourClient Client

<div class="self-info">
    <UserInfoComponent User="@Client.Me" />
    <button id="user-edit-button" class="settings-button" aria-label="User settings button"
            @onkeydown="@(e => { if (e.Key == "Enter") OnClickUserSettings(); })"
            @onclick="@OnClickUserSettings">
        <img alt="User settings button" src="_content/Valour.Client/media/Settings-Icon.svg" class="settings-icon" />
    </button>
</div>
@code {
    [CascadingParameter]
    public ModalRoot ModalRoot { get; set; }
    
    private void OnClickUserSettings()
    {
        var data = new EditUserComponent.ModalParams()
        {
            User = Client.Me
        };
        
        ModalRoot.OpenModal<EditUserComponent>(data);
    }
}