.user-info {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    word-break: initial;
    padding: 2px;
    border-radius: var(--main-radius);
    transition: background 0.15s ease;
    cursor: pointer;
}

.user-info:hover {
    background: var(--main-4);
}

.left-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.avatar {
    position: relative;
    
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    
    border-radius: 8px;
    margin: 6px;
    background-position: center;
    background-size: cover;
}

.state-circle {
    width: 12px;
    height: 12px;
    background: #4ade80;
    border-radius: 50%;
    position: absolute;
    left: 22px;
    top: 22px;
    border: 2px solid var(--main-1);
}

.dot-badge-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -2px;
}

.dot-badge-holder .dot-badge {
    width: 12px;
    height: 12px;
    margin-left: 2px;
    border-radius: 50%;
}

.state-circle.online {
    background: #4ade80;
}

.state-circle.away {
    background: #facc15;
}

.state-circle.do-not-disturb {
    background: var(--p-red);
}

.state-circle.offline {
    background: var(--font-alt-color);
}

.name-status {
    display: flex;
    flex-direction: column;
    line-height: normal;
}

.name-tag {
    display: flex;
    flex-direction: row;
}

.username {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    vertical-align: top;
    cursor: pointer;
}

.username:hover {
    text-decoration: underline;
}

.user-badge {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 0;
    border-radius: 2px;
    font-size: 7px;
    color: black;
    line-height: 9px;
    font-weight: 900;
    margin: 0 0 0 3px;
}

.user-badge.staff {
    width: 25px;
    height: 9px;
    background: var(--v-cyan);
}

.user-badge.bot {
    width: 17px;
    height: 9px;
    background: var(--v-purple);
}

.user-badge p {
    margin: 0;
    font-weight: 700;
}

.status {
    font-size: 12px;
    color: var(--font-alt-color);
    margin: 0;
    overflow: hidden;
    text-align: left;
    padding-right: 8px;
}
