<div class="user-info">
    <img class="pfp" src="@pfpurl" @onerror="OnPfpError">
    @if (User.Name != null)
    {
        <p class="username">
            @if (User.Name.Length > 16)
            {
                @User.Name.Substring(0, 15)
            }
            else
            {
                @User.Name
            }
        </p>
    }
    <div class="active">
    </div>
    <img id="user-edit-button" class="settings" src="_content/Valour.Client/media/Settings-Icon.svg" @onclick='() => Modal.Show<EditUserComponent>("Edit User")'>
</div>

@code {
    [Parameter]
    public User User { get; set; }

    [CascadingParameter]
    public IModalService Modal { get; set; }

    public string pfpurl = "_content/Valour.Client/icon-512.png";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (User != null && !string.IsNullOrWhiteSpace(User.PfpUrl))
        {
            pfpurl = User.PfpUrl;

            // did not work without this
            User _user = await User.FindAsync(User.Id);

            _user.OnUpdated += (async data =>
            {
                if (_user != null && !string.IsNullOrWhiteSpace(_user.PfpUrl))
                {
                    pfpurl = _user.PfpUrl;
                    StateHasChanged();
                }
            });
        }
    }

    protected async Task OnPfpError()
    {
        pfpurl = "_content/Valour.Client/icon-512.png";

        StateHasChanged();
    }
}
