.user-info {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background-color: var(--main-4);
    border-radius: 5px;
    justify-content: space-between;
}

.left-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.pfp {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 6px;
}

.active {
    width: 12px;
    height: 12px;
    background: #05FF00;
    border-radius: 50%;
    position: absolute;
    left: 28px;
    top: 26px;
    border: 2px solid var(--main-1);
}

.name-status {
    display: flex;
    flex-direction: column;
}

.name-tag {
    display: flex;
    flex-direction: row;
}

.username {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    vertical-align: top;
}

.user-info:hover .tag {
    opacity: 1;
    width: auto;
}

.tag {
    color: #c8c8c8;
    font-family: Ubuntu, sans-serif;
    display: inline-block;
    width: 0;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.user-badge {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 0;
    border-radius: 2px;
    font-size: 7px;
    color: black;
    margin-left: 4px;
    margin-right: 4px;
}

.user-badge.staff {
    width: 25px;
    height: 9px;
    background: #00FAFF;
}

.user-badge.bot {
    width: 17px;
    height: 9px;
    background: #FF00E9;
}

.user-badge p {
    margin: 0;
    font-weight: 700;
}

.status {
    font-size: 12px;
    color: #7A7A7A;
    margin: 0;
}