<div class="user-info">
    <div class="left-block">
        <img class="pfp" src="@pfpurl" @onerror="OnPfpError">
        @if (User.Name != null)
        {
            <div class="name-status">
                <div class="name-tag">
                    <p class="username">@User.Name</p>
                    <p class="tag">#@(User.Tag)</p>
                </div>
                <p class="status">
                    @User.Status
                </p>
            </div>
        }
        <div class="active" />
    </div>

    <img id="user-edit-button" class="settings" src="_content/Valour.Client/media/Settings-Icon.svg" @onclick='() => Modal.Show<EditUserComponent>("Edit User")'>
</div>

@code {
    [Parameter]
    public User User { get; set; }

    [CascadingParameter]
    public IModalService Modal { get; set; }

    public string pfpurl = "_content/Valour.Client/icon-512.png";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (User != null && !string.IsNullOrWhiteSpace(User.PfpUrl))
        {
            pfpurl = User.PfpUrl;

            // did not work without this
            User _user = await User.FindAsync(User.Id);

            _user.OnUpdated += (async data =>
            {
                if (_user != null && !string.IsNullOrWhiteSpace(_user.PfpUrl))
                {
                    pfpurl = _user.PfpUrl;
                    StateHasChanged();
                }
            });
        }
    }

    protected async Task OnPfpError()
    {
        pfpurl = "_content/Valour.Client/icon-512.png";

        StateHasChanged();
    }
}
