<div class="friend-container">
    <p class="subtitle mb-2">Friends</p>
    <div class="v-gradient-underline"></div>
    <div>
        @{
            var firstId = _friends.FirstOrDefault()?.Id;
            var lastId = _friends.LastOrDefault()?.Id;
            
            
            <Virtualize Items="@_friends">
                <UserInfoComponent User="@context" @key="@context.Id" />
            </Virtualize>
        }
    </div>
</div>

@code {

    private List<User> _friends;
    
    protected override async Task OnInitializedAsync()
    {
        _friends = ValourClient.Friends;
        ValourClient.OnFriendsUpdate += OnFriendsListUpdate;
        await base.OnInitializedAsync();
    }

    public async Task OnFriendsListUpdate()
    {
        _friends = ValourClient.Friends;
        StateHasChanged();
    }
}