.friend-container {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.friend-container .list {
    overflow: auto;
}

.friend-container .list::-webkit-scrollbar {
    display: none;
}