@inject FriendService FriendService

<div class="friend-container">
    <p class="subtitle mb-2">Friends</p>
    <div class="v-gradient-underline"></div>
    <div class="list">
        <Virtualize Items="@FriendService.Friends">
            <UserInfoComponent User="@context" @key="@context.Id" />
        </Virtualize>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        FriendService.FriendsChanged += OnFriendsListUpdate;
    }

    private void OnFriendsListUpdate(FriendEventData e)
    {
        StateHasChanged();
    }
}