@media only screen and (min-width: 800px) {
    
}

.bigmenu-section {
    width: 1000px;
    max-width: 90vw;
}

section {
    height: 639px;
}

.inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.escape-button {
    position: relative;
    top: 17px;
    right: 17px;
    float: right;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 10000;
}

.leftside {
    min-width: 300px;
    min-height: 450px;
    display: inline-flex;
}

.leftside::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    border-radius: 0.7em;
    background-color: var(--modal-medium);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: #000 0 0 10px;
    z-index: -1;
}

.rightside {
    position: relative;
    min-width: 300px;
}

.rightside::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    border-radius: 0.7em;
    background-color: var(--modal-dark);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: #000 0 0 10px;
    z-index: -1;
}

.inner-rightside {
    overflow-y: auto;
    margin-top: 20px;
}

*::-webkit-scrollbar-track {
    background-color: var(--main-3) !important;
}

@media only screen and (min-width: 800px) {
    .leftside {
        width: 336px;
        height: 639px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    .rightside {
        width: 671px;
        height: 639px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    .inner {
        left: 16px;
    }

    .inner-rightside {
        margin-top: 50px;
        padding-right: 10px;
        height: 589px;
    }

    section {
        width: 1007px;
    }
}

@media only screen and (max-width: 800px) {
    .leftside, .rightside {
        width: 80vw;
        height: 50vh;
    }

    .escape-button {
        top: 5vh;
        right: 14vw;
    }

    .leftside {
        margin-top:20px;
        border-radius: 50px 50px 0px 0px;
    }

    .rightside {
        margin-bottom: 20px;
        border-radius: 0px 0px 50px 50px;
    }

    .mobile .leftside {
        margin-top: 0;
        border-radius: 0;
    }

    .mobile .rightside {
        margin-bottom: 0;
        border-radius: 0;
    }

    .mobile .leftside, .mobile .rightside {
        width: 100vw;
        height: 100vh;
    }

    .mobile .escape-button {
        margin-top: 0;
        margin-right: 0;
        top: 17px;
        right: 17px;
    }

    .bigmenu-section {
        position: absolute;
        left: 0px;
        top: 0px;
        width: auto;
        max-width: none;
    }

    .inner-rightside {
        padding: 20px;
        padding-bottom: 240px;
        overflow-x: hidden;
        border-radius: 0px 0px 50px 50px;
    }

    .mobile .inner-rightside {
        height: calc(100vh - 20px);
        padding-bottom: 20px;
        border-radius: 0;
    }

    .mobile .inner-rightside {
        border-radius: 0px;
    }

    .inner {
        flex-direction: column;
        width: 100vw;
        top: -16px;
    }

}