.toplevel-menu-top {
    background-color: #343C42;
    border-radius: 5px;
    display: flex;
    height: 33px;
    align-items: baseline;
    padding-left: 8px;
}

.toplevel-menu-top .icon {
    margin-left: 8px;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-top: 8px;
}

.toplevel-menu-top p {
    margin-left: 12px;
    display: inline-block;
    margin-top: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.toplevel-menu {
    width: 269px;
    margin-left: auto;
    margin-right: auto;
}

.submenus {
    margin-top: 8px;
}