
@if (Role != null)
{
<p class="rolename" style="color: @Role.GetColorHex()">
    @Role.Name
</p>
}
else
{
<p class="rolename">
    @DummyName
</p>
}

<div class="UserList keep-scrolling">
    @foreach (var member in Members)
    {
        <MemberComponent Only="true" Member="@member" @key="@member.Id"></MemberComponent>
    }
</div>
@code {

    [Parameter]
    public string DummyName { get; set; }

    [Parameter]
    public PlanetRole Role { get; set; }

    [Parameter]
    public List<PlanetMember> Members {get; set;}
}
