@inject ValourClient Client

<div class="create-invite">
    <div class="create-invite-row">
        <div class="form-group">
            <label>Expires in (hours)</label>
            <input class="v-input" type="number" min="0" @bind-value="@_hoursValue" placeholder="0 = never" />
            <p class="helper-text">Set to 0 for a permanent invite</p>
        </div>
        <button class="v-btn primary create-btn" @onclick="OnCreateInvite">Create Invite</button>
    </div>
    <ResultLabel Result="@_result" />
</div>

@code {
    [Parameter]
    public Planet Planet { get; set; }

    private int _hoursValue;
    private ITaskResult _result;

    public async Task OnCreateInvite()
    {
        var invite = new PlanetInvite(Client)
        {
            PlanetId = Planet.Id,
            IssuerId = Client.Me.Id,
            TimeCreated = DateTime.UtcNow,
            TimeExpires = _hoursValue > 0
                ? DateTime.UtcNow.Add(TimeSpan.FromHours(_hoursValue))
                : null
        };

        var response = await Planet.Node.PostAsyncWithResponse<PlanetInvite>($"api/invites", invite);

        if (!response.Success)
        {
            _result = new TaskResult(false, response.Message);
        }
        else
        {
            _result = new TaskResult(true, "Invite created successfully!");
        }

        StateHasChanged();
    }

}
