<section>
    <img src="@Planet.GetIconUrl(IconFormat.WebpAnimated256)" class="icon" />
    <p class="planet-name">@Planet.Name</p>
    <p class="planet-settings">PLANET SETTINGS</p>

    <div class="menu">
        <BigMenuTopLevelMenuComponent Icon="gear-fill" Name="General Settings">
            <BigMenuSubMenuComponent Icon="gear-fill" Name="Info"></BigMenuSubMenuComponent>
            <BigMenuSubMenuComponent Icon="envelope-open-heart-fill" Name="Invites"></BigMenuSubMenuComponent>
            <BigMenuSubMenuComponent Icon="person-fill" Name="Members"></BigMenuSubMenuComponent>
            <BigMenuSubMenuComponent Icon="shield-fill-exclamation" Name="Bans"></BigMenuSubMenuComponent>
            <BigMenuSubMenuComponent Icon="stoplights-fill" Name="Roles"></BigMenuSubMenuComponent>
            <BigMenuSubMenuComponent Icon="bank2" Name="Economy"></BigMenuSubMenuComponent>
            <BigMenuSubMenuComponent Icon="trash3-fill" Name="Delete" Color="#EF3A3A"></BigMenuSubMenuComponent>
        </BigMenuTopLevelMenuComponent>
    </div>
</section>

@code {
    [Parameter]
    public Planet Planet { get; set; }
}