td, th {
    border: 0px;
}

tr:nth-child(2n+1) {
    background-color: var(--surface-raised);
}

td {
    font-variant-numeric: tabular-nums;
}

td:nth-child(1),
td:nth-child(3),
td:nth-child(4) {
    width: 20%;
    min-width: 100px;
}

td:nth-child(2) {
    width: 40%;
    min-width: 150px;
}