
<tr class="data-row">
    <td>
        @Invite.Code
    </td>
    <td>
        @_issuerName
    </td>
    <td>
        @Invite.TimeCreated.ToLocalTime().ToShortDateString()
    </td>
    <td>
        @(Invite.TimeExpires?.ToLocalTime().ToShortDateString() ?? "Never")
    </td>
</tr>

@code {
    [Parameter]
    public PlanetInvite Invite { get; set; }

    private string _issuerName;

    protected override async Task OnInitializedAsync()
    {
        var member = await Invite.Planet.FetchMyMemberAsync();
        _issuerName = member.Name;
        StateHasChanged();
    }
}