.current-planet-info {
    padding-top: 16px;
    margin-left: 16px;
    min-height: 115px;
    position: relative;
}

.planet-name {
    display: inline-block;
}

.settings {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 10px
}

.planet-desc {
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    max-height: 4em;
    font-size: 16px;
    margin: 0px;
    width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 12px;
    -webkit-line-clamp: 3;
    transition: max-height ease-in-out 1s;
}

.planet-desc:hover {
    max-height: 300px;
    display: block;
}

.planet-title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: inline-block;
    max-height: 2.4em; /* a x number of line to show (ex : 2 line)  */
    font-size: 20px;
    margin-bottom: 2px;
}

.planet-title:hover{

}