.connected-planets {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 0.5em;
    height: 100%;
}

.connected-planets .list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 8px;
    background-color: var(--main-3);
}

.connected-planets .list::-webkit-scrollbar {

}

.connected-planets .list::-webkit-scrollbar-track {
    border-radius: var(--main-radius);
}
