<div class="planets-dm-directory">
    <div class="top-half">
        <JoinedPlanetsDirectory />
    </div>
    <div class="bottom-half">
        <DirectMessageListComponent />
    </div>
</div>
