.planet .arrow {
    margin-left: 6px;
    cursor: pointer;
}

.planet-name {
    margin: 0;
    margin-left: 6px;
    vertical-align: top;
    display: inline-block;
    font-family: var(--font-family-app);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-md);
    line-height: var(--line-height-base);
    color: #FFFFFF;
}

.planet {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4px;
}

.is-open {
    padding-bottom: 10px;
}

.planet .icon {
    width: 22px;
    height: 22px;
    float: right;
    margin-right: 4px;
    border-radius: var(--radius-full);
}

.header-wrapper {
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: var(--radius-md);
}

.header .right,
.header .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .right .unread-badge {
    background-color: var(--strong-tint);
    border-radius: var(--radius-md);
    height: 16px;
    min-width: 16px;
    transition: min-width, height 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper:hover .header .right .unread-badge {

}

.header .right .unread-badge.notification {
    background-color: var(--color-danger);
}

.header .edit-button {
    margin-left: 6px;
    transition: transform 0.2s ease-in-out;
}

.header .edit-button:hover {
    transform: rotate(45deg) scale(1.1);
}

.unread-badge span {
    font-size: var(--font-size-2xs);
    font-weight: var(--font-weight-bold);
    color: white;
    padding: 0 4px;
    line-height: var(--line-height-none);
}

.planet-about,
.planet-rules {
    cursor: pointer;
    position: relative;
    border-radius: var(--radius-md);
    white-space: nowrap;
    height: 27px;
    padding: 6px 8px 4px 6px;
}

.planet-about:hover,
.planet-rules:hover {
    background: rgba(255, 255, 255, 0.075);
}

.planet-pseudo-icon {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    color: #fff;
    font-size: var(--font-size-md);
    line-height: var(--line-height-none);
}

.planet-about .name,
.planet-rules .name {
    font-family: var(--font-family-app);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
    color: var(--font-color);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 24px);
    margin: -2px 0 0 24px;
}

.planet .header:hover {
    background: rgba(255, 255, 255, 0.075);
}

.planet .header:active {
    background: rgba(255, 255, 255, 0.125);
}

.planet .channel-list {
    margin-left: 2px !important;
}

.channel-list .v-gradient-underline {
}

.list-wrapper {
    padding-left: 2px;
    padding-right: 2px;
}
