@inherits ControlledRenderComponentBase
@inject PlanetService PlanetService

<div class="directories">
    <div class="connected-planets">
        <p class="subtitle mb-2">Connected Planets</p>
        <div class="v-gradient-underline"></div>
        
        <div class="list">
            @foreach (var connectedPlanet in PlanetService.ConnectedPlanets)
            {
                <ConnectedPlanetDirectory Planet="@connectedPlanet"/>
            }
        </div>
    </div>
    
    <JoinedPlanetsDirectory />
</div>

@code {
    protected override void OnInitialized()
    {
        PlanetService.PlanetConnected += OnPlanetConnected;
        PlanetService.PlanetDisconnected += OnPlanetDisconnected;
    }
    
    private void OnPlanetConnected(Planet planet)
    {
        Console.WriteLine(planet.Name + " connected!");
        Console.WriteLine(JsonSerializer.Serialize(PlanetService.ConnectedPlanets.Select(x => new
        {
            x.Name
        })));
        ReRender();
    }
    
    private void OnPlanetDisconnected(Planet planet)
    {
        ReRender();
    }
}