<div id="@ElementId">
    @if (Peer.Kind == "audio")
    {
        <p>Audio: @_name</p>
        <audio class="media peer-audio" playsinline autoplay></audio>
    }
    else if (Peer.Kind == "video")
    {
        <div class="peer-video-wrapper">
            <video class="media peer-video" playsinline autoplay />
            <div class='pause-button'>
                Pause
            </div>
        </div>
    }
    else{
        <p>Listening: @_name</p>
    }
</div>

@code {
    [Parameter]
    public CallComponent Parent { get; set; }

    [Parameter]
    public VisiblePeer Peer { get; set; }
    
    private PlanetMember _member;
    private string _name;

    public string ElementId { get; set; }

    private bool _canRender = false;
    
    private bool _hookAfterRender = false;

    protected override bool ShouldRender() =>
        _canRender;

    public void Refresh()
    {
        _canRender = true;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        ElementId = "rtc-" + Peer.PeerId.Replace(':', '-');
        _name = Peer.PeerId;

        if (long.TryParse(Peer.PeerId.Split(":")[1], out var memberId))
        {
            _member = await PlanetMember.FindAsync(memberId, Parent.ActiveChannel.PlanetId);
            _name = await _member.GetNameAsync();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("Peer component rendered. Notifying parent...");
            await Parent.NotifyPeerElementReady(this);
        }

        if (_hookAfterRender)
        {
            await Parent.NotifyPeerElementReady(this);
            _hookAfterRender = false;
        }

        _canRender = false;
    }

    public async Task NotifyPeerUpdated()
    {
        Console.WriteLine($"Setting updated peer {Peer.PeerId}...");
        
        Console.WriteLine("Peer has track: " + Peer.Kind);

        _hookAfterRender = true;
        
        Refresh();
    }
}
