@if (Peer.Kind == "audio")
{
    <p>Audio: @_name</p>
    <audio class="peer-audio" playsinline autoplay id="@ElementId"></audio>
}
else if (Peer.Kind == "video")
{
    <div class="peer-video-wrapper">
        <video class="peer-video" playsinline autoplay id="@ElementId" />
        <div class='pause-button'>
            Pause
        </div>
    </div>
}
else{
    <p>Listening: @_name</p>
}

@code {
    [Parameter]
    public CallComponent Parent { get; set; }

    [Parameter]
    public VisiblePeer Peer { get; set; }
    
    private PlanetMember _member;
    private string _name;

    public string ElementId { get; set; }

    private bool _canRender = false;

    protected override bool ShouldRender() =>
        _canRender;

    public void Refresh()
    {
        _canRender = true;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        ElementId = Peer.PeerId;
        _name = Peer.PeerId;

        if (long.TryParse(Peer.PeerId.Split(":")[1], out var memberId))
        {
            _member = await PlanetMember.FindAsync(memberId, Parent.ActiveChannel.PlanetId);
            _name = await _member.GetNameAsync();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("Peer component rendered. Notifying parent...");
            await Parent.NotifyPeerElementReady(this);
        }

        _canRender = false;
    }

    public async Task NotifyPeerUpdated()
    {
        Console.WriteLine($"Setting updated peer {Peer.PeerId}...");
        
        Console.WriteLine("Peer has track: " + (!string.IsNullOrWhiteSpace(Peer.Kind)));
        
        await Parent.NotifyPeerElementReady(this);
        
        StateHasChanged();
    }
}
