.peer-video-wrapper {
    display: flex;
    text-align: center;
    width: fit-content;
    max-height: 50%;
    background-color: black;
    position: relative;
    outline: 5px solid var(--main-1);
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.peer-video {
    width: 100%;
    border-radius: 20px;
}

.pause-button {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
    color: white;
    outline: 3px solid var(--main-5);
    border-radius: 50%;
    left: calc(50% - 20px);
    bottom: 20px;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.peer-video-wrapper:hover .pause-button {
    opacity: 1;
}

.audio-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    justify-content: space-between;
    font-size: 14px;
}

.audio-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.audio-row p {
    margin-bottom: 0;
    margin-left: 8px;
}

.audio-pfp {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}