/* Entire Thing */
.full-channel-list {
    padding: 0 8px 8px;
    overflow: auto;
}

.channel-fade-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 6%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, var(--main-2) 80%);
    z-index: 2;
    pointer-events: none;
}

.channel-fade-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 6%;
    height: 100%;
    background: linear-gradient(90deg, var(--main-2) 20%, transparent 100%);
    z-index: 2;
    pointer-events: none;
}

/* Channel wrapper */

::deep .category {
    border-radius: 8px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: transparent;
    width: max-content;
}

::deep .category:hover {
    border-left-width: 2px;
    border-left-style: solid;
}

/*
::deep .category.drag-over {
    border: 1px solid var(--v-cyan);
    background-color: rgba(0, 255, 255, 0.1);
}
*/

::deep .category .inner-drop {
    color: white;
    font-size: 12px;
    font-style: italic;
}


::deep .category.drag-over > .inner-drop {
    display: block;
    border: 1px solid var(--main-5);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 6px;
    margin-left: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
}

::deep .category.drag-over >  .inner-drop.highlight {
    border: 1px solid var(--v-cyan);
    background-color: rgba(0, 255, 255, 0.1);
}

::deep .channel.nested .path {
    border-radius: 0 var(--main-radius);
    border-left: 2px solid var(--v-cyan);
    width: 7px;
    height: 20px;
    position: absolute;
    border-bottom: 2px solid var(--v-cyan);
    left: -3px;
    top: -5px;
}

::deep .path.str {
    border-radius: 0;
    border-left: 2px solid var(--v-cyan);
    width: 7px;
    height: 100%;
    position: absolute;
    left: 15px;
    top: 0;
    border-bottom: 0;
}

::deep .path.str[depth="2"] {
    border-color: var(--p-cyan);
}

::deep .path.str[depth="3"] {
    border-color: var(--p-cyan-purple);
}

::deep .path.str[depth="4"] {
    border-color: var(--p-purple);
}

::deep .path.str[depth="5"] {
    border-color: var(--p-red);
}

::deep .channel.nested .path[depth="2"] {
    border-color: var(--p-cyan);
}

::deep .channel.nested .path[depth="3"] {
    border-color: var(--p-cyan-purple);
    
}

::deep .channel.nested .path[depth="4"] {
    border-color: var(--p-purple);
}

::deep .channel.nested .path[depth="5"] {
    border-color: var(--p-red);
}

::deep .channel-wrapper {
    position: relative;
    background-color: transparent;
    width: 100%;
}

::deep .channel-wrapper .drop {
    height: 50%;
    width: 100%;
    position: absolute;
    cursor: pointer;
}

::deep .channel-wrapper .drop.top {
    top: 0;
}
::deep .channel-wrapper .drop.bottom {
    bottom: 0;
}

::deep .channel-wrapper .drop.full {
    top: 0;
    height: 100%;
}

::deep .channel {
    cursor: pointer;
    min-width: 150px;
    position: relative;
    flex-direction: row;
    gap: 4px;
    max-width: 100%;
    display: flex;
    align-items: start;
    padding: 6px 8px 4px 6px;
}

::deep .channel-wrapper:hover > .channel {
    background: rgba(255, 255, 255, 0.075);
}

::deep .channel-wrapper:active > .channel {
    background: rgba(255, 255, 255, 0.125);
}

::deep .channel.open {
    background: rgba(255, 255, 255, 0.075);
}

::deep .channel.open:hover {
    background: rgba(255, 255, 255, 0.125);
}

::deep .channel .name {
    font-family: Ubuntu,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--font-color);
    display: inline-block;
    margin: 0 0 0 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*
::deep .channel.drag-over {
    border: 1px solid var(--v-cyan);
    background-color: rgba(0, 255, 255, 0.1);
}
*/

::deep .channel .inner-drop {
    display: none;
}

::deep .drop-line {
    height: 2px;
    background-color: var(--v-cyan);
    width: 100%;
}

::deep .category .inner-drop {
    display: none;
}

/* Sub list */

::deep .sub-list {
    position: relative;
    width: max-content;
}

/* Icons */

::deep .channel-icon {
    position: absolute;
    top: 50%;
    left: 6px;
    max-width: 20px;
    background-color: var(--main-3);
    z-index: 1;
}

::deep .channel-icon-holder {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

::deep .channel-icon-holder p {
    top: 4px;
    left: 3px;
    font-size: 10px;
    font-weight: 900;
    position: absolute;
}

::deep .category-icon {
    display: inline-block;
    max-width: 16px;
    margin-right: 6px;
    margin-left: -3px;
}