@inject WindowManager WindowManager
@inject ChannelListManager ListManager


<div 
    class="full-channel-list hide-scrollbar"
    ondragover="event.preventDefault();"
    @ondragenter="@OnDragEnter"
    style="padding-bottom:80px">
    @foreach (var planet in ValourClient.OpenPlanets)
    {
        <PlanetListComponent Planet="planet" @key='planet.Id'></PlanetListComponent>
    }
    <div class="channel-fade-left"></div>
    <div class="channel-fade-right"></div>
</div>


@code {
    private bool _render = true;
    protected override bool ShouldRender() => _render;

    protected override void OnAfterRender(bool firstRender)
    {
        _render = false;
    }

    private void Refresh()
    {
        _render = true;
        StateHasChanged();
    }
    
    protected override void OnInitialized()
    {
        WindowManager.OnPlanetFocused += OnPlanetChange;
        ValourClient.OnPlanetOpen += OnPlanetOpen;
        ValourClient.OnPlanetClose += OnPlanetClose;
    }

    private void OnDragEnter()
    {
        ListManager.OnDragEnterItem(0);
    }

    private Task OnPlanetOpen(Planet planet)
    {
        if (planet is not null)
            Console.WriteLine("Rebuilding channel list due to planet open: " + planet.Name);
        else
            Console.WriteLine("Rebuilding channel list due to planet open: null");

        Refresh();

        return Task.CompletedTask;
    }

   private Task OnPlanetClose(Planet planet)
    {
        if (planet is not null)
            Console.WriteLine("Rebuilding channel list due to planet close: " + planet.Name);
        else
            Console.WriteLine("Rebuilding channel list due to planet close: null");

        Refresh();
       
       return Task.CompletedTask;
    }

    private Task OnPlanetChange(Planet planet)
    {
        return Task.CompletedTask;
    }
}