/* Entire Thing */
.full-channel-list {
    padding: 8px;
}

.channel-fade-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 6%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, var(--main-2) 80%);
    z-index: 2;
    pointer-events: none;
}

.channel-fade-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 6%;
    height: 100%;
    background: linear-gradient(90deg, var(--main-2) 20%, transparent 100%);
    z-index: 2;
    pointer-events: none;
}

/* Channel wrapper */

::deep .category {
    border-radius: 8px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: transparent;
    width: max-content;
}

::deep .category:hover {
    border-left-width: 2px;
    border-left-style: solid;
}

/*
::deep .category.drag-over {
    border: 1px solid var(--v-cyan);
    background-color: rgba(0, 255, 255, 0.1);
}
*/

::deep .category .inner-drop {
    color: white;
    font-size: 12px;
    font-style: italic;
}


::deep .category.drag-over > .inner-drop {
    display: block;
    border: 1px solid var(--main-5);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 6px;
    margin-left: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
}

::deep .category.drag-over >  .inner-drop.highlight {
    border: 1px solid var(--v-cyan);
    background-color: rgba(0, 255, 255, 0.1);
}

::deep .category[depth="0"]:hover {
    border-left-color: #00a4b3;
}

::deep .category[depth="1"]:hover {
    border-left-color: #0024b3;
}

::deep .category[depth="2"]:hover {
    border-left-color: #7700b3;
}

::deep .category[depth="3"]:hover {
    border-left-color: #b30033;
}

::deep .category[depth="4"]:hover {
    border-left-color: #b35300;
}

::deep .category[depth="5"]:hover {
    border-left-color: #21b300;
}

::deep .channel-wrapper {
    position: relative;
    background-color: transparent;
}

::deep .channel-wrapper .drop {
    height: 50%;
    width: 100%;
    position: absolute;
    cursor: pointer;
}

::deep .channel-wrapper .drop.top {
    top: 0;
}
::deep .channel-wrapper .drop.bottom {
    bottom: 0;
}

::deep .channel {
    cursor: pointer;
    border-radius: 8px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 8px;
    overflow: visible;
    white-space: nowrap;
    /* width: max-content;*/
    min-width: 150px;
    position: relative;
}

::deep .channel-wrapper:hover .channel {
    background: rgba(255, 255, 255, 0.075);
}

::deep .channel-wrapper:active .channel {
    background: rgba(255, 255, 255, 0.125);
}

::deep .channel.open {
    background: rgba(255, 255, 255, 0.075);
}

::deep .channel.open:hover {
    background: rgba(255, 255, 255, 0.125);
}

::deep .channel .name {
    margin: 0;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    display: inline-block;
}

/*
::deep .channel.drag-over {
    border: 1px solid var(--v-cyan);
    background-color: rgba(0, 255, 255, 0.1);
}
*/

::deep .channel .inner-drop {
    display: none;
}

::deep .drop-line {
    height: 2px;
    background-color: var(--v-cyan);
    width: 100%;
}

::deep .category .inner-drop {
    display: none;
}

/* Sub list */

::deep .sub-list {
    margin-left: 8px;
    margin-right: 20px;
    width: max-content;
}

/* Icons */

::deep .channel-icon {
    display: inline-block;
    max-width: 16px;
    margin-right: 3px;
}

::deep .channel-icon-holder {
    display: inline-block;
    position: relative;
}

::deep .channel-icon-holder p {
    top: 4px;
    left: 3px;
    font-size: 10px;
    font-weight: 900;
    position: absolute;
}

::deep .category-icon {
    display: inline-block;
    max-width: 16px;
    margin-right: 6px;
    margin-left: -3px;
}