.planet .arrow {
    margin-left: 6px;
    cursor: pointer;
}

.planet-name {
    margin: 0;
    margin-left: 6px;
    vertical-align: top;
    display: inline-block;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.planet {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4px;
    background-color: var(--main-3);
    border-radius: 8px;
}

.is-open {
    padding-bottom: 10px;
}

.planet .icon {
    width: 22px;
    height: 22px;
    float: right;
    margin-right: 4px;
    border-radius: 50%;
}

.planet-about-icon {
    display: inline-block;
    max-width: 16px;
    margin-right: 2px;
    margin-left: -2px;
    margin-bottom: 3px;
}

.header-wrapper {
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    border-radius: 8px;
}

.header .right,
.header .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .right .unread-badge {
    background-color: var(--strong-tint);
    border-radius: 8px;
    height: 13px;
    min-width: 13px;
    transition: min-width, height 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-wrapper:hover .header .right .unread-badge {

}

.header .right .unread-badge.notification {
    background-color: var(--p-red);
}

.header .edit-button {
    margin-left: 6px;
    transition: transform 0.2s ease-in-out;
}

.header .edit-button:hover {
    transform: rotate(45deg) scale(1.1);
}

.unread-badge span {
    font-size: 10px;
    padding: 0;
    margin-left: 3px;
    margin-right: 2px;
}

.planet-about {
    cursor: pointer;
    border-radius: 8px;
    padding: 2px;
    padding-left: 6px;
    overflow: visible;
    white-space: nowrap;
    width: max-content;
    padding-right: 24px;
}

.planet .header:hover {
    background: rgba(255, 255, 255, 0.075);
}

.planet .header:active {
    background: rgba(255, 255, 255, 0.125);
}

.planet .channel-list {
    margin-left: 2px !important;
}

.channel-list .v-gradient-underline {
    margin-left: 6px;
    margin-right: 6px;
}
