@inherits AttachmentComponent

<div class="container">
    <div class="file-icon">
        <h4 class="extension">@_extension</h4>
    </div>
    <a class="nohide" href="@_location">@Attachment.FileName</a>
</div>



@code {
    [Parameter]
    public string CustomStyle { get; set; }

    private string _extension = "?";
    
    private string _location;

    protected override async Task OnInitializedAsync()
    {
        if (Attachment is null)
            return;

        _location = await Attachment.GetSignedUrl(Message.Client, Message.Node);

        string[] split = null;
        
        if (Attachment.FileName is not null)
        {
            split = Attachment.FileName.Split('.');
        }
        else if (Attachment.Location is not null)
        {
            split = Attachment.Location.Split('.');
        }

        if (split is null || split.Length < 2)
            return;

        _extension = split[split.Length - 1].ToUpper();
        _extension = _extension.Substring(0, Math.Min(_extension.Length, 11));
    }
}
