.image-attachment-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
}

.image-attachment-wrapper img:before {
    display: normal;
    content: attr(href);
    visibility: visible;
}

.image-attachment-wrapper img {
}

.image-attachment-wrapper img::before {
}

.attached-image {
}