.image-attachment-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
}

.image-attachment-wrapper img:before {
    display: normal;
    content: attr(href);
    visibility: visible;
}

.image-attachment-wrapper img {
    object-fit: contain;
    object-position: left;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    height: max-content;
    width: max-content;
}

.image-attachment-wrapper img::before {
    background-color: grey;
    border: none;
    display: none;
    overflow: hidden;
}