.invite-attachment {
    background-color: var(--main-1);
    border-radius: 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    max-width: 100%;
}
.invite-attachment img.icon {
    width: 48px;
    height: 48px;
    border-radius: 0.5em;
    margin-right: 0.5em;
}
.invite-attachment.loading,
.invite-attachment.invalid {
    color: var(--font-color);
}
.invite-attachment .name {
    margin-right: auto;
    margin-left: 0.5em;
}
