.receipt-container {
    background-color: var(--main-1);
    border-radius: var(--radius-xl);
    padding: 1em;
    max-width: 100%;
    display: inline-block;
    background: rgb(6,6,74);
    background: linear-gradient(51deg, var(--link-color) -80%, var(--main-1) 50%, var(--color-secondary) 220%);
}

.sent {
    margin: 0; 
    margin-top: 8px;
    margin-bottom: 12px;
}

.accounts {
    
}

.receipt-container .account-from {
    display: inline-block;
}

.receipt-container .account-from .inner {
    display: inline-block;
}

.receipt-container .account-to {
    display: inline-block;
}


.receipt-container .account-number {
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.receipt-container .time {
    font-size: var(--font-size-md);
    line-height: var(--line-height-base);
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    white-space: nowrap;
}

.receipt-container .trans-info {
    font-size: var(--font-size-2xs);
    line-height: var(--line-height-base);
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}
