@inherits AttachmentComponent
@inject IJSRuntime JsRuntime

<div class="reddit-embed" id="@_id">
</div>

@code {
    private string _id = "reddit-embed-" + Guid.NewGuid().ToString();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("injectReddit", _id, Attachment.Html);
        }
    }
}