<div class="twitch-container">
    <iframe
        class="twitch-embed"
        src="@Attachment.Location&parent=valour.gg&autoplay=false"
        width="560"
        height="315"
        allowfullscreen>
    </iframe>
</div>

@code {
    [Parameter]
    public MessageAttachment Attachment { get; set; }

    [Parameter]
    public MessageComponent MessageComponent { get; set; }
}