@inherits AttachmentComponent

<div class="vimeo-container">
    <iframe
        class="vimeo-embed"
        title="Vimeo embed"
        src="@Attachment.Location"
        width="560"
        height="315"
        frameborder="0"
        allowfullscreen>
    </iframe>
</div>