<div class="youtube-container">
    <iframe
        class="youtube-embed"
        width="560"
        height="315"
        src="@Attachment.Location"
        title="YouTube embed"
        frameborder="0"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        allowfullscreen>
    </iframe>
</div>

@code {
    [Parameter]
    public MessageAttachment Attachment { get; set; }

    [Parameter]
    public MessageComponent MessageComponent { get; set; }
}
