@inherits WindowContentComponent<ModToolsWindowData>

<h4 class="title">Mod Tools for @(Data.Staff ? "Staff" : Data.Planet.Name)</h4>

<div class="table-wrapper">
    <TabContainerComponent Titles="@_tabs" MaxHeight="100%" ContentStyle="background-color: var(--main-1); padding: 1em">
        <TabOne>
            @if (Data.Staff)
            {
                <StaffUserQueryTable />
            }
        </TabOne>
        <TabTwo>
            <ReportsQueryTable />
        </TabTwo>
    </TabContainerComponent>
</div>
@code {

    public static WindowContent GetDefaultContent(ModToolsWindowData data)
    {
        return new WindowContent<ModToolsWindowComponent, ModToolsWindowData>()
        {
            Title = "Staff Tools",
            Icon = "_content/Valour.Client/media/logo/logo-64.png",
            Data = data,
        };
    }
    
    public static async Task<FloatingWindowProps> GetDefaultFloatingProps()
    {
        var dim = await BrowserUtils.GetWindowDimensions();

        return new FloatingWindowProps()
        {
            Height = dim.Height / 2,
            Width = dim.Width / 2,
            X = 100,
            Y = 100
        };
    }
    
    
    private readonly string[] _tabs =
        new string[] { "Members", "Reports" };
}