<h3 class="title">Mod Tools for @(Data.Staff ? "Staff" : Data.Planet.Name)</h3>

<div class="table-wrapper">
    <TabContainerComponent Titles="@_tabs">
        <TabOne>
            
        </TabOne>
        <TabTwo>
            
        </TabTwo>
    </TabContainerComponent>
</div>
@code {
    private readonly string[] _tabs =
        new string[] { "Members", "Reports" };
    
    [Parameter]
    public WindowData Window { get; set; }
        
    [Parameter] 
    public ModToolsWindowData Data { get; set; }
}