<h4 class="title">Mod Tools for @(Data.Staff ? "Staff" : Data.Planet.Name)</h4>

<div class="table-wrapper">
    <TabContainerComponent Titles="@_tabs" MaxHeight="100%" ContentStyle="background-color: var(--main-1); padding: 1em">
        <TabOne>
            @if (Data.Staff)
            {
                <StaffUserQueryTable />
            }
        </TabOne>
        <TabTwo>
            <ReportsQueryTable />
        </TabTwo>
    </TabContainerComponent>
</div>
@code {

    public static async Task<WindowTab> GetDefaultSettings(ModToolsWindowData data)
    {
        var dim = await DomWindowData.Instance.GetWindowDimensions();
        
        var window = new WindowTab(){
            Title = "Staff Tools",
            Icon = "_content/Valour.Client/media/logo/logo-64.png",
            Type = typeof(ModToolsWindowComponent),
            Data = data,
            StartFloatWidth = dim.Width / 2,
            StartFloatHeight = dim.Height / 2,
            AutoScroll = true
        };

        return window;
    }
    
    
    private readonly string[] _tabs =
        new string[] { "Members", "Reports" };
    
    [Parameter]
    public WindowTab Window { get; set; }
        
    [Parameter] 
    public ModToolsWindowData Data { get; set; }
}