.modal-bg {
    background-color: var(--main-3);
    padding: 20px;
    border-radius: 20px;
}

.welcome {
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.24, 0.5, 0.74, 2);
    animation-duration: 0.25s;
}