.account-selected {
    margin-bottom: 4px;
}

.account-selected {
    text-align: center;
}

.select-title {
    margin-top: 0.5em;
    border-radius: 4px;
    text-align: center;
}

.account-select {
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 45px;
    align-items: center;
    background-color: var(--main-3);
    padding: 8px;
    border-radius: var(--main-radius);
}

.account-select:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.input-row {
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-top: 16px;
}

.recipient-dropdown-content {
    max-height: 250px;
    overflow-y: auto;
    padding-right: 12px;
}

.selected-preview {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: var(--main-4);
}