@inject ILocalStorageService LocalStorage

@if (!_show)
{
    return;
}

<div class="change-log" @onclick="OnClose">
    <h4>Valour 0.2.5.0 Changelog (Click to close)</h4>
    
    <img alt="Valour logo for version 0.2.5.0 changelog" style="width: 95%; margin-bottom: 18px" src="_content/Valour.Client/media/0.2.5.0.jpg" />
    
    <p style="color: #00ffff">SOUND IS HERE!</p>
    <ul>
        <li style="color: #ff00ff">Add ability to create and join voice channels!</li>
        <ul>
            <li>This is highly alpha</li>
            <li>There is zero channel security implemented at the moment</li>
            <li>Use at your own sanity</li>
        </ul>
        <li>Bug fixes</li>
    </ul>
    <p>Thank you for using Valour! BIG THINGS are coming ;) - Spike</p>
</div>

@code {

    private bool _show = false;
    
    protected override async Task OnInitializedAsync()
    {
        var version = typeof(ValourClient).Assembly.GetName().Version.ToString();
        
        if (!await LocalStorage.ContainKeyAsync("LastVersion") ||
            await LocalStorage.GetItemAsync<string>("LastVersion") != version)
        {
            _show = true;
            await LocalStorage.SetItemAsync<string>("LastVersion", version);
            
            StateHasChanged();
        }
    }
    
    private void OnClose()
    {
        _show = false;
        StateHasChanged();
    }

}