@inject ILocalStorageService LocalStorage

@if (!_show)
{
    return;
}

<div class="change-log" @onclick="OnClose">
    <h4>Valour 0.2.2.0 Changelog (Click to close)</h4>
    
    <img alt="Valour logo for version 0.2.2.0 changelog" style="width: 95%; margin-bottom: 18px" src="_content/Valour.Client/media/0.2.2.0.jpg" />
    
    <p style="color: #00ffff">THE ECONOMY IS HERE! Ok, but there's more as well!</p>
    <ul>
        <li style="color: #ff00ff">Add the base Community Economy systems!</li>
        <ul>
            <li>Upload button now has a 'send currency' tab</li>
            <li>You can send community currencies or global Valour Credits</li>
            <li>Sent transactions provide a receipt which can be added to chat</li>
            <li>Notifications are sent out for transactions</li>
            <li>Transaction receipts look pretty hot</li>
            <li>Make sure to read the new <a target="_blank" href="https://github.com/Valour-Software/Valour/blob/main/PLATFORM_ECO_RULES.md">Platform Eco Rules</a></li>
        </ul>
        <li>Improved tag system</li>
        <ul>
            <li>Referrals now use tags</li>
            <li>Friend requests now use tags</li>
            <li>API routes now use tags, along with useful routes to get users via Name#TAG</li>
        </ul>
        <li style="color: #ff00ff">New attachments system</li>
        <ul>
            <li>Pasted links now use the normal attachment system under the hood</li>
            <li>Better YouTube support</li>
            <li>Better Vimeo support</li>
            <li>Twitch support(?)</li>
            <li>Images now size properly and don't jumble chat around as much</li>
            <li>Jumbling needs work on videos</li>
            <li>New attachment system adds a ton of future feature abilities</li>
        </ul>
        <li>Improve password recovery</li>
        <ul>
            <li>Fix background</li>
            <li>Make it clear when an email has been sent</li>
            <li>Generally smoother experience</li>
        </ul>
        
        <li>Upload menu improvements</li>
        <li>Status messages no longer overflow (you know who you are)</li>
    </ul>
    <p>Thank you for using Valour! This update was especially exciting, and the eco features will keep coming! - Spike</p>
</div>

@code {

    private bool _show = false;
    
    protected override async Task OnInitializedAsync()
    {
        var version = typeof(ValourClient).Assembly.GetName().Version.ToString();
        
        if (!await LocalStorage.ContainKeyAsync("LastVersion") ||
            await LocalStorage.GetItemAsync<string>("LastVersion") != version)
        {
            _show = true;
            await LocalStorage.SetItemAsync<string>("LastVersion", version);
            
            StateHasChanged();
        }
    }
    
    private void OnClose()
    {
        _show = false;
        StateHasChanged();
    }

}