
.custom-dropdown-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}

.custom-dropdown-content {
    background-color: var(--main-1);
    border-radius: 0.5em;
    padding: 0.5em;
    max-height: 300px;
    overflow-y: auto;
}

.custom-dropdown-overlay.mobile {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.custom-dropdown-overlay.mobile .custom-dropdown-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.dropdown-search {
    width: 100%;
    margin-bottom: 0.5em;
}

.dropdown-item {
    cursor: pointer;
    padding: .25em;
    margin: 0.25em 0;
}

.dropdown-item.selected {
    border-radius: var(--small-radius);
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px var(--v-cyan);
}

.dropdown-item .check {
    margin-left: auto;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.close-btn {
    margin-top: 0.5em;
}
