.v-dropdown {
    position: relative;
    text-align: right;
}

.mobile .v-dropdown {
    position: unset;
}

.v-dropdown .content.hidden {
    display: none;
}

.v-dropdown .content {
    position: absolute;
    top: 100%;
    background-color: var(--main-1);
    z-index: 5;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    right: 0;
    padding: 0.5em;
}

.mobile .v-dropdown .content {
    right: 0;
    left: 0;
    top: auto;
    bottom: 0;
    z-index: 100000;
}

.v-dropdown .align-right {
    right: 0;
}

.v-dropdown .align-left {
    right: 0;
}

.dropdown-close {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    cursor: default;
}