@inject IJSRuntime JsRuntime

<div @ref="@_containerRef" class="fade-container">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    /// <summary>
    /// Module for calling Javascript functions
    /// </summary>
    private IJSObjectReference _jsModule;

    private ElementReference _containerRef;
    
    [Parameter]
    public Func<Task> OnFadeOut { get; set; }

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/Valour.Client/Components/Utility/Fade.razor.js?version=$(SHORTHASH)");
            await _jsModule.InvokeVoidAsync("fadeIn", _containerRef);
        }
    }
    
    public async Task FadeOut()
    {
        await _jsModule.InvokeVoidAsync("fadeOut", _containerRef);
        await Task.Delay(300);
        
        if (OnFadeOut is not null)
        {
            await OnFadeOut.Invoke();
        }
    }

}