.cropper-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.cropper-image {
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}
