<div class="loading-container">
    <div class="loading-center">
        <img alt="Valour logo" src="_content/Valour.Client/media/logo/logo-256.webp" class="loading-logo color-shift">
        <p class="loading-title">Valour</p>
        <p class="loading-subtext">@Subtext</p>
    </div>
</div>

@code {
    [Parameter]
    public string Subtext { get; set; }
}