.page {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login-left {
    background-color: var(--main-2);
    max-width: 400px;
    flex-grow: 1;
}

.mobile-image {
    background-image: url(/_content/Valour.Client/media/Spookvooper-tall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}

.login-left form {
    padding: 40px;
    padding-top: 10px;
}

.login-background {
    background-image: url(/_content/Valour.Client/media/Spookvooper-tall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    margin: 0px;
    backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    /* bottom: 0px; */
    height: 100vh;
    z-index: -1;
}

.victor-wrapper {
    text-align: center;
}

.victor-wrapper .victor {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.forgot-password {
    color: #ffffffaa;
    font-size: 14px;
    display:block;
    cursor: pointer;
    text-align: right;
}

.forgot-password:hover {
    color: #ffffff;
}

.hidden-victor {
    position: absolute;
    z-index: -1;
    top: -33px;
    scale: 0.4;
    left: 45px;
    width: 100px;
    height: 100px;
    transition: all 0.2s ease-in-out;
}

.v-btn-grad-wrapper:hover .hidden-victor {
    z-index: 0;
    scale: 0.6;
    top: -67px;
    left: 66px;
    rotate: 12deg;
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 400px){
    .mobile-image {
        display: none;
    }

    .login-background {
        height: 100vh;
    }

    .login-left form {
        padding-top: 40px;
    }
}

.multi-factor-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--main-2);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1000;

    min-width: min(95vw, 300px);
    max-width: 300px;

}

.multi-factor-auth h3 {
    margin-bottom: 25px;
}

.multi-factor-auth input {
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
}

.multi-factor-auth button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
}
