@inherits Modal<PasswordConfirmModal.Params>
@inject NavigationManager NavManager
@inject ValourClient Client

<section class="v-modal">
    <div class="top-section">
        <h2 class="title">@Data.Title</h2>
    </div>
    
    <div class="form-group mt-2">
        <label>Password</label>
        <input id="password-input" type="password" autocomplete="current-password" class="form-control" @bind-value="@_password"/>
    </div>
    <br/>

    @if (!string.IsNullOrWhiteSpace(_errorSpan))
    {
        <span id="password-span" class="text-danger">@_errorSpan (For help contact support@valour.gg)</span>
        <br/>
    }

    <div class="mt-4 bottom">
        <div class="flex flex-row gap-4">
            <div @onclick="@OnCancel" class="btn v-btn d-inline-block">Cancel</div>
            <div @onclick="@OnConfirm" class="btn v-btn danger d-inline-block">Confirm</div>
        </div>
    </div>
</section>


@code {

    public class Params
    {
        public string Icon { get; set; }
        public string Title { get; set; }
        public string Description { get; set; }
    }
	
    private string _password = "";
    private string _errorSpan;

    private async Task OnConfirm()
    {
        var result = await Client.DeleteMyAccountAsync(_password);
        if (result.Success)
        {
            NavManager.NavigateTo("/", true);
        }
        else
        {
            _errorSpan = "An error occured. Check your password or contact support@valour.gg";
        }
    }

    private void OnCancel() => Close();
}