.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: var(--font-color);
    table-layout: fixed;
}

table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

table td, table th {
    border: none;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

table th {
    background-color: #222;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 2;
}

.button-row {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    gap: 1em;
}

.table-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}