@using System.Reflection.Metadata
@if (Result is null)
{
    return;
}

@if (Result.Success)
{
    <p class="text-info">@(Result.Message ?? "Success!")</p>
}
else
{
    <p class="text-danger">@(Result.Message ?? "An error occured.") 
        @if (Result.Details is not null)
        {
            <span>&nbsp;</span>
            <i class="bi bi-info-circle-fill info-icon" @onclick="@OnDetails"></i>
        }
    </p>
}

@code {
    
    [CascadingParameter]
    public ModalRoot ModalRoot { get; set; }
    
    [Parameter]
    public ITaskResult Result { get; set; }
    
    private void OnDetails()
    {
        var data = new ErrorModal.ModalParams()
        {
            Result = Result
        };
        
        ModalRoot.OpenModal<ErrorModal>(data);
    }
}