@if (Result is null)
{
    return;
}

@if (Result.Success)
{
    <div class="result-message success">
        <i class="bi bi-check-circle"></i> @(Result.Message ?? "Success!")
    </div>
}
else
{
    <div class="result-message error">
        <i class="bi bi-exclamation-circle"></i> @(Result.Message ?? "An error occured.")
        <i class="bi bi-info-circle-fill info-icon" @onclick="@OnDetails"></i>
    </div>
}

@code {
    
    [CascadingParameter]
    public ModalRoot ModalRoot { get; set; }
    
    [Parameter]
    public ITaskResult Result { get; set; }
    
    [Parameter]
    public string Style { get; set; }
    
    private void OnDetails()
    {
        var data = new ErrorModal.ModalParams()
        {
            Result = Result
        };
        
        ModalRoot.OpenModal<ErrorModal>(data);
    }
}