.role-dropdown-content {
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 0.5em;
}

.role-option {
    cursor: pointer;
}
.role-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
