.empty-state {
    text-align: center;
    padding: 1rem;
    color: var(--font-alt-color);
}

.empty-state i {
    font-size: var(--font-size-2xl);
    display: block;
    margin-bottom: 0.25rem;
}

