.empty-state {
    padding: 1rem;
    text-align: center;
    color: var(--text-tertiary);
    border: none;
}

.empty-state i {
    display: block;
    margin-bottom: 0.25rem;
    color: var(--text-tertiary);
    font-size: var(--font-size-2xl);
}
