<div class="tri-button">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 93.77051 32.59009" width="64px">
        <g id="Layer_2" data-name="Layer 2" style="pointer-events: none">
            <g id="Layer_2-2" data-name="Layer 2" style="pointer-events: none">
                <g>
                    <g @onclick="(async () => await OnChangeState(TriButtonState.Yes))" style="cursor: pointer; pointer-events: all">
                        <path class="tri-button-back" d="M61.67969,32.09033V.5h15.7959a15.79517,15.79517,0,0,1,0,31.59033Z" />
                        <path class="tri-button-back" d="M77.4751,1a15.295,15.295,0,1,1,0,30.59009H62.18018V1H77.4751m0-1H61.18018V32.59009H77.4751A16.295,16.295,0,1,0,77.4751,0Z" />
                    </g>
                    <g @onclick="(async () => await OnChangeState(TriButtonState.No))" style="cursor: pointer; pointer-events: all">
                        <path class="tri-button-back" d="M16.29492,32.09033A15.79517,15.79517,0,0,1,16.29492.5H32.08984V32.09033Z" />
                        <path class="tri-button-back" d="M31.58984,1V31.59009H16.29492A15.295,15.295,0,0,1,16.29492,1H31.58984m1-1H16.29492a16.295,16.295,0,0,0,0,32.59009H32.58984V0Z" />
                    </g>
                    <g @onclick="(async () => await OnChangeState(TriButtonState.Disabled))" style="cursor: pointer; pointer-events: all">
                        <rect class="tri-button-back" x="31.08984" y="0.5" width="31.58984" height="31.59033" />
                        <path class="tri-button-back" d="M62.18018,1V31.59009H31.58984V1H62.18018m1-1H30.58984V32.59009H63.18018V0Z" />
                    </g>
                    <path class="tri-button-hightlight" style="fill: @GetStateColor(); pointer-events: none" d="M16.29455,2.39513H77.47521a13.90009,13.90009,0,0,1,0,27.80017H16.29455a13.90009,13.90009,0,0,1,0-27.80017Z" />
                </g>

                @if (State == TriButtonState.Yes)
                {
                    <path class="tri-button-yes" d="M67.6509,6.45707a13.90015,13.90015,0,1,1,0,19.65778A13.90015,13.90015,0,0,1,67.6509,6.45707Zm8.221,20.15462a1.61712,1.61712,0,0,0,3.23423,0V17.89386l8.71779.00005a1.61712,1.61712,0,0,0,0-3.23423l-6.41786,0,0,0H79.10612V12.35969l0-6.41782a1.61711,1.61711,0,1,0-3.23422,0l0,8.71776-8.71781,0a1.61712,1.61712,0,0,0,0,3.23423l8.71781,0Z" />
                }
                else if (State == TriButtonState.No)
                {
                    <path class="tri-button-no" d="M16.295,2.39507A13.90015,13.90015,0,1,1,2.39487,16.29522,13.90015,13.90015,0,0,1,16.295,2.39507ZM7.85667,22.45966a1.61711,1.61711,0,0,0,2.28694,2.28694l6.16444-6.16444,6.16437,6.16444a1.61711,1.61711,0,1,0,2.287-2.28694l-4.53809-4.53814h0L18.595,16.29522l1.62631-1.62631,4.53807-4.5381a1.61711,1.61711,0,1,0-2.287-2.28694l-6.16437,6.1644-6.16444-6.1644a1.61711,1.61711,0,0,0-2.28694,2.28694l6.16444,6.16441Z" />
                }
                else
                {
                    <path class="tri-button-disabled" d="M37.0562,6.44789a13.90015,13.90015,0,1,1,0,19.65778A13.90016,13.90016,0,0,1,37.0562,6.44789ZM48.51142,17.88467l8.71779.00005a1.61711,1.61711,0,0,0,0-3.23422l-6.41786,0,0,0H45.27719l-8.71781,0a1.61712,1.61712,0,0,0,0,3.23423l8.71781,0Z" />
                }
            </g>
        </g>
    </svg>
</div>

@code {
    public enum TriButtonState
    {
        Disabled, Yes, No
    }

    public TriButtonState State { get; set; }

    public string color = "#ffad19";

    const string red = "#ef3a3a";
    const string yellow = "#ffad19";
    const string green = "#05ff00";

    [Parameter]
    public Func<TriButtonState, Task> OnStateChange { get; set; }

    public void Refresh()
    {
        StateHasChanged();
    }

    public string GetStateColor()
    {
        if (State == TriButtonState.Yes)
        {
            return green;
        }
        else if (State == TriButtonState.Disabled)
        {
            return yellow;
        }
        else
        {
            return red;
        }
    }

    public async Task OnChangeState(TriButtonState newstate, bool events = true)
    {
        State = newstate;

        StateHasChanged();

        if (State == TriButtonState.Yes)
        {
            if (OnStateChange != null && events)
            {
                await OnStateChange.Invoke(TriButtonState.Yes);
            }
        }

        else if (State == TriButtonState.No)
        {
            if (OnStateChange != null && events)
            {
                await OnStateChange.Invoke(TriButtonState.No);
            }
        }

        else
        {
            if (OnStateChange != null && events)
            {
                await OnStateChange.Invoke(TriButtonState.Disabled);
            }
        }
    }
}
