@inject WindowManager windowManager
@inject SoundManager soundManager
@using Version = Valour.Shared.Version
@using System.Runtime.InteropServices

<div class="version">
    @if (DeviceInfo.IsMobile)
    {
        <i class="bi bi-list open-menu" @onclick="Sidebar.ToggleMobileSidebar"></i>
    }
    <img alt="Valour logo" class="logo" src="_content/Valour.Client/media/logo/logo-256.png" @onclick="OnClickLogo"/>
    <p class="text">Valour Alpha <br/> V@(typeof(ISharedUser).Assembly.GetName().Version.ToString()) <span style="font-size: 10px; color: #7A7A7A">(@Version.ShortHash)</span></p>
</div>

@code {
    private int _logoClicks = 0;
    private async Task OnClickLogo()
    {
        await windowManager.ResetAllWindows();
        _logoClicks++;
        if (_logoClicks == 5)
        {
            _logoClicks = 0;
            await soundManager.PlaySound("Notification.mp3");
        }
    }
}