.version {
    background-color: var(--main-1);
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 8px;
    width: 100%;
    align-items: center;
}

.version .logo {
    max-width: 28px;
    max-height: 28px;
    margin-right: 8px;
    border-radius: var(--main-radius);
    cursor: pointer;
}

.version .text {
    margin: 0;
    font-size: 13px;
}

.version-gap {
    height: 60px;
}

.open-menu {
    font-size: 24px;
    margin-right: 18px;
    cursor: pointer;
}