@using Version = Valour.Shared.Version

<div class="version">
    @if (DeviceInfo.IsMobile)
    {
        <i class="bi bi-list open-menu" @onclick="Sidebar.ToggleMobileSidebar"></i>
    }
    <p class="text" style="cursor: pointer" @onclick="OnClickLogo">Valour Alpha V@(GetVersionNumber()) <span style="font-size: var(--font-size-2xs); color: #7A7A7A">(@GetShortHash())</span></p>
</div>

@code {

    private string GetVersionNumber()
    {
        var baseVer = typeof(ISharedUser)?.Assembly?.GetName()?.Version?.ToString() ?? "?.?.?.?";
        return baseVer.Substring(0, baseVer.Length - 2);
    }

    private string GetShortHash()
    {
        // $(SHORTHASH) is replaced at build time with the short git hash, but if we're running in a development environment it will be empty, so we'll just return "dev" in that case
        // But the comparison would be replaced too, so we split it
        if (Version.ShortHash == "$" + "(SHORTHASH)")
        {
            return "Modded";
        }

        return Version.ShortHash;
    }
    
    private void OnClickLogo()
    {
        WindowService.ResetAll();
    }
}