@if (!Active)
{
    return;
}

<div class="context-menu-mobile-wrapper" @onclick="OnWrapperClick">
    <div class="context-menu-mobile" @onclick:stopPropagation="true">
        <RolesMenuComponent Member="Member"></RolesMenuComponent>
    </div>
</div>

@code {
    // Singleton
    public static MobileRolesMenuComponent Instance;

    // Controls display
    public static bool Active { get; set; } = true;

    // Data
    public static PlanetMember Member { get; set; }

    public static void Open(PlanetMember member)
    {
        Active = true;
        Member = member;

        Instance.StateHasChanged();
    }

    public void OnWrapperClick()
    {
        Active = false;
        StateHasChanged();
    }
}

