<div>
    <h4>Your Applications</h4>

    @if (Apps is null)
    {
        <br/> 
        <h2>Loading...</h2>
    }

    @foreach (var app in Apps)
    {
        var app_n = app;

        <div class="app" @onclick='() => OpenEditApp(app_n)'>
            <img src='@app.Image_Url' class='app-icon' />
            <p class='app-name'>@app.Name</p>
        </div>  
    }
</div>


@code 
{
    [CascadingParameter]
    public IModalService Modal { get; set; }

    public List<OauthApp> Apps { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Apps = await ValourClient.Self.GetOauthAppAsync();
    }

    public void Refresh(){
        StateHasChanged();
    }

    public async Task OpenEditApp(OauthApp app)
    {
        ModalParameters modParams = new();

        modParams.Add("App", app);
        modParams.Add("ViewComponent", this);

        Modal.Show<EditAppComponent>(
             "Edit App", 
             modParams,
             new ModalOptions(){
                 Class = "modal-shrink-fit"
             }
        );
    }
}

