@{
    ViewData["Title"] = "Frequently Asked Questions";
    ViewData["Description"] = "See what makes Valour different from other chat platforms.";
}

<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <h3 class="title-gradient text-center p-2">Valour Frequently Asked Questions</h3>
            <h5 class="text-center p-2">What is Valour?</h5>
            <p class="text-center p-2">Valour is an Open Source, privacy-focused community chat application built by a group of volunteers to give online communities an immersive place to call home.</p>
            
            <h5 class="text-center p-2">How do I use Valour?</h5>
            <p class="text-center p-2">You can try the Valour Alpha at any time at app.valour.gg</p>
            
            <h5 class="text-center p-2">What does Open Source mean?</h5>
            <p class="text-center p-2">Open Source means that the code used to create Valour, both on the client and server, is public. This also means you can modify the client or learn how the platform works with our blessing.</p>
            
            <h5 class="text-center p-2">Is Valour a Discord knock-off?</h5>
            <p class="text-center p-2">Unlike other competitors, Valour uses an entirely different tech stack and methodology than Discord. Besides our technical features like chat windowing and our node system, we aim to build social media features you see across many different popular apps today. We're just starting with community chat because that's what we know best.</p>
            
            <h5 class="text-center p-2">What's your incentive to build Valour?</h5>
            <p class="text-center p-2">Our founders have had a rocky experience with other platforms, between lack of transparency, technical issues, and a general disappointment in the lack of innovation currently facing social media. Currently none of our volunteers, including the founders, make any profit from Valour, and all hosting costs are currently borne by the team. We hope to gain support and eventually use Valour as a full time source of employment.</p>
            
            <h5 class="text-center p-2">How do you protect my privacy?</h5>
            <p class="text-center p-2">Along with using the top industry standards of data storage, we do not sell your data to any third parties and only use vetted, trusted, and absolutely necessary partners in relation to your data (such as email providers).</p>
        </div>
    </div>
</div>