@model HomeModel

@{
    ViewData["Title"] = "Valour";
}
<div class='index-back'>
    <div class="text-center">
        <h1 class="display-4">Valour is coming.</h1>
        <p style='margin: 0'>Join the movement for a more flexible, transparent, and open platform made by communities for communities.</p>
        <a class='v-link' href="#">What is Valour?</a>
    </div>

    <div class="text-center m-4">
        <a href="https://app.valour.gg" class="btn v-button">Open the App</a>
    </div>

    <div class="stats-box">
        <h3>Users: @Model.UserText</h3>
        <h3>Planets: @Model.PlanetText</h3>
    </div>
</div>

