<div id="modal-holder">
    <ChannelListContextMenuComponent></ChannelListContextMenuComponent>

    <AddChannelContextMenuComponent></AddChannelContextMenuComponent>

    <MemberContextMenuComponent></MemberContextMenuComponent>

    <MessageContextMenuComponent></MessageContextMenuComponent>
</div>