.dock-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.drop-targets {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000aa;
    left: 0;
    top: 0;
    z-index: 10;
}

.drop-targets .targets {
    position: relative;
    height: 100%;
    width: 100%;
}

.drop-targets .targets > div {
    pointer-events: all;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 40px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.drop-targets .targets > div:hover {
    background-color: #65fff2;
}

.targets .up {
    top: calc(50% - 40px) !important;
    padding-bottom: 8px;
    border-radius: 1em 1em 0 0;
}

.targets .down {
    top: calc(50% + 40px) !important;
    padding-top: 8px;
    border-radius: 0 0 1em 1em;
}

.targets .left {
    left: calc(50% - 40px) !important;
    border-radius: 1em 0 0 1em
}

.targets .right {
    left: calc(50% + 40px) !important;
    border-radius: 0 1em 1em 0;
}