.window-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.window-wrapper .floating {
    position: fixed;
}

.window {
    flex-direction: column;
    background-color: var(--main-3);
    pointer-events: all;
    overflow-y: auto;
    display: none;
    max-height: calc(100% - 30px);
    flex: 1 1 auto;
}

.mobile .window {
    max-height: 100%;
}

.active .window {
    display: flex;
}

.tab-wrapper {
    padding-right: 5px;
    transition: transform, width, margin-left 0.2s ease-in-out;
    pointer-events: all;
}

.tab-wrapper.last {
    padding-right: 0;
}

.tab {
    height: 30px;
    padding: 5px;
    background-color: var(--main-5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1em 1em 0 0;
    cursor: pointer;
    min-width: 150px;
    box-shadow: #000 0 0 5px;
}

.active .tab {
    background-color: var(--p-cyan-purple);
}

.active .tab:hover {
    background-color: var(--p-purple);
}


.tab:hover {
    background-color: var(--p-cyan-purple);
}

.tab:active {
    background-color: var(--p-purple);
}

.tab-info {
    height: 100%;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
}

.tab-buttons {
    display: flex;
    flex-direction: row;
    margin-right: 0.5em;
    color: #ffffff88;
}

.tab-buttons span {
    margin-left: 0.25em;
}

.tab-buttons .home:hover {
    color: #0ff;
}

.tab-buttons .plus:hover {
    color: lime;
}

.tab-buttons .minus:hover {
    color: red;
}

.tab .tab-title {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: white;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tab .tab-icon {
    height: 90%;
    margin-right: 0.4em;
    margin-left: 0.25em;
    user-select: none;
    border-radius: 1em;
}

.w-floating {
    position: fixed !important;
    width: 300px;
    height: 300px;
    z-index: 100 !important;
    resize: both !important;
    overflow: hidden !important;
    pointer-events: all !important;
    border-radius: 1em !important;
    box-shadow: #000 0 0 10px, #000 0 0 10px !important;
}

.w-floating .tab-wrapper {
    width: 100% !important;
    margin-left: 0 !important;
}

.w-floating.dragging {
    opacity: 0.6 !important;
    z-index: 101 !important;
}