@inherits ControlledRenderComponentBase

<div class="drop-targets"
     ondragenter="event.preventDefault(); event.stopPropagation();"
     ondragover="event.preventDefault(); event.stopPropagation();"
     @onclick:stopPropagation="true">
    <div class="targets">
        <div @onclick="(async () => await OnDrop(DropLocation.Center))" @ondrop="(async () => await OnDrop(DropLocation.Center))" class="center w-drop-target"><i class="bi bi-bullseye"></i></div>
        <div @onclick="(async () => await OnDrop(DropLocation.Up))" @ondrop="(async () => await OnDrop(DropLocation.Up))" class="up w-drop-target"><i class="bi bi-caret-up-fill"></i></div>
        <div @onclick="(async () => await OnDrop(DropLocation.Down))" @ondrop="(async () => await OnDrop(DropLocation.Down))" class="down w-drop-target"><i class="bi bi-caret-down-fill"></i></div>
        <div @onclick="(async () => await OnDrop(DropLocation.Left))" @ondrop="(async () => await OnDrop(DropLocation.Left))" class="left w-drop-target"><i class="bi bi-caret-left-fill"></i></div>
        <div @onclick="(async () => await OnDrop(DropLocation.Right))" @ondrop="(async () => await OnDrop(DropLocation.Right))" class="right w-drop-target"><i class="bi bi-caret-right-fill"></i></div>
    </div>
</div>

@code {
    [Parameter]
    public WindowComponent Window { get; set; }
    
    public enum DropLocation
    {
        Center,
        Up,
        Down,
        Left,
        Right
    }
    
    public Task OnDrop(DropLocation location)
    {
        if (WindowService.DraggingTab is not null)
        {
            return Window.Layout.OnTabDropped(WindowService.DraggingTab, location);
        }
        else if (ChannelListManager.CurrentDragItem is not null && ChannelListManager.CurrentDragItem.Channel is not null)
        {
            return Window.Layout.OnChannelDropped(ChannelListManager.CurrentDragItem.Channel, location);
        }

        return Task.CompletedTask;
    }
}