@inject HttpClient Http
@implements IDisposable

<div style="@Item.GetStyle()" class="embed-item">
    <button type="button" class="btn btn-@Item.Size" style="background-color:#@Item.Color;color:#@Item.TextColor;" @onclick="(async () => {await OnEmbedButtonClick();})">
        @if (Item.Link != "") {
            <a href="@Item.Link" rel="nofollow" target="_blank" class="embed-button-text" style="color:#@Item.TextColor;">@((MarkupString)MarkdownManager.GetHtml(Item.Text))</a>
        }
        else {
            @((MarkupString)MarkdownManager.GetHtml(Item.Text))
        }
    </button>
</div>

@code {
    [Parameter]
    public EmbedItem _item {get; set;}

    [Parameter]
    public ClientPlanetMessage Message {get; set;}

    [Parameter]
    public Embed embed { get; set;}

    [Parameter]
    public EmbedFormItem? FormItem { get; set; }

    [CascadingParameter]
    public EmbedComponent embedComponent { get; set; }

    EmbedButtonItem Item;

    private bool ProcessClick = false;

    protected override void OnInitialized()
    {
        Item = (EmbedButtonItem)_item;
        embedComponent.RefreshItemComponents += Refresh;
    }

    public void Refresh()
    {
        Item = (EmbedButtonItem)_item;
        Console.WriteLine($"Button: {Item.Text}");
        StateHasChanged();
    }

    public void Dispose()
    {
        embedComponent.RefreshItemComponents -= Refresh;
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (ProcessClick)
        {
            ProcessClick = false;
            Task.Run((async () => await EmbedGoToClickHandler.HandleClick(Item, embedComponent)));
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    public async Task OnEmbedButtonClick()
    {
        if (Item.HasGoTo)
        {
            ProcessClick = true;
            return;
        }

        PlanetMember SelfMember = await PlanetMember.FindAsyncByUser(ValourClient.Self.Id, Message.BaseMessage.PlanetId);

        Api.Items.Messages.Embeds.EmbedInteractionEvent Interaction = new Valour.Api.Items.Messages.Embeds.EmbedInteractionEvent()
        {
            EventType = EmbedIteractionEventType.ButtonClick,
            PlanetId = Message.BaseMessage.PlanetId,
            MessageId = Message.BaseMessage.Id,
            Author_MemberId = Message.BaseMessage.AuthorMemberId,
            MemberId = SelfMember.Id,
            ChannelId = Message.BaseMessage.ChannelId,
            TimeInteracted = DateTime.UtcNow,
            ElementId = Item.Id
        };

        if (FormItem is not null && Item.IsSubmitButton.Value)
        {
            Interaction.FormData = FormItem.GetFormData();
            Interaction.FormId = FormItem.Id;
            Interaction.EventType = EmbedIteractionEventType.FormSubmitted;
        }

        var response = await Http.PostAsJsonAsync($"api/embed/interact", Interaction);

        Console.WriteLine(response.Content.ReadAsStringAsync());
    }
}