@inherits EmbedItemComponentBase

<div class="embed-row @Row.Classes" style="@Row.Style">
	@foreach (var child in Row.Children)
	{
		<EmbedItemComponent Item="@child" @key="@(child.Id ?? (object)child)" />
	}
</div>

@code {
	private EmbedRowItem Row => (EmbedRowItem)Item;
}
