.preview-container {
    max-width: 95vw;
    max-height: 95vh;
}

::deep img {
    max-height: 80vh;
    max-width: 80vw;
}

::deep video {
    max-height: 80vh;
    max-width: 80vw;
}

::deep audio {
    max-height: 80vh;
    max-width: 80vw;
}

.attachment-holder {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}