.member-card {
    width: 90%;
    background-color: var(--main-4);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 6px;
    height: 63px;
    cursor: pointer;
}

.member-card:hover {
    background-color: var(--main-5);
}

.member-card.active {
    height: auto;
}

.member-card.top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.member-card.bottom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.member-info {
    display: inline-block;
    vertical-align: top;
    width: 180px;
}

.status-text {
    display: inline-block;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #7A7A7A;
    vertical-align: middle;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
}

.active .status-text {
    white-space: normal;
}

.staff-tag {
    display: inline-block;
    width: 25px;
    height: 9px;
    background: #00FAFF;
    border-radius: 2px;
    vertical-align: middle;
}

.staff-tag p {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 10px;
    margin: 0px;
    margin-left: 2px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.bot-tag {
    display: inline-block;
    width: 17px;
    height: 9px;
    background: #FF00E9;
    border-radius: 2px;
    vertical-align: middle;
}

.bot-tag p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 10px;
    margin: 0px;
    margin-left: 1px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.state-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 36px;
    top: 36px;
    border: 2px solid var(--main-1);
}

.status-holder {
    display: inline-block;
    position: relative;
    width: 100%;
}

.state-circle.online {
    background: #05FF00;
}

.state-circle.away {
    background: #F0E62E;
}

.state-circle.do-not-disturb {
    background: #F21F1F;
}

.state-circle.offline {
    background: #B3B3B3;
}

.name-line {
    align-items: center;
}

.username {
    display: inline-block;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    vertical-align: top;
    margin: 0px;
    margin: 5px;
}

.pfp {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: unset;
    display: inline-block;
}

.role-name {
    margin: 0px;
    margin-top: 12px;
    margin-bottom: 5px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration-line: underline;
    color: #7A7A7A;
    text-align: center;
    width: 100%;
}