
@if (Role != null)
{
<p class="role-name" style="color: @Role.GetColorHex()">
    @Role.Name
</p>
}
else
{
<p class="role-name">
    @DummyName
</p>
}

@foreach (var member in Members)
{
    <MemberComponent Only="true" Member="@member" @key="@member.Id"></MemberComponent>
}

@code {

    [Parameter]
    public string DummyName { get; set; }

    [Parameter]
    public PlanetRole Role { get; set; }

    [Parameter]
    public List<PlanetMember> Members {get; set;}
}
