<div class="category is-open">
    <img class="arrow" src="media/Category-Icon.svg" @onclick='@OnClick' style="@ArrowStyle">
    <p class="@Chosen_CSS">
        @Name
    </p>
    <p class="add-channel-button" id="AddChannelButton" onclick="AddChannelButtonFunction(this)">
        +
    </p>
        <!-- The Modal -->
    <div id="AddChannelModel" class="modal">

        <!-- Modal content -->
        <div class="modal-content-CreateChannel">
            <CreateChannelComponent></CreateChannelComponent>
        </div>
    </div>
    @if (IsOpen) {
        <div class="channel-list">
            @ChildContent
        </div>
    }
</div>
@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public bool IsOpen { get; set; }

    public string ArrowStyle 
    { 
        get
        {
            if (IsOpen) {
                return "transform: rotate(90deg);";
            }   
            else {
                return "";
            }
        }
    }

    public string Chosen_CSS
    {
        get
        {
            if (IsOpen)
            {
                return "name-open";
            }
            else
            {
                return "name";
            }
        }
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public void OnClick()
    {
        if (IsOpen) {
            IsOpen = false;
        }
        else {
            IsOpen = true;
        }
        StateHasChanged();
    }
}
