<div class="category is-open">
    <img class="arrow" src="media/Category-Icon.svg">
    <p class="@Chosen_CSS">
        @Name
    </p>
    <p class="AddChannelButton" id="AddChannelButton" onclick="AddChannelButtonFunction(this)">
        +
    </p>
        <!-- The Modal -->
    <div id="AddChannelModel" class="modal">

        <!-- Modal content -->
        <div class="modal-content-CreateChannel">
            <CreateChannelComponent></CreateChannelComponent>
        </div>
    </div>
    <div class="channel-list">
        @ChildContent
    </div>
</div>
@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public bool IsOpen { get; set; }

    public string Chosen_CSS
    {
        get
        {
            if (IsOpen)
            {
                return "name-open";
            }
            else
            {
                return "name";
            }
        }
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
