@inject HttpClient Http
@inject NavigationManager navManager
@inject IJSRuntime JS
@inject ClientPlanetManager planetManager

<div class="d-flex flex-column window" style="height:100%; max-width:100%;" id="window" @onclick="@OnClickWindow">

    <div id="innerwindow-@Window.Index" class="p-2 mt-auto" style="overflow-y: scroll;">
        @if (messages != null)
        {
            foreach (ClientPlanetMessage msg in messages)
            {
                <MessageComponent Message="msg"></MessageComponent>
            }
        }
    </div>

    <div class="ml-1">
        <center>
            <textarea id="text-input" class="textbox" rows="2" @bind-value="@currentInput" @bind-value:event="oninput" @onkeypress="OnChatboxKeypress" @onpaste="OnChatboxInput">@currentInput</textarea>
        </center>
    </div>
</div>

@code{

    /// <summary>
    /// True if the client has negotiated a channel connection
    /// </summary>
    private bool channelConnected;

    /// <summary>
    /// The input currently within the chatbox, this is bound and any changes will
    /// be reflected within the box.
    /// </summary>
    private string currentInput;

    /// <summary>
    /// Storage for messages that should be displayed
    /// </summary>
    private List<ClientPlanetMessage> messages;

    private HubConnection hubConnection;

    [Parameter]
    public ChatChannelWindow Window { get; set; }

    public ClientPlanetChatChannel Channel;

    /// <summary>
    /// The index of the last sent message
    /// </summary>
    private ulong messageIndex;

    // Runs when page is initialized
    protected override async Task OnInitializedAsync()
    {
        Channel = Window.Channel;

        await planetManager.SetCurrentPlanet(await Channel.GetPlanetAsync());

        await ConnectSignalR();
        await RefreshMessages();

        await JS.InvokeVoidAsync("OnChannelLoad", null);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

    public async Task ConnectSignalR()
    {
        // Get url for
        string conUrl = navManager.BaseUri.TrimEnd('/') + "/messagehub";

        hubConnection = new HubConnectionBuilder()
            .WithUrl(conUrl)
            .Build();

        await hubConnection.StartAsync();

        // Connect to channel
        await hubConnection.SendAsync("JoinChannel", Channel.Id);

        hubConnection.On<string>("Relay", RecieveMessage);
    }

    public async Task RecieveMessage(string data)
    {

        ClientPlanetMessage message = Newtonsoft.Json.JsonConvert.DeserializeObject<ClientPlanetMessage>(data);

        Console.WriteLine($"Recieved message {message.Index}.");

        //Console.WriteLine(data);

        //Console.WriteLine(await message.GetAuthorAsync());

        await JS.InvokeVoidAsync("SetScrollState", Window.Index);

        messages.Add(message);

        Console.WriteLine("Added message.");

        // Flag for UI refresh
        StateHasChanged();

        await JS.InvokeVoidAsync("ScrollWindowBottom", Window.Index);
    }

    public async Task RefreshMessages()
    {
        // Request messages from server
        messages = await Http.GetFromJsonAsync<List<ClientPlanetMessage>>($"Channel/GetMessages?channel_id={Channel.Id}");
    }

    /// <summary>
    /// This runs every time a key is pressed when the chatbox is selected
    /// </summary>
    public async Task OnChatboxKeypress(KeyboardEventArgs args)
    {
        // Debug for key presses
        // Console.WriteLine(currentInput);

        if (args.Key == "Enter")
        {
            // Grab current input
            string msg = currentInput;

            // Clear input
            currentInput = "";

            // Post message to server
            await PostMessage(msg);

            StateHasChanged();

            currentInput = "";
        }
    }

    public async Task OnChatboxInput()
    {

    }

    public async Task OnClickWindow()
    {
        ClientPlanet planet = await ClientPlanetCache.GetPlanetAsync(Channel.Planet_Id);
        await planetManager.SetCurrentPlanet(planet);
    }

    public async Task PostMessage(string msg)
    {
        PlanetMessage message = new PlanetMessage()
        {
            ChannelId = Channel.Id,
            Content = msg,
            TimeSent = DateTime.UtcNow,
            Author_Id = ClientUserManager.User.Id,
            Planet_Id = Channel.Planet_Id
        };

        string json = Newtonsoft.Json.JsonConvert.SerializeObject(message);

        Console.WriteLine(json);

        HttpResponseMessage httpresponse = await Http.PostAsJsonAsync<PlanetMessage>($"Channel/PostMessage", message);

        TaskResult<ulong> response =
            Newtonsoft.Json.JsonConvert.DeserializeObject<TaskResult<ulong>>(await httpresponse.Content.ReadAsStringAsync());

        if (!response.Success)
        {
            messages.Add(new ClientPlanetMessage()
            {
                TimeSent = DateTime.UtcNow,
                ChannelId = Channel.Id,
                Content = $"Failed to post message: {response.Message}",
                Index = 0
            });
        }

        Console.WriteLine(response.ToString());
    }
}