@inject ClientWindowManager windowManager
@inject ClientPlanetManager planetManager

<div class="@Chosen_CSS" @onclick="OnClick" draggable="true" ondrag="setDragging(event)" ondragover="setDraggedOver(event)" ondrop="Drop(event)" id="@Channel.Id"> 
    <img class="chat-icon" src="media/Channel-Icon.svg">
    <p class="channel-name">
        @Channel.Name
    </p>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public ClientPlanetChatChannel Channel { get; set; }
    [Parameter]
    public bool Open { get; set; }
    public string Chosen_CSS
    {
        get
        {
            if (Open)
            {
                return "channel open";
            }
            else
            {
                return "channel";
            }
        }
    }

    public async Task OnClick()
    {
        ClientWindow window = windowManager.GetSelectedWindow();

        Console.WriteLine(window.Index);

        if (window is ChatChannelWindow)
        {
            ChatChannelWindow channelWindow = (ChatChannelWindow)window;
            if (channelWindow != null)
            {
                // It's the same channel, cancel
                if (channelWindow.Channel.Id == Channel.Id)
                {
                    return;
                }

                Console.WriteLine(Channel.Name);
                await channelWindow.Component.OnWindowChannelChange(Channel);
                await planetManager.RefreshOpenedChannels();
            }
        }

    }

}