<div class="@Chosen_CSS">
    <img class="chat-icon" src="media/Channel-Icon.svg">
    <p class="channel-name">
        @Channel.Name
    </p>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public PlanetChatChannel Channel { get; set; }
    [Parameter]
    public bool Open { get; set; }
    public string Chosen_CSS
    {
        get
        {
            if (Open)
            {
                return "channel open";
            }
            else
            {
                return "channel";
            }
        }
    }
}