@inject HttpClient Http
@inject NavigationManager navManager
@inject LocalStorageService storage
@inject AutoMapper.IMapper Mapper 
@inject ClientPlanetManager planetManager
@inject AddChannelContextMenu contextMenu
@inject IJSRuntime JS
@using Valour.Shared.Categories

<section>
    <h2>Create a new Channel</h2>

    <hr />
    <div asp-validation-summary="All" class="text-info"></div>
    <div class="form-group mt-2">
        <label>Channel Name</label>
        <input class="form-control" @bind-value="@name" />
        <span id="name-span" style="color:#888888">@nameSpan</span>
    </div>
    <span id="image-span" style="color:#888888">@imageSpan</span>
    <div class="form-group mt-4">
        <button class="btn btn-primary mt-2" @onclick="OnClickSubmit">Create</button>
    </div>
</section>
@code {
    // Input fields
    string name;

    // Spans
    string nameSpan = "The name of the channel";
    string imageSpan = "";

    private async Task OnClickSubmit(MouseEventArgs e)
    {

        // Require a name
        if (string.IsNullOrWhiteSpace(name))
        {
            name = "Please input a channel name.";
            return;
        }


        // Encode non-friendly characters
        string encodedName = System.Web.HttpUtility.UrlEncode(name);

        ulong user_id = ClientUserManager.User.Id;
        string token = ClientUserManager.UserSecretToken;

        ulong parentid = contextMenu.SelectedCategory.Id;

        string json = await Http.GetStringAsync($"Channel/CreateChannel?name={encodedName}" +
                                                                   $"&planet_id={planetManager.GetCurrent().Id}" +
                                                                   $"&user_id={user_id}" +
                                                                   $"&parentid={parentid}" +
                                                                   $"&token={token}");

        TaskResult<ulong> result = Newtonsoft.Json.JsonConvert.DeserializeObject<TaskResult<ulong>>(json);

        if (result == null)
        {
            imageSpan = "An error occured retrieving a response. Please try again.";
        }

        imageSpan = result.Message;
    }

    private async Task OnImageInput()
    {

    }
}
