@inject HttpClient Http
@inject NavigationManager navManager
@inject LocalStorageService storage
@inject AutoMapper.IMapper Mapper 
@inject ClientPlanetManager planetManager
@using Valour.Shared.Categories

<section>
    <h2>Create a new Category</h2>

    <hr />
    <div asp-validation-summary="All" class="text-info"></div>
    <div class="form-group mt-2">
        <label>Category Name</label>
        <input class="form-control" @bind-value="@name" />
        <span id="name-span" style="color:#888888">@nameSpan</span>
    </div>
    <span id="image-span" style="color:#888888">@imageSpan</span>
    <div class="form-group mt-4">
        <button class="btn btn-primary mt-2" @onclick="OnClickSubmit">Create</button>
    </div>
</section>

@code {

    [Parameter]
    public PlanetCategory Category { get; set; }

    // Input fields
    string name;

    // Spans
    string nameSpan = "The name of the category";
    string imageSpan = "";

    private async Task OnClickSubmit(MouseEventArgs e)
    {

        // Require a name
        if (string.IsNullOrWhiteSpace(name))
        {
            name = "Please input a category name.";
            return;
        }


        // Encode non-friendly characters
        string encodedName = System.Web.HttpUtility.UrlEncode(name);

        ulong userid = ClientUserManager.User.Id;
        string token = ClientUserManager.UserSecretToken;

        ulong parentid = 0;

        Console.WriteLine($"Category Id: {Category.Id}");

        if (Category == null) {
            parentid = 0;
        }
        else {
            parentid = Category.Id;
        }

        Console.WriteLine($"Parent Id: {parentid}");

        string json = await Http.GetStringAsync($"Category/CreateCategory?name={encodedName}" +
                                                                   $"&planet_id={planetManager.GetCurrent().Id}" +
                                                                   $"&userid={userid}" +
                                                                   $"&parentid={parentid}" +
                                                                   $"&token={token}");

        TaskResult<ulong> result = Newtonsoft.Json.JsonConvert.DeserializeObject<TaskResult<ulong>>(json);

        if (result == null)
        {
            imageSpan = "An error occured retrieving a response. Please try again.";
        }

        imageSpan = result.Message;

        // Send user into planet if successful
        if (result.Success)
        {
            ulong planet_id = result.Data;

            await planetManager.RefreshChannels();

        }
    }

    private async Task OnImageInput()
    {

    }
}
