<div class="current-channel-info">
    <div class="viewing-current-channel">
    <!-- After we get user database objects, make this into a foreach! -->
        <img class="pfp" src="https://cdn.discordapp.com/avatars/148554809392234497/f9f221695ebe707c9707ecf122440134.png?size=128">
        <img class="pfp" src="https://cdn.discordapp.com/avatars/153555060926840833/240f5eb647299279607c78fa9fb1f835.png?size=128">
        <img class="pfp" src="https://cdn.discordapp.com/avatars/212725867757961216/6d2f3798290d41fc2022e0abe2c4dbdc.png?size=128">
    </div>
    <div class="channel-name-plus-pin">
        <div class="channel-name">
            General
        </div>
        <img class="pin" src="pin-icon.svg">
    </div>
    <p class="channel-description">
        General chat for legitimate conversations
    </p>
</div>

    @code {
        [Parameter]
        public string Description { get; set; }
        [Parameter]
        public string Name { get; set; }
    }
