@inject NavigationManager navManager

<div class="current-planet-info">
    @if (Planet != null)
    {
        <div>
            <h2 class="planet-title">@Planet.Name</h2>
            <img class="settings" src="Media/Settings-Icon.svg" onclick="OpenEditPlanetModal()">
        </div>
        <div style="width:100%; height: 36px;">
            <p class="planet-desc">@Planet.Description</p>
        </div>
    }
</div>

@code {
    [Parameter]
    public ClientPlanet Planet { get; set; }
}
