
<h5 class="m-2">Planets and friends</h5>

<hr />

<div class="flex-row flex-wrap m-5">
    <div class="home-server">
        <h6 class="text-center">Create a planet</h6>
    </div>
</div>



@code {

}
