<!--  Valour - A free and secure chat client
 *  Copyright (C) 2020 Vooper Media LLC
 *  This program is subject to the GNU Affero General Public license
 *  A copy of the license should be included - if not, see <http://www.gnu.org/licenses/>
-->
<!--
    The main window component handles displaying either the currently
    chosen channel, or otherwise displays the home window
-->

@inject ClientWindowManager windowManager

<div id="window-@Window.Index" class="@StyleClass" @onclick="OnWindowClick">

    @if (Window is HomeWindow)
    {
        <HomeWindowComponent Window="@((HomeWindow)Window)" RefreshWindow="RefreshWindow"></HomeWindowComponent>
    }
    else if (Window is ChatChannelWindow)
    {
        <ChannelWindowComponent Window="@((ChatChannelWindow)Window)"></ChannelWindowComponent>
    }
</div>

@code {
    [Parameter]
    public ClientWindow Window { get; set; }

    [Parameter]
    public string StyleClass { get; set; }

    public void RefreshWindow(ClientWindow window)
    {
        Window = window;
        StateHasChanged();
    }

    public async Task OnWindowClick()
    {
        await windowManager.SetSelectedWindow(Window);
    }
}
