<div id="innerwindow-@Window.Index" class="p-2 mt-auto" style="overflow-y: scroll;">
    @if (Messages != null && Messages.Count > 0)
    {
        currentRendered.Clear();

        ulong lastAuthorId = 0;

        foreach (ClientPlanetMessage msg in Messages)
        {
            string key = $"{Window.Index}-{Window.Channel.Id}-{msg.Message_Index}-{msg.TimeSent}";

            //RenderedMessages.Clear();

            if (!currentRendered.Contains(key))
            {
                currentRendered.Add(key);

                if (msg.Author_Id != lastAuthorId)
                {
                <MessageComponent Message="msg" Key="@key" @key='key' Holder="this"></MessageComponent>
                }
                else
                {
                <MultiMessageComponent Message="msg" Key="@key" @key='key' Holder="this"></MultiMessageComponent>
                }
            }
            else
            {
                Console.WriteLine($"Prevented key collision for message [{key}]. This should not occur, but at least we handle it.");
            }

            lastAuthorId = msg.Author_Id;
        }
    }
</div>

@code {
    [Parameter]
    public ChatChannelWindow Window { get; set; }

    [Parameter]
    public List<ClientPlanetMessage> Messages { get; set; }

    public List<MessageComponent> RenderedMessages { get; set; }

    public HashSet<string> currentRendered = new HashSet<string>();

    public void ForceRefresh()
    {
        StateHasChanged();
    }

    public void AddRenderedMessage(MessageComponent message)
    {
        RenderedMessages.Add(message);
    }

    public void RemoveRenderedMessage(MessageComponent message)
    {
        RenderedMessages.Remove(message);
    }

    //protected override async Task OnParametersSetAsync()
    //{

    //}

    protected override async Task OnInitializedAsync()
    {
        RenderedMessages = new List<MessageComponent>();
        StateHasChanged();
    }

    protected override bool ShouldRender()
    {
        if (Messages == null)
        {
            return false;
        }

        if (Messages.Count == 0)
        {
            return true;
        }

        //Console.WriteLine($"{Window.messageIndex} | {Window.messageIndexRendered}");

        if ((Window.messageIndex != Window.messageIndexRendered) || (Window.firstMessageIndex != Window.firstMessageIndexRendered))
        {
            Window.messageIndexRendered = Window.messageIndex;
            Window.firstMessageIndexRendered = Window.firstMessageIndex;
            return true;
        }

        return false;
    }
}