<div id="innerwindow-@Window.Index" class="p-2 mt-auto" style="overflow-y: scroll;">
    @if (Messages != null && Messages.Count > 0)
    {
        ulong lastAuthorId = 0;

        foreach (ClientPlanetMessage msg in Messages)
        {
            if (msg.Author_Id != lastAuthorId)
            {
                <MessageComponent Message="msg" @key='$"{Window.Index}-{Window.Channel.Id}-{msg.Id}"'></MessageComponent>
            }
            else
            {
                <MultiMessageComponent Message="msg" @key='$"{Window.Index}-{Window.Channel.Id}-{msg.Id}"'></MultiMessageComponent>
            }

            lastAuthorId = msg.Author_Id;
        }
    }
</div>

@code {
    [Parameter]
    public ChatChannelWindow Window { get; set; }

    [Parameter]
    public List<ClientPlanetMessage> Messages { get; set; }

    public void ForceRefresh()
    {
        StateHasChanged();
    }

    //protected override async Task OnParametersSetAsync()
    //{

    //}

    protected override async Task OnInitializedAsync()
    {
        StateHasChanged();
    }

    protected override bool ShouldRender()
    {
        if (Messages == null || Messages.Count == 0)
        { 
            return false;
        }

        Console.WriteLine($"{Window.messageIndex} | {Window.messageIndexRendered}");

        if ((Window.messageIndex != Window.messageIndexRendered) || (Window.firstMessageIndex != Window.firstMessageIndexRendered))
        {
            Window.messageIndexRendered = Window.messageIndex;
            Window.firstMessageIndexRendered = Window.firstMessageIndex;
            return true;
        }

        return false;
    }
}