<div class="message">
    <img class="author-pfp" src="@pfp_url" />
    <div class="message-content">
        <p class="author-name" style="color: @Role_color;">
            @Name
        </p>
        <p class="time">
            @Time
        </p>
    </div>
    <p class="content">
        @Content
    </p>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Content { get; set; }
    [Parameter]
    public string Time { get; set; }
    [Parameter]
    public string pfp_url { get; set; }
    [Parameter]
    public string Role_color { get; set; }
}
