@implements IDisposable

<div id="m-@Message.Channel_Id-@Message.Message_Index" class="multi-message">
    <div class="time-container">
        <p class="time">
            @Message.TimeSent.ToLocalTime().ToShortTimeString().Replace(' ', '\0')
        </p>
    </div>
    <div class="message-content">
        <p class="content">
            @MarkdownManager.GetHtml(Message.Content)
        </p>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public ClientPlanetMessage Message { get; set; }

    private ClientPlanetMember Author;

    [Parameter]
    public MessageHolderComponent Holder { get; set; }

    [Parameter]
    public string Key { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

    }

    void IDisposable.Dispose()
    {

    }
}

