<div id="m-@Message.Channel_Id-@Message.Message_Index" class="multi-message">
    <div style="display:inline-block">
        <p class="time">
            @Message.TimeSent.ToLocalTime().ToShortTimeString()
        </p>
    </div>
    <div class="message-content">
        <p class="content">
            @Message.Content
        </p>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public ClientPlanetMessage Message { get; set; }

    private PlanetUser Author;
}
