<div class="user-info">
    <img class="pfp" src="@pfpurl" @onerror="OnPfpError">
    <p class="username">
        @if (User.Username.Length > 16) {
            @User.Username.Substring(0, 15)
            Console.WriteLine("rfj349r 98u8rw jie iu98b0980 b0984 ");
            Console.WriteLine(User.Username.Substring(0, 15));
        }
        else {
            @User.Username
        }
    </p>
    <div class="active">
    </div>
    <img class="settings" src="/media/Settings-Icon.svg">
</div>

@code {
    [Parameter]
    public User User { get; set; }

    public string pfpurl = "/icon-512.png";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (User != null && !string.IsNullOrWhiteSpace(User.Pfp_Url))
        {
            pfpurl = User.Pfp_Url;
        }
    }

    protected async Task OnPfpError()
    {
        pfpurl = "/icon-512.png";

        StateHasChanged();
    }
}
