<div class="user-info">
    <img class="pfp" src="@User.Pfp_Url">
    <p class="username" style="color: @User.GetMainRoleColor();">
        @User.Username
    </p>
    <div class="active">
    </div>
    <img class="settings" src="Settings-Icon.svg">
</div>

@code {
    [Parameter]
    public ClientPlanetUser User { get; set; }
}
