@inject HttpClient http

<h3>Planet Invitations</h3>
<hr />
<br />

<div class="settings-inner">
    <p>Public</p>
    <p>
        <input type="checkbox" @bind="publicValue" /> &nbsp; Setting a server to public will allow any user to join
        through an invite link.
    </p>
    <span class="text-danger">@publicSpan</span>
    <br />

    <div class="btn btn-outline-primary settings-save-button" @onclick="OnSaveChanges">Save</div>

    <div class="invite-tab-holder">
        <div class="settings-button left">Invite Links</div>
        <div class="settings-button right">Invited Users</div>
    </div>
    <div class="invite-list">

    </div>
</div>

@code {
    [Parameter]
    public ClientPlanet Planet { get; set; }

    public bool publicValue;

    public string publicSpan;

    protected override async Task OnInitializedAsync()
    {
        publicValue = Planet.Public;

        Console.WriteLine(Planet.Public);

        StateHasChanged();
    }

    public async Task OnSaveChanges()
    {
        if (publicValue != Planet.Public)
        {
            TaskResult result = await Planet.SetPublic(publicValue);
            publicSpan = result.Message;
        }

        StateHasChanged();
    }

}