@inject HttpClient http

<h3>Basic Planet Information</h3>
<hr />
<br />

<div class="settings-inner">
    <p>Name</p>
    <input class="form-control" type="text" @bind-value="@nameValue" />
    <span class="text-danger">@nameSpan</span>

    <br />

    <p>Description</p>
    <input class="form-control" type="text" @bind-value="@descValue" />
    <span class="text-danger">@descSpan</span>

    <div class="btn btn-outline-primary settings-save-button" @onclick="OnSaveChanges">Save</div>
</div>


@code {
    [Parameter]
    public ClientPlanet Planet { get; set; }

    public string nameValue;
    public string descValue;

    public string nameSpan;
    public string descSpan;

    protected override async Task OnInitializedAsync()
    {
        nameValue = Planet.Name;
        descValue = Planet.Description;

        StateHasChanged();
    }

    public async Task OnSaveChanges()
    {
        if (nameValue != Planet.Name)
        {
            TaskResult result = await Planet.SetName(nameValue);
            nameSpan = result.Message;
        }

        if (descValue != Planet.Description)
        {
            TaskResult result = await Planet.SetDescription(descValue);
            descSpan = result.Message;
        }

        StateHasChanged();
    }

}
