.perm-message {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1.25rem 1rem;
    border-radius: var(--radius-md);
    background-color: var(--main-3);
    border: 1px solid var(--slight-tint);
    color: var(--font-alt-color);
    font-size: var(--font-size-sm);
}

.perm-message i {
    font-size: var(--font-size-lg);
}

.selected-role-preview {
    display: flex;
    margin-top: 0.75rem;
}

.role-select {
    cursor: pointer;
}
