<section>
    <p class="channel-name">@ChannelListItem.Name</p>
    <p class="channel-settings">@ChannelListItem.GetHumanReadableName().ToUpper() SETTINGS</p>

    <div class="menu">
        <BigMenuTopLevelMenuComponent Icon="Settings-Icon.svg" Name="General Settings">
            <BigMenuSubMenuComponent Icon="Settings-Icon.svg" Name="Info"></BigMenuSubMenuComponent>
            <BigMenuSubMenuComponent Icon="Role-Icon.svg" Name="Permissions"></BigMenuSubMenuComponent>
        </BigMenuTopLevelMenuComponent>
    </div>
</section>
@code {
    [Parameter]
    public PlanetChannel ChannelListItem { get; set; }
}