.outer {
    background-color: var(--main-3);
    border-radius: var(--radius-xl);
    padding: 1em;
    box-shadow: 0 0 10px red;
}

.inner {
    background-color: var(--main-1);
    width: max(400px,75vw);
    height: 400px;
    overflow-y: auto;
    padding: 1em;
    color: #fff;
    border-radius: var(--radius-md);
    font-family: var(--font-family-mono);
    word-wrap: break-word;
    max-width: 100%;
    white-space: pre-wrap;
}

.btns-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}