@inherits Modal<ErrorModal.ModalParams>
@inject IJSRuntime JsRuntime

<section class="outer">
    <div class="title-container">
    	<h3>Error Details @CodeText <i class="bi bi-bug-fill"></i></h3>
    	<p class="subtitle">Send to us... or maybe <a href="https://github.com/Valour-Software/Valour">contribute?</a></p>
    </div>
    <pre class="inner">
        @(Data.Result.Details ?? "No details available")
    </pre>
    <div class="btns-wrapper">
        <button @onclick="@OnClickCopyAsync" class="v-btn">Copy Details</button>
        <button @onclick="@OnClickClose" class="v-btn">Close</button>
    </div>
</section>

@code {
    public class ModalParams
    {
        public ITaskResult Result;
    }
    
    private string CodeText =>
        Data.Result.Code is null ? "" : $"({Data.Result.Code})";

    private void OnClickClose() => Close();
    
    private async Task OnClickCopyAsync()
    {
        await JsRuntime.InvokeVoidAsync("clipboardCopy.copyText", Data.Result.Details);
    }
}