<!-- This modal exists to allow parts of the app to give the user info -->

<div class="col-md-12">
    <section style="text-align: center; padding: 30px">
        <h2 class="subtitle">@Data.title_text</h2>
        <p>@Data.desc_text</p>
        <br />
        <div @onclick="OnClick" class="v-btn d-inline-block">@Data.button_text</div>
    </section>
</div>

@code { 

    [CascadingParameter]
	public BlazoredModalInstance ModalInstance { get; set; }

	[Parameter]
	public InfoModalData Data { get; set; }

    public async Task OnClick()
	{
	    if (Data.ButtonEvent is not null)
			await Data.ButtonEvent.Invoke();
	    
		await ModalInstance.CloseAsync();
	}
}