@inherits Modal<InfoModalComponent.ModalParams>

<!-- This modal exists to allow parts of the app to give the user info -->

<div class="col-md-12 v-bg-dark">
    <section class="glassy-modal" style="text-align: center; padding: 30px">
        <h2 class="subtitle">@Data.Title</h2>
        <p>@Data.Description</p>
        <br />
        <div role="button" @onclick="@OnClick" class="btn v-btn d-inline-block">@Data.ButtonText</div>
    </section>
</div>

@code {

	public class ModalParams
	{

		/// <summary>
		/// Run if the user hits the button
		/// </summary>
		public readonly Func<Task> ButtonEvent;

		// Cosmetics
		public readonly string Title;
		public readonly string Description;
		public readonly string ButtonText;

		public ModalParams()
		{
			
		}

		public ModalParams(string title, string desc, string button, Func<Task> OnClick)
		{
			this.Title = title;
			this.Description = desc;
			this.ButtonText = button;

			this.ButtonEvent = OnClick;
		}
	}

    private async Task OnClick()
	{
	    if (Data.ButtonEvent is not null)
			await Data.ButtonEvent.Invoke();

	    ModalRoot.CloseModal(ModalId);
	}
}