.report-modal {
    max-width: 600px;
    padding: 20px;
}

.report-modal h2 {
    font-size: 20px;
    text-align: center;
}

.report-modal button {
    display: block;
    width: 90%;
    font-size: 14px;
    margin: 8px;
    padding-top: 12px;
    text-align: left;
    border: none;
    background-color: var(--main-4);
}

.report-modal button h4 {
    font-size: 1.2em;
}

.report-modal button p {
    font-size: 1em;
}