@if (Visible)
{
    <div class="mention-select">
        <h3>MentionSelectComponent</h3>
    </div>
}

@code {

    public bool Visible { get; set; }

    public string Text { get; set; }

    public void SetVisible(bool value)
    {
        Visible = value;
        StateHasChanged();
    }

    public async Task SetText(string text)
    {
        Text = text;


    }
}
