.category .arrow {
    border-radius: 1px;
    margin-top: -6px;
    margin-left: 6px;

    width: 13px;
    height: 13px;

    cursor: pointer;
}

.category .category {
    margin-top: 2px;
}

.category .category .arrow {
    margin-left: 8px;
}

.category .name {
    margin: 0px;
    margin-left: 8px;
    vertical-align: top;
    display: inline-block;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.category .channel-list {
    margin: 0px;
    margin-top: -1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    padding-left: 10px
}


.category {
    max-width: 269px;
    background: rgb(41, 49, 56);
    border-radius: 5px;
}

.category .header {
    width: 95%;
    display: inline-block
}