@inject WindowManager windowManager

<div class="category-list keep-scrolling" style="padding-bottom:80px">
    @foreach (Planet planet in ValourClient.OpenPlanets)
    {
        <ChannelListPlanetComponent Planet="planet" @key='planet.Id'></ChannelListPlanetComponent>
    }
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        windowManager.OnPlanetFocused += OnPlanetChange;
        ValourClient.OnPlanetOpen += OnPlanetOpen;
        ValourClient.OnPlanetClose += OnPlanetClose;
    }

    public async Task OnPlanetOpen(Planet planet)
    {
        if (planet == null)
            Console.WriteLine("Rebuilding channel list due to planet open: " + planet.Name);
        else
            Console.WriteLine("Rebuilding channel list due to planet open: null");

        StateHasChanged();
    }

    public async Task OnPlanetClose(Planet planet)
    {
        if (planet == null)
            Console.WriteLine("Rebuilding channel list due to planet close: " + planet.Name);
        else
            Console.WriteLine("Rebuilding channel list due to planet close: null");

        StateHasChanged();
    }

    public async Task OnPlanetChange(Planet planet)
    {

    }
}