.planet .arrow {
    border-radius: 1px;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 6px;
    cursor: pointer;
}

.planet .name {
    margin: 0px;
    margin-top: 6px;
    margin-bottom: 7px;
    margin-left: 12px;
    vertical-align: top;
    display: inline-block;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 200px;
}

.planet .channel-list {
    margin: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
}

.planet {
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4px;
}

.is-open {
    padding-bottom: 10px;
}

.planet .icon {
    width: 24px;
    height: 24px;
    float: right;
    margin-top: 5.5px;
    margin-right: 5px;
}

.planet .header {
    display: inline-block;
    width: 100%;
}

