.planet .arrow {
    margin-left: 6px;
    cursor: pointer;
}

.planet .name {
    margin: 0;
    margin-left: 6px;
    vertical-align: top;
    display: inline-block;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.planet .channel-list {
    margin: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
}

.planet {
    position: relative;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4px;
}

.is-open {
    padding-bottom: 10px;
}

.planet .icon {
    width: 22px;
    height: 22px;
    float: right;
    margin-right: 4px;
}

.planet .header {
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    padding: 4px;
}

.planet .header:hover {
    background: rgba(255, 255, 255, 0.075);
}

.planet .header:active {
    background: rgba(255, 255, 255, 0.125);
}

