.sidebar-content {
    display: flex;
    flex: auto;
    flex-direction: column;
    max-height: 100vh;
    max-height: 100dvh;
    min-height: 0;
}

.tab-container {
    overflow-anchor: none;
    flex: auto;
    overflow-y: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding-bottom: 24px;
    padding-top: 60px;
}

.flip .tab-container {
    padding-bottom: 0;
    padding-top: 20px;
}

.tab-container::-webkit-scrollbar {
    width: 0;
}

.tab-container::-webkit-scrollbar-track {
    background: var(--main-1);
}

.tab-container::-webkit-scrollbar-thumb {
    border-color: var(--main-1);
    background-color: var(--main-4);
}