.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    max-height: 100%;

    margin: 0;
    padding: 0;
    
    background-color: var(--main-1);

    z-index: 1;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1 auto;
    min-height: 0;
}

.tab-container {
    flex: auto;
    padding-bottom: 24px;
    padding-top: 10px;
}

.flip .tab-container {
    padding-bottom: 0;
    padding-top: 20px;
}

.tab-container::-webkit-scrollbar {
    width: 0;
}

.tab-container::-webkit-scrollbar-track {
    background: var(--main-1);
}

.tab-container::-webkit-scrollbar-thumb {
    border-color: var(--main-1);
    background-color: var(--main-4);
}

.sidebar-tabstrip {
    
}