.tabstrip {
    width: 100%;
    display: flex;
    min-height: 36px;
    background-color: var(--main-1);
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

.mobile .tabstrip {
    min-height: 44px;
}

.tabstrip .item {
    flex-grow: 1;
    cursor: pointer;
    text-align: center;
}

.tabstrip .item:hover .icon-holder,
.tabstrip .item.selected .icon-holder {
    border-bottom: 4px solid var(--main-5);
}

.tabstrip .icon-holder {
    position: relative;
    display: inline-block;
}

.tabstrip .icon-holder .notif-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--p-red);
    border-radius: 8px;
    min-width: 16px;
    height: 16px;
    padding: 0 4px;
    position: absolute;
    top: -6px;
    right: -10px;
    z-index: 1;
}

.tabstrip .icon-holder .notif-badge span {
    font-size: 10px;
    font-weight: bold;
    color: white;
    line-height: 1;
}

.tabstrip .icon {
    height: 12px;
    margin: 4px;
}

.mobile .tabstrip .icon {
    height: 16px;
    margin: 8px;
}