.open-tab {
    position: absolute;
    width: 10px;
    height: 26px;
    top: 10px;
    color: black;
    font-size: 0;
    line-height: 43px;
    background-color: white;
    left: 100%;
    border-radius: 0 10px 10px 0;
    opacity: 0.1;
    cursor: pointer;
    transition: left 0.5s ease-in-out, width 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.open-tab.flip {
    left: auto;
    right: 100%;
    border-radius: 10px 0 0 10px;
}

.mobile .open-tab {
    display: none;
}

.open-tab:hover {
    opacity: 0.4;
    width: 30px;
    font-size: 24px;
    line-height: 26px;
}