@inject IJSRuntime JsRuntime
@inject ILocalStorageService LocalStorage
@implements IAsyncDisposable

<div class="sidebar-container @ActiveClass @FlipClass">
	<div id="@_id" class="sidebar-menu">
		<SidebarOpenTab OnClicked="OnOpenTabClicked" Open="@_active" Flip="Flip"></SidebarOpenTab>
		<div class="sidebar">
			<VersionComponent />
			<div class="sidebar-content">
				
				@switch (_selectedTab)
				{
					case "Channels":
					{
						<PlanetsDirectory />
						break;
					}
					case "Friends":
					{
						<FriendListComponent></FriendListComponent>
						break;
					}
					case "Planets":
					{
						<JoinedPlanetsDirectory />
						break;
					}
					case "Notifications":
					{
						<NotificationsListComponent></NotificationsListComponent>
						break;
					}
				}
			</div>
			<div class="sidebar-tabstrip">
				@if (!Flip)
				{
					<SelfInfoComponent />
				}
				<SidebarTabstrip Sidebar="@this" OnSelected="OnSelected" Flip="Flip"></SidebarTabstrip>
			</div>
		</div>
	</div>
</div>

@code {

	private static event Func<Task> OnToggleMobileSidebar;
	public static async Task ToggleMobileSidebar()
	{
		if (OnToggleMobileSidebar is not null)
			await OnToggleMobileSidebar.Invoke();
	}
	
	[Parameter]
	public bool Flip { get; set; }
	public string FlipClass => Flip ? "flip" : "";
	
    private string _selectedTab = "Friends";
	private bool _active = !DeviceInfo.IsMobile;
	
	private string ActiveClass => _active ? "sidebar-active" : "";

	private string _id = "sidebar-" + Guid.NewGuid();
	
	/// <summary>
	/// Dotnet object reference for use in Javascript
	/// </summary>
	private DotNetObjectReference<Sidebar> _thisRef;

	/// <summary>
	/// Module for calling Javascript functions
	/// </summary>
	private IJSInProcessObjectReference _jsModule;

	private IJSInProcessObjectReference _jsRef;
	
	
	protected override async Task OnInitializedAsync()
	{
		
		if (await LocalStorage.ContainKeyAsync("sidebar"))
		{
			_selectedTab = await LocalStorage.GetItemAsync<string>("sidebar");
		}
		
		OnToggleMobileSidebar += OnOpenTabClicked;
	}

	private async Task OnSelected(TabStripItem tab)
	{
		await LocalStorage.SetItemAsStringAsync("sidebar", tab.Name);
		_selectedTab = tab.Name;
		
		StateHasChanged();
	}
	
	async ValueTask IAsyncDisposable.DisposeAsync()
	{
		await _jsModule.InvokeVoidAsync("cleanup");
		await _jsModule.DisposeAsync();
		_thisRef.Dispose();
		OnToggleMobileSidebar -= OnOpenTabClicked;
	}
	
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			_thisRef = DotNetObjectReference.Create(this);
			_jsModule = await JsRuntime.InvokeAsync<IJSInProcessObjectReference>("import", "./_content/Valour.Client/Components/Sidebar/Sidebar.razor.js");
			_jsRef = await _jsModule.InvokeAsync<IJSInProcessObjectReference>("init", _thisRef, _id);
		}
	}

	private async Task OnOpenTabClicked()
	{
		if (!DeviceInfo.IsMobile)
		{
			_active = !_active;
			StateHasChanged();
		}
		else
		{
			await _jsRef.InvokeVoidAsync("toggleOpen");	
		}
	}
}