@inject IJSRuntime JsRuntime

<div class="open-tab @FlipClass" @onclick="OnClickAsync">
    @if (Open)
    {
        if (Flip)
        {
            <i class="bi bi-caret-right-fill"></i>
        }
        else
        {
            <i class="bi bi-caret-left-fill"></i>
        }
    }
    else
    {
        if (Flip)
        {
            <i class="bi bi-caret-left-fill"></i>
        }
        else
        {
            <i class="bi bi-caret-right-fill"></i>
        }
    }
</div>


@code {
    
    [Parameter]
    public bool Flip { get; set; }
    private string FlipClass => Flip ? "flip" : "";
    
    [Parameter]
    public bool Open { get; set; }
    
    [Parameter]
    public Func<Task> OnClicked { get; set; }

    public async Task OnClickAsync()
    {
        StateHasChanged();

        if (OnClicked is not null)
            await OnClicked.Invoke();
    }
}