.title {
    text-align: center;
}

.enter-info {
    color: rgba(255, 255, 255, 0.75);
}

.enter-box {
    background: #192630;
    border: 1px solid #030B11;
    box-sizing: border-box;
    border-radius: 8px;
}

.roles-box {
    background: #192630;
    width:100%;
    border-radius: 8px;
    margin-top:12px;
}

.roles-box .role {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
}