@inject ClientWindowManager windowManager

<div class="RoleList keep-scrolling">
    @if (MemberList != null && Planet != null)
    {
        foreach (KeyValuePair<PlanetRole, List<PlanetMember>> roleMemberList in RoleMemberLists)
        {
            <RoleComponent Role="@roleMemberList.Key" Members="@roleMemberList.Value"></RoleComponent>
        }

        // online group
        // this group is for members whose roles lack DisplayRole permission
        @if (OnlineList.Count() > 0)
        {
            <RoleComponent DummyName="Online" Members="@OnlineList"></RoleComponent>
        }

        // offline group
        @if (OfflineList.Count() > 0)
        {
            <RoleComponent DummyName="Offline" Members="@OfflineList"></RoleComponent>
        }

    }
</div>

@code {

    public List<PlanetMember> MemberList { get; set; }
    public List<PlanetMember> OrderedList { get; set; }

    public List<PlanetRole> Roles { get; set; }

    public Dictionary<PlanetRole, List<PlanetMember>> RoleMemberLists { get; set; }
    public List<PlanetMember> OnlineList { get; set; }
    public List<PlanetMember> OfflineList { get; set; }

    public Planet Planet { get; set; }

    protected override async Task OnInitializedAsync()
    {
        RoleMemberLists = new Dictionary<PlanetRole, List<PlanetMember>>();
        OnlineList = new List<PlanetMember>();
        OfflineList = new List<PlanetMember>();

        windowManager.OnPlanetFocused += OnPlanetChange;

        ValourClient.OnPlanetClose += OnPlanetClose;

        ItemObserver<PlanetRole>.OnAnyUpdated += OnRoleUpdate;
        ItemObserver<PlanetRole>.OnAnyDeleted += OnRoleDeletion;
        ItemObserver<PlanetMember>.OnAnyUpdated += OnMemberUpdate;
    }

    public async Task OnMemberUpdate(PlanetMember member, bool newItem, int flags)
    {
        // not awaited on purpose
        if (member.PlanetId == windowManager.FocusedPlanet.Id)
        {
            await RefreshOnRoleChange();
        }

    }

    public async Task OnRoleDeletion(PlanetRole role)
    {
        // not awaited on purpose
        if (role.PlanetId == windowManager.FocusedPlanet.Id)
        {
            await RefreshOnRoleChange();
        }
    }

    public async Task OnRoleUpdate(PlanetRole role, bool newItem, int flags)
    {
        // not awaited on purpose
        if (role.PlanetId == windowManager.FocusedPlanet.Id)
        {
            await RefreshOnRoleChange();
        }
    }

    public async Task RefreshOnRoleChange()
    {
        RoleMemberLists.Clear();
        OnlineList.Clear();
        OfflineList.Clear();
        StateHasChanged();
        await BuildRoleLists();
        StateHasChanged();
    }

    public async Task BuildRoleLists()
    {
        OrderedList = MemberList.OrderByDescending(GetComparator).ToList();

        Console.WriteLine($"Sorted {OrderedList.Count} members by activity.");

        RoleMemberLists.Clear();
        OnlineList.Clear();
        OfflineList.Clear();

        foreach (var member in OrderedList)
        {
            var user = await member.GetUserAsync();
            if (user is null)
                continue;

            // Don't list at all if this is true
            if (user.LastActiveSpan.TotalDays > 7)
                continue;

            // Throw directly into offline group
            if (user.UserState.Value == UserState.Offline.Value)
            {
                OfflineList.Add(member);
                continue;
            }

            // Get role ids
            var member_roles = await member.GetRolesAsync();

            bool hadRole = false;

            // Try for a role
            foreach (PlanetRole role in Roles)
            {
                // Ensure role should be listed
                if (!role.HasPermission(PlanetPermissions.DisplayRole))
                    continue;

                // Member has role
                if (member_roles.Contains(role))
                {
                    // Ensure there is a list
                    if (!RoleMemberLists.ContainsKey(role))
                    {
                        RoleMemberLists.Add(role, new List<PlanetMember>());
                    }

                    RoleMemberLists[role].Add(member);

                    // Break from loop since we have already succeeded
                    hadRole = true;
                    break;
                }
            }

            // Online pass
            if (!hadRole)
            {
                OnlineList.Add(member);
            }
        }
    }

    public async Task OnPlanetClose(Planet planet)
    {
        if (Planet.Id == planet.Id)
        {
            Planet = null;
            StateHasChanged();
        }
    }

    public async Task OnPlanetChange(Planet planet)
    {
        Planet = planet;

        var t = Task.Run(async () =>
        {
            if (planet != null)
            {
                Console.WriteLine($"Member list is updating to {planet.Name}");
                MemberList = await planet.GetMembersAsync();
                Roles = await planet.GetRolesAsync();
                MemberList = MemberList.OrderByDescending(GetComparator).ToList();
            }
            else
            {
                MemberList = new List<PlanetMember>();
            }

            await BuildRoleLists();

            Console.WriteLine($"Starting with {MemberList.Count()} members.");
            StateHasChanged();
        });
    }

    public long GetComparator(PlanetMember m)
    {
        var task = m.GetUserAsync().AsTask();
        task.Wait();

        return task.Result.TimeLastActive.Ticks;
    }
}
