.victor {
    width: 200px;
    height: 200px;
    text-align: center;
    animation: ease-in-out 2s infinite squeeze;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.victor-text {
    text-align: center;
    color: var(--text-tertiary);
}

@media (prefers-reduced-motion: reduce) {
    .victor {
        animation: none;
    }
}