@inherits Modal<CompressComponent.ModalParams>
@inject ValourClient Client

<BasicModalLayout Title="Compress Image" Icon="file-earmark-zip-fill" MaxWidth="500px">
    <MainArea>
        <p>Image is too large!</p>
        
        @if (_result is not null)
        {
            <ResultLabel Result="@_result" />
        }
        else if (_loading)
        {
            <img alt="victor" class="victor" src="_content/Valour.Client/media/victor.svg" />
            <p class="victor-text">Compressing...</p>
        }
        else
        {
            @if (Client.Me.SubscriptionType is not null)
            {
                <p>
                    Your image is over the 20MB limit. You can hit the button below to compress the image. This will reduce the quality of the image, but it will make it sendable.
                </p>
            }
            else
            {
                <p>
                    Your image is over the 10MB limit. You can hit the button below to compress the image. This will reduce the quality of the image, but it will make it sendable. You can also subscribe to Valour Plus to increase the limit to 20MB!
                </p>
            }
        }
    </MainArea>
    <ButtonArea>
        <div class="basic-modal-buttons">
            <button @onclick="@OnClickClose" class="v-btn">Close</button>
            @if (!_loading)
            {
                <button @onclick="@OnClickCompressAsync" class="v-btn primary">Compress</button>
            }
        </div>
    </ButtonArea>
</BasicModalLayout>

@code {

    public class ModalParams
    {
        public IBrowserFile File;
        public InputComponent Input;
    }

    private ITaskResult _result;

    private bool _loading;

    private async Task OnClickCompressAsync()
    {
        _loading = true;
        StateHasChanged();
        
        var maxSize = 10240000;
        
        if (Client.Me.SubscriptionType is not null)
        {
            maxSize = 20480000;
        }
        
        Client.Logger.Log("[Compressor]", "Attempting to compress image...", "cyan");

        try
        {
            var oldSize = Data.File.Size;
                            
            Data.File = await Data.File.RequestImageFileAsync("jpeg", 1000, 1000);

            if (Data.File is null)
            {
                _result = new TaskResult(false, "Browser is unable to compress image :(");
                StateHasChanged();
                return;
            }
                            
            if (Data.File.Size > maxSize)
            {
                _result = new TaskResult(false, "Compressed image is still too large :(");
                StateHasChanged();
                return;
            }
                            
            Client.Logger.Log<CompressComponent>($"New size: {Data.File.Size} / {oldSize}", "cyan");
            
            await Data.Input.ShowUploadMenu(Data.File.OpenReadStream(maxSize), MessageAttachmentType.Image, "image/jpeg", $"compressed-{Data.File.Name.Replace('.', '_')}.jpg", "image");
            
            // Everything worked, close the modal
            Close();
        }
        catch (Exception ex)
        {
            _result = new TaskResult(false, "Failed to compress image :(" , ex.Message);
            Client.Logger.Log<Upload.CompressComponent>($"Failed to compress image: {ex.Message}", "red");
        }
    }

    private void OnClickClose() => Close();
}