.label {
    position: relative;
}

.content-wrapper {
    position: absolute;
    left: 100%;
    bottom: -50%;
}

.sub-content {
    display: inline-block;
    color: white;
    padding: 6px;
    border-radius: 1em;
    white-space: nowrap;
    background-color: #0b151dcc;
    backdrop-filter: blur(5px);
}

.context-btn {
    display: block;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0.5em;
    text-align: left;
    width: 100%;
    font-weight: 500;
}

.context-btn:hover {
    background-color: #ffffff88;
}

.focus-bar {
    display: inline-block;
    width: 2px;
    height: 100%;
}

.mobile-back {
    display: none;
}

@media screen and (max-width: 600px) {
    .sub-content {
        position: fixed;
        bottom: 0;
        left: 0 !important;
        right: 0 !important;
        top: unset !important;
        border-radius: 0 !important;
    }
    
    .mobile-back {
        display: block;
    }
}