.context-btn {
    position: relative;
    display: block;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0.5em;
    text-align: left;
    width: 100%;
    font-weight: 500;
    outline: none !important;
}

.context-bg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    border-radius: 1em;
}

.context-btn:hover > .context-bg {
    opacity: .2 !important;
}

.context-btn:active > .context-bg {
    opacity: .3 !important;
}

.label-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.label-wrapper .text {
    flex-grow: 1;
}

.label-wrapper .icon {
    float: right; 
    margin-left: 1em; 
    font-size: 0.9em
}

.mobile .context-btn {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}