.context-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100000;
}

.context {
    color: white;
    position: absolute;
    padding: 6px;
    border-radius: 0.7em;
    background-color: #000000cc;
    backdrop-filter: blur(5px);
    white-space: nowrap;
}

@media screen and (max-width: 800px) {
    .context {
        bottom: 0;
        left: 0 !important;
        right: 0 !important;
        top: unset !important;
        border-radius: 0 !important;
        animation: slide-in 0.2s ease-in-out;
    }
    
    .context:has(.sub-open){
        /* it's crazy but it works */
        height: 150vh;
        background-color: transparent;
        backdrop-filter: none;
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}