.label {
    position: relative;
}

.content-wrapper {
    position: absolute;
    left: 100%;
    bottom: -50%;
}

.sub-content {
    display: inline-block;
    color: white;
    padding: 6px;
    border-radius: 1em;
    white-space: nowrap;
}

.mobile .sub-content {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: #000000aa;
}

.sub-content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-left: -6px;
    margin-top: -6px;
    border-radius: 0.7em;
    background-color: #000000aa;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.mobile .sub-content::before {
    display: none;
}

.context-btn {
    display: block;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0.5em;
    text-align: left;
    width: 100%;
    font-weight: 500;
    outline: none !important;
}

.context-bg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    border-radius: 1em;
}

.context-btn:hover > .context-bg {
    opacity: .2 !important;
}

.context-btn:active > .context-bg {
    opacity: .3 !important;
}

.focus-bar {
    display: inline-block;
    width: 2px;
    height: 100%;
}

.mobile-back {
    display: none;
}

.label-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.label-wrapper .text {
    flex-grow: 1;
}

.label-wrapper .icon {
    float: right;
    margin-left: 1em;
    font-size: 0.9em
}

.mobile .sub-content {
    position: fixed;
    bottom: 0;
    left: 0 !important;
    right: 0 !important;
    top: unset !important;
    border-radius: 0 !important;
    max-height: 30vh;
    overflow-y: auto;
}

.mobile .mobile-back {
    display: block;
}

.mobile .context-btn {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.mobile .sub-content:has(.sub-open){
    /* it's crazy but it works */
    display: contents;
}