.context-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100000;
}

.context {
    color: white;
    position: absolute;
    padding: 6px;
    border-radius: 0.7em;
    white-space: nowrap;
}

.context::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -6px;
    margin-top: -6px;
    border-radius: 0.7em;
    background-color: #000000aa;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.mobile .context {
    bottom: 0;
    left: 0 !important;
    right: 0 !important;
    top: unset !important;
    border-radius: 0 !important;
    animation: slide-in 0.2s ease-in-out;
}

.mobile .context:has(.sub-open){
    /* it's crazy but it works */
    height: 0;
}

@keyframes slide-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}