.context-btn {
    position: relative;
    display: block;
    width: 100%;
    padding: 7px 10px;
    color: var(--text-primary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    text-align: left;
    background-color: transparent;
    border: none;
    border-radius: var(--radius-md);
    outline: none !important;
    cursor: pointer;
}

.context-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    border-radius: var(--radius-md);
    transition: opacity var(--duration-fast) var(--ease-standard);
}

.context-btn:hover > .context-bg {
    opacity: 0.1 !important;
}

.context-btn:active > .context-bg {
    opacity: 0.16 !important;
}

.label-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    width: 100%;
}

.label-wrapper .text {
    flex-grow: 1;
}

.label-wrapper .icon {
    display: inline-flex;
    font-size: var(--font-size-sm);
    opacity: 0.8;
}

.mobile .context-btn {
    padding: 11px 12px;
    font-size: var(--font-size-md);
}
