<ContextMenuItem>Option 1</ContextMenuItem>
<ContextMenuItem>Option 2</ContextMenuItem>
<ContextMenuItem>Option 3</ContextMenuItem>
<ContextSubMenu>
    <Label>
        Open Me ►
    </Label>
    <Content>
        <ContextMenuItem>Option A</ContextMenuItem>
        <ContextMenuItem>Option B</ContextMenuItem>
        <ContextMenuItem>Option C</ContextMenuItem>
    </Content>
</ContextSubMenu>


@code {
    
}