.currentlytyping-container {
    margin-left: 13px;
    text-align: left;
}

@keyframes currentlytyping-icon {
    0% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }
}

.currentlytyping-icon-holder {
    display: inline-block;
    margin-right: 10px;
    width: 11px;
    position:relative;
    top: -2px;
}

.currentlytyping-icon-holder:after {
    color: #ffffff;
    animation-name: currentlytyping-icon;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    content: '.';
    font-size: 24px;
}

.is-typing-name {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
}

.icon {
    margin-right: 7px;
    height: 7px;
    display: inline-block;
}

.remainder-text {
    color: #b5b5b5;
    display: inline-block;
    margin-left: 10px;
}