.watching-container {
    z-index: 1;
    font-size: 12px;
    text-align: center;
    width: max-content;
}

.watching-container:hover .icons {
    padding-left: 0px;
}

.watching-container .icons {
    display: flex;
    padding-left: 14px;
    transition: padding-left 0.2s ease-in-out;
}

.watching-title {
    margin-bottom: 4px;
    display: inline-block;
}

.remainder-text {
    color: #b5b5b5;
    display: inline-block;
    margin-left: 10px;
}