.watching-container {
    display: inline-block;
    text-align: right;
}

.watching-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.remainder-text {
    color: #b5b5b5;
    display: inline-block;
    margin-left: 10px;
}