.channel-info {
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--main-5);
}

.channel-info .description {
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    margin-left: 16px;
    margin-bottom: 8px;
}

.channel-info:hover .description {
    white-space: pre-wrap;
    overflow: visible;
    margin-bottom: 8px;
}

.channel-info .title {
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
}

.channel-home {
    width: 32px;
    height: 32px;
    opacity: 0.75;
    cursor: pointer;
}

.channel-exit {
    width: 32px;
    height: 32px;
    opacity: 0.75;
    cursor: pointer;
    display: inline-block;
}
