.chat-member-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 0;
    max-height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.chat-holder {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    max-height: 100%;

    padding-right: 0.5rem;
    overflow-y: auto;
    
    /* fade in on first render */
    animation: fadeIn 0.2s;
}

.chat-holder * {
    overflow-anchor: none;
}

.chat-holder .pusher {
    flex-grow: 1; 
    flex-shrink: 1; 
    height: 0
}

.anchor {
    overflow-anchor: auto; 
    height: 1px; 
    margin-top: -1px;
}