.textbox {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    color: white;
    min-height: 32px;
    position: relative;
    margin: 10px;
}

.mobile .textbox {
    margin-bottom: 30px; /* Account for rounded phone edges */
}

.textbox-wrapper {
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    width: 100%;
    height: fit-content;
    resize: none;
    vertical-align: bottom;
}

.textbox-inner {
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    width: calc(100% - 90px);
}

.textbox-inner span {
    text-wrap: wrap; /* older browser support */
    text-wrap: balance;
}

.no-perms .textbox-inner {
    width: calc(100% - 22px);
    color: rgba(120, 120, 120);
    cursor: not-allowed;
    height:42px;
}

.upload-btn {
    position: absolute;
    bottom: 7px;
    left: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.mobile .upload-btn {
    bottom: 8px;
    left: 9px;
    padding: 0;
}

.upload {
    width: 24px;
    height: 24px;
    color: var(--main-1);
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    user-select: none;
}

.no-perms .upload {
    display: none;
}

.upload:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.upload:active {
    background-color: rgba(255, 255, 255, 0.35);
}

.send-wrapper {
    position: absolute;
    height: 50px;
    width: 50px;
    line-height: 45px;
    text-align: center;
    right: -2px;
    bottom: -6px;
}

.send-button {
    width: 24px;
    height: 24px;
    color: var(--main-1);
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.send-wrapper:active .send-button {
    color: lightslategrey;
}

.textbox-holder {
    margin-top: -3px;
    position: relative;
}

::deep .preview-message .message {
    opacity: 0.7;
    width: 100%;
    background-color: var(--main-5);
    border-top: 2px dashed rgba(255, 255, 255, 0.2);
    margin-top: -2px;
}

::deep .preview-message .message.reply {
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 0;
    opacity: 1;
    width: fit-content;
}

::deep .preview-message .multi-message {
    opacity: 0.7;
    width: 100%;
    background-color: var(--main-5);
    border-top: 2px dashed rgba(255, 255, 255, 0.2);
    margin-top: -2px;
}

::deep .preview-message .multi-message.reply {
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 0;
    opacity: 1;
}

.input-placeholder {
    position: absolute;
    left: 46px;
    top: 10px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.47);
    font-weight: 300;
    pointer-events: none;
}

.no-perms .input-placeholder {
    left: 16px;
}

/* Pop-up upload menu */
.upload-menu {
    position: absolute;
    bottom: 35px;
}

.upload-menu .content {
    background-color: var(--main-1);
    border-radius: 14px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.upload-menu .button {
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px;
    background-color: var(--main-1);
}

.upload-menu .content .button:first-child {
    border-radius: 5px 5px 0 0;
}

.upload-menu .content .button:last-child {
    border-radius: 0 0 5px 5px;
}

.upload-menu .button:hover {
    background-color: var(--main-5);
}

.upload-menu .carrot {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--main-1);
    margin-left: 14px;
}

.emoji-button {
    background: transparent;
    border: none;
    position: absolute;
    right: 6px;
    top: 8px;
    outline: none;
    filter: grayscale(1);
}

.mobile .emoji-button {
    right: 38px;
}

.emoji-button:hover {
    filter: grayscale(0);
    animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.emoji-button img {
    pointer-events: none;
    width: 24px;
    height: 24px;
}