.channel-footer {
    
}

.textbox {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 2em;
    color: white;
    position: relative;
    margin: 10px;
    padding: 0.5em;
    flex: 1 1 auto;
}

.textbox-wrapper {
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    width: 100%;
    height: fit-content;
    resize: none;
    vertical-align: bottom;
}

.textbox-inner {
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    max-width: 100%;
    overflow-wrap: anywhere;
    line-break: auto;
}

.textbox-inner span {
    text-wrap: wrap; /* older browser support */
    text-wrap: balance;
}

.no-perms .textbox-inner {
    width: calc(100% - 22px);
    color: rgba(120, 120, 120);
    cursor: not-allowed;
    height:42px;
}

.upload-btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.upload {
    width: 28px;
    height: 28px;
    color: var(--main-1);
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    user-select: none;
}

.no-perms .upload {
    display: none;
}

.upload:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.upload:active {
    background-color: rgba(255, 255, 255, 0.35);
}

.send-wrapper {
    display: flex;
    align-items: center;
}

.send-button {
    width: 28px;
    height: 28px;
    color: var(--main-1);
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    margin-left: 3px;
}

.send-wrapper:active .send-button {
    color: lightslategrey;
}

.textbox-holder {
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-top: -3px;
    position: relative;
    padding-right: 0.65em;
}

.mobile .textbox-holder {
    margin-bottom: 24px; /* Account for rounded phone edges */
}

::deep .preview-message .message {
    opacity: 0.7;
    width: 100%;
    background-color: var(--main-5);
    border-top: 2px dashed rgba(255, 255, 255, 0.2);
    margin-top: -2px;
}

::deep .preview-message .message.reply {
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 0;
    opacity: 1;
    width: fit-content;
}

::deep .preview-message .multi-message {
    opacity: 0.7;
    width: 100%;
    background-color: var(--main-5);
    border-top: 2px dashed rgba(255, 255, 255, 0.2);
    margin-top: -2px;
}

::deep .preview-message .multi-message.reply {
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 0;
    opacity: 1;
}

.input-placeholder {
    position: absolute;
    left: 1em;
    top: 0.6em;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.47);
    font-weight: 300;
    pointer-events: none;
}

.no-perms .input-placeholder {
    left: 16px;
}

*:active + .input-placeholder,
*:focus + .input-placeholder {
    display: none;
}

/* Pop-up upload menu */
.upload-menu {
    position: absolute;
    bottom: 35px;
    right: 0;
}

.mobile .upload-menu {
    bottom: 60px;
    right: 21px;
}

.upload-menu .content {
    background-color: var(--main-1);
    border-radius: 14px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.upload-menu .button {
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px;
    background-color: var(--main-1);
}

.upload-menu .content .button:first-child {
    border-radius: 5px 5px 0 0;
}

.upload-menu .content .button:last-child {
    border-radius: 0 0 5px 5px;
}

.upload-menu .button:hover {
    background-color: var(--main-5);
}

.upload-menu .carrot {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--main-1);
    margin-left: 55px;
}

.emoji-button {
    background: transparent;
    border: none;
    outline: none;
    filter: grayscale(1);
    padding-left: 8px;
}

.emoji-button:hover {
    filter: grayscale(0);
    animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.emoji-button img {
    pointer-events: none;
    width: 28px;
    height: 28px;
}