@inject IJSRuntime JS
@    using System.Net.Http.Headers
@    using Valour.Client.Components.Windows.ChannelWindows.FileUpload;
@    using Valour.Api.Items.Messages;
@    using Valour.Api.Items.Messages.Attachments

<div>
    <div class="preview-message">
        <MessageComponent @key="@(Window.Id + "-preview-message")" @ref="PreviewMessageComponent" Message="PreviewMessage" Submessage ="true" Ghost="true" Last_Message="@WindowComponent.MessageHolder.GetLastMessage()" ></MessageComponent>
    </div>

    <div class="textbox-holder" @onclick="WindowComponent.ScrollToBottomAnim">

        <MentionSelectComponent @ref="MentionSelector"></MentionSelectComponent>

        <div class="textbox" onclick="this.children[1].focus()" @ref='DropZoneElement'>
            <InputFile @ref='InputFile_Ref' id='upload-core' style="width: 0; height: 0; display: none;" OnChange="LoadFiles"></InputFile>
            <img class='upload' src="_content/Valour.Client/media/Plus-Icon.svg" onclick="document.getElementById('upload-core').click()" />

            <div @ref='InnerInput_Ref' contenteditable="true" class="textbox-inner" id="text-input-@Window.Id" data-window="@Window.Id" rows="1" autofocus>
            </div>
        </div>
    </div>
</div>



@code {

    [CascadingParameter]
    public ChannelWindowComponent WindowComponent { get; set; }

    [CascadingParameter]
    public ChatChannelWindow Window { get; set; }

    [CascadingParameter]
    public IModalService Modal { get; set; }

    public MessageHolderComponent MessageHolder { get; set; }

    public PlanetMember SelfMember { get; set; }

    /// <summary>
    /// A reference to the inner input component
    /// </summary>
    public ElementReference InnerInput_Ref { get; set; }

    /// <summary>
    /// The component that displays the mention selection
    /// </summary>
    public MentionSelectComponent MentionSelector { get; set; }

    /// <summary>
    /// True if this input is currently editing a message
    /// </summary>
    public bool IsEditing { get; set; }

    /// <summary>
    /// True if the mention selection system list visible
    /// </summary>
    private bool mentionSelect;

    /// <summary>
    /// The message that we are replying to if we are
    /// </summary>
    public MessageRenderData ReplyingTo { get; set; }

    /// <summary>
    /// The message component for the preview message
    /// </summary>
    public MessageComponent PreviewMessageComponent { get; set; }

    /// <summary>
    /// The preview message
    /// </summary>
    public MessageRenderData PreviewMessage { get; set; }

    /// <summary>
    /// Run when the component is initialized
    /// </summary>
    /// <returns></returns>
    public async Task InitializeAsync(PlanetMember selfMember, MessageHolderComponent messageHolder)
    {
        SelfMember = selfMember;
        MessageHolder = messageHolder;

        var innerMessage = new PlanetMessage()
        {
            AuthorUserId = SelfMember.UserId,
            Content = null,
            ChannelId = Window.Channel.Id,
            AuthorMemberId = SelfMember.Id,
            TimeSent = DateTime.UtcNow,
            ReplyToId = null,
            PlanetId = selfMember.PlanetId,
            Fingerprint = Guid.NewGuid().ToString()
        };

        PreviewMessage = new(innerMessage);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await JS.InvokeVoidAsync("ScrollWindowBottom", Window.Id);

        if (firstRender)
        {
            await JS.InvokeVoidAsync("SetInputComponent", Window.Id, DotNetObjectReference.Create(this));
            await JS.InvokeAsync<IJSObjectReference>("initializeFileDropZone", DropZoneElement, InputFile_Ref.Element);
        }
    }

    #region File Drop System

    // Drop zone stuff
    public InputFile InputFile_Ref { get; set; }
    ElementReference DropZoneElement { get; set; }
    IJSObjectReference dropZoneInstance;

    /// <summary>
    /// Image MIME types supported by the input box 
    /// </summary>
    public static HashSet<string> ImageContent = new HashSet<string>()
    {
        "image/gif",
        "image/jpeg",
        "image/png",
        "image/tiff",
        "image/vnd.microsoft.icon",
        "image/x-icon",
        "image/vnd.djvu",
        "image/svg+xml"
    };

    public async Task OnBeginEdit(MessageRenderData message)
    {
        PreviewMessage = message;
        await PreviewMessageComponent.SetMessage(PreviewMessage);
        StateHasChanged();
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        //var file = await e.File.RequestImageFileAsync("jpeg", 256, 256);

        var file = e.File;

        if (file == null)
        {
            Console.WriteLine("Could not load file as an image.");
        }

        if (file.Size > 10240000)
        {
            Console.WriteLine("Max upload size is 10mb.");
        }

        byte[] data = new byte[file.Size];

        await file.OpenReadStream(10240000).ReadAsync(data);

        var content = new MultipartFormDataContent();
        var arrContent = new ByteArrayContent(data);
        arrContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

        content.Add(arrContent, file.Name, file.Name);

        string type = "File";

        if (ImageContent.Contains(file.ContentType)){
            type = "Image";
        }

        ModalParameters modalParams = new();
        modalParams.Add("File", file);
        modalParams.Add("Data", data);
        modalParams.Add("OnConfirm", 
            async () => {
                var result = await ValourClient.PrimaryNode.PostAsyncWithResponse<string>($"upload/{type}", content);

                if (result.Success)
                {
                    string url = result.Data;
                    MessageAttachment attachment = new()
                    {
                        Location = url,
                        MimeType = file.ContentType,
                        FileName = file.Name
                    };

                    var attachments = PreviewMessage.Attachments;
                    if (attachments is null)
                        attachments = new();

                    attachments.Add(attachment);

                    PreviewMessage.SetAttachments(attachments);

                    await RefreshPreviewMessage();
                    Refresh();
                }
                else
                {
                    Console.WriteLine(result.Message);
                }
            }
        );

        Modal.Show<FileUploadComponent>("File Upload", modalParams, new ModalOptions(){ Class = "modal-shrink-fit" });

        StateHasChanged();
    }

    public async Task RemoveAttachment(int id)
    {
        var attachments = PreviewMessage.Attachments;
        if (attachments is null)
            return;

        if (id > attachments.Count - 1)
            return;

        attachments.RemoveAt(id);

        PreviewMessage.SetAttachments(attachments);

        await RefreshPreviewMessage();
        Refresh();
    }

    #endregion

    [JSInvokable]
    public async Task OnChatboxSubmit()
    {
        if (PreviewMessage.Message.Content is not null){
            PreviewMessage.Message.Content =
                PreviewMessage.Message.Content.TrimEnd('\n');

            PreviewMessage.Message.Content =
                PreviewMessage.Message.Content.Trim();
        }

        if (PreviewMessage.IsEmpty)
        {
            return;
        }

        var postMessage = new ClientPlanetMessage(PreviewMessage.Message);

        // New message for preview
        var innerMessage = new PlanetMessage()
        {
            AuthorUserId = SelfMember.UserId,
            Content = null,
            ChannelId = Window.Channel.Id,
            AuthorMemberId = SelfMember.Id,
            TimeSent = DateTime.UtcNow,
            ReplyToId = null,
            PlanetId = SelfMember.PlanetId,
            Fingerprint = Guid.NewGuid().ToString()
        };

        PreviewMessage = new(innerMessage);
        await PreviewMessageComponent.SetMessage(PreviewMessage);

        await OnChatboxUpdate(null, "");

        // Post message to server
        //StateHasChanged();
        await PostMessage(postMessage);
    }

    public async Task UpdateMentionMenu(string text)
    {
        //Console.WriteLine(text);

        if (text.StartsWith('@') || text.StartsWith('#'))
        {
            if (!MentionSelector.Visible)
            {
                MentionSelector.SetVisible(true, text[0]);
            }

            await MentionSelector.SetText(text);
        }
        else
        {
            if (MentionSelector.Visible){
                MentionSelector.SetVisible(false);
            }
        }

        StateHasChanged();
    }

    [JSInvokable]
    public async Task MentionSubmit()
    {
        await MentionSelector.Submit();

        StateHasChanged();
    }

    [JSInvokable]
    public void MoveMentionSelect(int n)
    {
        MentionSelector.MoveSelect(n);
    }

    [JSInvokable]
    public async Task OnCaretUpdate(string currentWord)
    {
        await UpdateMentionMenu(currentWord);
    }

    /// <summary>
    /// This runs every time a key is pressed when the chatbox is selected
    /// </summary>
    [JSInvokable]
    public async Task OnChatboxUpdate(string input, string currentWord)
    {
        //Console.WriteLine(currentWord);

        await UpdateMentionMenu(currentWord);

        if (input is not null)
        {
            // Fix for dumb formatting in HTML
            input = input.Replace("\n\n«", "«").Replace("» \n\n", "»");
        }

        PreviewMessage.Message.Content = input;
        await RefreshPreviewMessage();

        StateHasChanged();
    }

    public void Refresh()
    {
        StateHasChanged();
    }

    public async Task AddMessageAttachment()
    {

    }

    public async Task RefreshPreviewMessage() {
        PreviewMessage.Clear();
        PreviewMessage.Message.TimeSent = DateTime.UtcNow;
        PreviewMessage.GenerateForPost();
        await PreviewMessageComponent.SetMessage(PreviewMessage);
    }

    public async Task SetReplyMessage(MessageRenderData message)
    {
        PreviewMessageComponent.ReplyMessage = message;
        ReplyingTo = message;
        PreviewMessage.Message.ReplyToId = ReplyingTo?.Id;

        await RefreshPreviewMessage();
        Refresh();

        await InnerInput_Ref.FocusAsync();
    }

    public async Task RemoveReply()
    {
        ReplyingTo = null;
        PreviewMessage.Message.ReplyToId = null;
        PreviewMessageComponent.ReplyMessage = null;
        PreviewMessageComponent.ReRender();
    }

    public async Task PostMessage(MessageRenderData message)
    {
        message.GenerateForPost();
        MessageHolder.AddQueuedMessage(message);

        var result = await message.Message.PostMessageAsync();

        if (!result.Success)
        {
            MessageHolder.RemoveQueuedMessage(message.Fingerprint);

            PlanetMessage errorMsg = new()
            {
                Content = $"Hey there, friend! Your message didn't post properly.\n Reason: {result.Message}",
                AuthorUserId = long.MaxValue,
                AuthorMemberId = long.MaxValue,
                ChannelId = Window.Channel.Id,
                MessageIndex = long.MaxValue
            };

            MessageHolder.RemoveErrorMessage();
            await MessageHolder.AddMessage(new ClientPlanetMessage(errorMsg));
        }
        else
        {
            MessageHolder.RemoveErrorMessage();
        }

        ReplyingTo = null;
        PreviewMessageComponent.ReplyMessage = null;
        PreviewMessage.Clear();
        PreviewMessageComponent.ReRender();
    }
}
