<div class="@("item " + SelectedClass)" @onclick="OnClickAsync">
    <p class='title noselect' style="color: @Role.Color">@@@Role.Name</p>
</div>

@code {

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public MentionSelectComponent Parent { get; set; }

    [Parameter]
    public PlanetRole Role { get; set; }

    [Parameter]
    public bool Selected { get; set; }

    private string SelectedClass
    {
        get
        {
            if (Selected)
                return "selected";

            return "";
        }
    }

    public async Task OnClickAsync()
    {
        Parent.Selected = Index;
        await Parent.Submit();
    }

    protected override async Task OnInitializedAsync()
    {

    }
}