<div class="@("item " + SelectedClass)" @ontouchstart="OnClickAsync" @onclick="OnClickAsync">
    <img alt="avatar" class="icon" src="@_avatar" @onerror="OnAvatarError" />
    <p class="title noselect" style="color:@_roleColor">@Member.Nickname</p>
</div>

@code {
    private string _avatar = "_content/Valour.Client/icon-512.png";
    private string _roleColor = "#ffffff";

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public MentionSelectComponent Parent { get; set; }

    [Parameter]
    public PlanetMember Member { get; set; }

    [Parameter]
    public bool Selected { get; set; }

    private string SelectedClass
    {
        get
        {
            if (Selected)
                return "selected";

            return "";
        }
    }

    private async Task OnClickAsync()
    {
        Parent.Selected = Index;
        await Parent.Submit();
    }

    protected override void OnInitialized()
    {
        _avatar = Member.GetAvatar();
        _roleColor = Member.GetRoleColor();

        StateHasChanged();
    }

    private void OnAvatarError()
    {
        _avatar = Member.GetFailedAvatar();
        StateHasChanged();
    }
}
