<div class="@("item " + Selected_Class)" @onclick="OnClickAsync">
     <p class='title noselect'>#@Channel.Name</p>
</div>

@code {

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public MentionSelectComponent Parent { get; set; }

    [Parameter]
    public IChatChannel Channel { get; set; }

    [Parameter]
    public bool Selected { get; set; }

    public string Selected_Class
    {
        get
        {
            if (Selected)
                return "selected";

            return "";
        }
    }

    public async Task OnClickAsync()
    {
        Parent.Selected = Index;
        await Parent.Submit();
    }

    protected override async Task OnInitializedAsync()
    {

    }
}
