.channel-info {
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--main-5);
    position: relative;
}

.channel-info .button-watching-bar {
    min-width: 200px;
}

.channel-info .description {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    margin-bottom: 8px;
    max-width: 200px;
    margin-right: 150px;
}

.channel-info .title {
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
}
