:root {
    --primary-color: #040d14;
    --secondary-color: #aaaaaa;
    --font-color: #ffffff;
    --bg-color: #040d14;
    --heading-color: #040d14;
    --link-color: #00aaff;
    --border-color: #303030;
    --alt-border-color: #666666;
    --input-color: #000000;
    --comment-hue: rgba(0, 0, 0, 0.02);
    --main-1: #040d14;
    --main-2: #0b151d;
    --main-3: #121e27;
    --main-4: #192630;
    --main-5: #212f3a;
}

.full-screen {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    color: var(--link-color);
    user-select: text;
}

p {
    user-select: text;
}

.p-1 {
    color: var(--font-color);
    user-select: text;
}

h1 {
    color: var(--font-color);
    user-select: text;
}

h2 {
    color: var(--font-color);
    user-select: text;
}

h3 {
    color: var(--font-color);
    user-select: text;
}

h4 {
    color: var(--font-color);
    user-select: text;
}

label {
    color: var(--font-color);
    user-select: text;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.form-control {
    margin-top: 5px;
    background-color: var(--main-1);
    border-color: var(--main-5);
    color: var(--font-color);
}

    .form-control:disabled {
        background-color: var(--border-color);
        border-color: var(--alt-border-color);
        color: var(--font-color);
    }

body {
    /* Theming */
    background-color: var(--bg-color);
    color: var(--font-color);
    line-height: NORMAL;
}

.message {
    width: 100%;
    max-width: 100%;
    margin-top: 4px;
    padding-bottom: 0px;
    position: relative;
    min-height: 51.333px;
}

.multi-message {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
}

.multi-message-content {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.message:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.multi-message:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.ping-box {
    background: #FD3B3B;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 3px;
    height: 77px;
}

.message .ping {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.textbox {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 15px;
    height: 69px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 95%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    word-break: break-word;
    overflow-y: scroll;
    overflow-wrap: break-word;
    resize: none;
}

.textbox-holder {

}

.message.ping {
    background: rgba(253, 59, 59, 0.24);
}

.message.first {
    margin-top: 41px;
}

.message .author-pfp {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

.message .author-name {
    display: inline-block;
    font-family: Ubuntu;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    margin: 0px;
    margin-top: 0px;
    vertical-align: top;
}

.message .role-name {
    color: #ffffff;
    opacity: 0.3;
    font-style: italic;
    display: inline-block;
    margin: 0px;
    margin-top: 4px;
}

.message .message-content {
    display: inline-block;
    margin-left: 3px;
    margin-top: 4px;
    vertical-align: top;
    padding-left: 52px;
    width: 100%;
}

.multi-message .message-content {
    display: inline-block;
    margin-left: 7px;
    margin-top: 4px;
    vertical-align: top;
    width: 100%;
}

.content p {
    margin: 0px;
    word-break: break-word;
}

.content code {
    margin: 0px;
    word-break: break-word;
}

.content pre {
    margin: 0px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    word-break: break-word;
    max-width: 90%;
    padding: 5px;
}

.content img:before {
    display: normal;
    content: attr(href);
    visibility: visible;
}

.content img {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
    display: block;
    transition: all 0.125s ease;
    transition-delay: 0s;
}

    .content img:hover {
        max-width: 500px;
        max-height: 500px;
        transition: all 0.125s ease;
        transition-delay: 0.5s;
    }

@media screen and (max-width: 992px) {
    .content img {
        max-width: 90%;
        max-height: 90%;
    }

        .content img:hover {
        }
}

.content a {
    font-size: 0px;
}

    .content a:after {
        font-size: 16px;
        content: attr(href);
        visibility: visible;
        left: 55px;
        vertical-align: central;
    }

.content .youtube {
    max-width: 90%;
    display: block;
}

.content .table {
    max-width: 90%;
    display: block;
}


.multi-message .content {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0px;
    margin-bottom: 0px;
    word-break: break-all;
    user-select: text;
    padding-left: 48px;
    width: 100%;
    overflow: hidden;
}

.message .content {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0px;
    word-break: break-all;
    user-select: text;
    width: 100%;
    overflow: hidden;
}

.message .time-container {
    min-width: 48px;
    position: absolute;
    top: 0px;
    top: 37px;
}

.multi-message .time-container {
    min-width: 48px;
    position: absolute;
    top: 0px;
}

.message .time {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #7A7A7A;
    margin: 0px;
    display: none;
    text-align: center;
}

.message:hover .time {
    display: block;
}

.message:hover .author-pfp {
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.multi-message:hover .time {
    visibility: visible;
}

.multi-message .time {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #7A7A7A;
    margin: 0px;
    margin-top: 8px;
    visibility: hidden;
    text-align: center;
}

.topline {
    border-top: 3px solid #FFFFFF;
    margin-bottom: 16px;
    width: 100%;
    background-color: var(--main-3);
}

.topbar {
    height: 115px;
    min-height: 115px;
    background-color: var(--main-3);
}

.window {
    width: 100%;
}

    .window .welcome-channel-description {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 34px;
        color: #9E9E9E;
        margin: 0px;
        margin-left: 34px;
    }

    .window .welcome-divider {
        border: 2px solid #FFFFFF;
        margin: 0px;
        margin-top: 24px;
        margin-left: 34px;
    }

    .window .welcome-channel-name {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 57px;
        color: #FFFFFF;
        margin: 0px;
        margin-left: 34px;
    }

    .window .welcome-text {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #9E9E9E;
        margin: 0px;
        margin-top: 11px;
        margin-left: 34px;
    }

    .window .start-chat-icon {
        margin: 0px;
        margin-left: 34px;
        margin-top: 32px;
    }

.sidebar-2 .user-info {
    width: 269px;
    height: 44.53px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    margin: 0px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 11px;
}

    .sidebar-2 .user-info .pfp {
        width: 32.72px;
        height: 32.72px;
        border-radius: 50%;
        margin-top: 6.36px;
        margin-bottom: 6.36px;
        margin-left: 8.18px;
    }

.sidebar-2 .category .arrow {
    border-radius: 1px;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 6px;
    cursor: pointer;
}

.sidebar-2 .category .name {
    margin: 0px;
    margin-top: 6px;
    margin-bottom: 7px;
    margin-left: 12px;
    vertical-align: top;
    display: inline-block;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.sidebar-2 .category .channel.open {
    background: rgba(255, 255, 255, 0.1);
}

    .sidebar-2 .category .channel.open:hover {
        background: rgba(255, 255, 255, 0.125);
    }

.sidebar-2 .category .channel:nth-child(1) {
    margin-top: 10px;
}

.sidebar-2 .category .channel {
    width: 257px;
    margin-left: 6px;
    margin-bottom: 2px;
    border-radius: 5px;
    cursor: pointer;
}

    .sidebar-2 .category .channel:hover {
        background: rgba(255, 255, 255, 0.075);
    }

    .sidebar-2 .category .channel .channel-name {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        margin-left: 8px;
        margin-top: 5px;
        vertical-align: top;
        display: inline-block;
    }

    .sidebar-2 .category .channel .chat-icon {
        margin-top: 10px;
        margin-bottom: 9px;
        margin-left: 8px
    }

.top-level-category {
    padding-bottom: 24px;
}


.sidebar-2 .category .channel-list {
    margin: 0px;
    margin-top: -1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.sidebar-2 .category .name-open {
    margin: 0px;
    margin-top: 6px;
    margin-bottom: 7px;
    margin-left: 11px;
    vertical-align: top;
    display: inline-block;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.context-menu-item:hover {
    background-color: #192630;
}

.sidebar-2 .category {
    max-width: 269px;
    background: rgb(41, 49, 56);
    border-radius: 5px;
    margin-right: auto;
    margin-left: 10px;
    margin-bottom: 16px;
}

    .sidebar-2 .category .is-open {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

.sidebar-2 .user-info .settings {
    display: inline-block;
    margin: 0px;
    margin-top: 10.96px;
    margin-bottom: 10.96px;
    margin-right: 10.96px;
    margin-left: 36.4px;
    float: right;
    cursor: pointer;
}

.sidebar-2 .user-info .active {
    display: inline-block;
    width: 11.81px;
    height: 11.81px;
    background: #05FF00;
    border-radius: 50%;
    margin: 0px;
    vertical-align: top;
    margin-top: 17.5px;
    margin-left: 8px;
}

.sidebar-2 .user-info .username {
    display: inline-block;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin: 0px;
    margin-left: 8.18px;
    margin-top: 11px;
    vertical-align: top;
}

.sidebar-2 {
    float: left;
    max-width: 294px;
    margin: 0px;
    background-color: var(--main-2);
    z-index: 1;
}

.channel-and-topbar {
    display: flex;
    margin: 0px;
    background: #040D14;
    flex: 1;
    background-color: var(--main-1);
    flex-direction: column;
    height: 100%;
    max-width: calc(100% - (64px + 294px));
}

.channel-and-topbar-mobile {
    transform: translateX(-358px);
    flex: 0;
    max-width: 100%;
}

.sidebar-2 .channel-name {
    display: inline-block;
    margin: 0px;
    margin-top: 5px;
    margin-left: 3px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 27.5px;
    line-height: 32px;
    color: #FFFFFF;
}

.sidebar-2 .top-bar {
    width: 294px;
    border-top: 3px solid #FFFFFF;
}

.sidebar-2 .channel-description {
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    color: #9E9E9E;
}

.sidebar-2 .channel-name-plus-pin .pin {
    display: inline-block;
    margin: 0px;
    margin-left: 18px;
}


.sidebar-2 .viewing-current-channel {
    margin-left: 15px;
}

    .sidebar-2 .viewing-current-channel .pfp {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        margin-left: -15px;
    }

.sidebar-2 .current-channel-info {
    padding-top: 16px;
    margin-left: 16px;
    height: 115px;
}

.mainrow {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.sidebar {
    float: left;
    width: 64px;
    padding: 5px;
    background-color: var(--main-1);
    transition: width ease-in-out .2s;
    z-index: 1;
}

.sidebar-menu {
    height: 100%;
    display: flex;
    align-items: stretch;
}

.sidebar-menu-mobile {
    height: 100%;
    display: flex;
    align-items: stretch;
    transform: translateX(-358px);
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

.sidebar-menu-mobile-active {
    transform: translate(0px);
}

.sidebar-mobile {
    float: left;
    width: 64px;
    padding: 5px;
    background-color: var(--main-1);
    z-index: 1;
    transition: width 0.5s ease-in-out;
}

.sidebar-mobile-expanded {
    width: 250px;
}


.sidebar:hover {
    width: 250px;
}

.valour-version {
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 7px;
    text-align: center;
    color: #00FAFF;
}

.valour-name {
    margin: 0px;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #00FAFF;
}

.valour-logo {
    width: 50px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    display: inline-block;
}

.rolename {
    margin: 0px;
    margin-top: 12px;
    margin-bottom: 5px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    text-decoration-line: underline;
    color: #7A7A7A;
    text-wrap: none;
    white-space: nowrap;
    text-align: center;
    width: 250px;
}

.sidebar-user {
    width: 240px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.07);
    margin-right: auto;
}

    .sidebar-user:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .sidebar-user:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .sidebar-user .user-status-state {
        display: inline-block;
        position: relative;
    }

    .sidebar-user .user-info {
        display: inline-block;
        vertical-align: top;
        margin-top: 6px;
    }

    .sidebar-user .state {
        display: inline-block;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 11px;
        color: #7A7A7A;
        margin: 0px;
        position: absolute;
        top: 0;
        left: 15px;
        width: 250px;
        height: 12px;
    }

    .sidebar-user .bot-tag {
        display: inline-block;
        width: 17px;
        height: 9px;
        background: #FF00E9;
        border-radius: 2px;
        margin-top: 9px;
    }

        .sidebar-user .bot-tag p {
            font-family: Ubuntu;
            font-style: normal;
            font-weight: bold;
            font-size: 7px;
            line-height: 8px;
            margin: 0px;
            margin-left: 1px;
            margin-bottom: 1px;
            /* identical to box height */
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
        }

    .sidebar-user .active-circle {
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 0px;
        margin-bottom: 7px;
        margin-left: 4px;
        background: #05FF00;
    }

    .sidebar-user .username {
        display: inline-block;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
        vertical-align: top;
        margin: 0px;
        margin: 5px;
    }

    .sidebar-user .pfp {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-left: 8px;
        margin-top: 4px;
        margin-bottom: 4px;
        vertical-align: unset;
        display: inline-block;
    }

body {
    background-color: #040D14;
}

@media screen and (max-width: 992px) {
    .login-box {
        max-width: 90%;
        max-height: 100%;
        transform: translateY(5%);
    }
}

.login-box {
    background-color: var(--main-4);
    border-radius: 10px;
    border-color: grey;
    padding: 50px;
    width: 400px;
    min-height: 400px;
    z-index: 2;
    box-shadow: 0px 0px 15px #000000;
    margin: auto;
    transform: translateY(20vh);
    margin-bottom: 50px;
}

.modal-content-CreatePlanet .login-box {
    transform: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: 0px;
    transform: translateY(0%);
}

.modal-content-EditPlanet {
    width: 70%;
    height: 70%;
    margin: auto;
}

@media screen and (max-width: 992px) {
    .modal-content-EditPlanet {
        width: 100%;
        max-height: 100%;
    }
}

.modal-content-EditPlanet .login-box {
    transform: none;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    height: 100%;
    transform: translateY(0%);
    background-color: var(--main-2);
}

.modal-content-EditUser {
    width: 70%;
    height: 70%;
    margin: auto;
}

@media screen and (max-width: 992px) {
    .modal-content-EditUser {
        width: 100%;
        max-height: 100%;
    }
}

.modal-content-EditUser .login-box {
    transform: none;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    height: 100%;
    transform: translateY(0%);
    background-color: var(--main-2);
}

.home-server {
    /*border: 1px solid rgba(255, 255, 255, 0.2);*/
    border-radius: 5px;
    width: 150px;
    height: 160px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.07);
    display: inline-block;
}

.planet-card-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-self: end;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.planet-create-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-self: end;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

    .planet-create-icon:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

.planet-card-icon:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.window-grid {
    display: flex;
    flex: 2;
    flex-grow: 1;
    justify-content: space-between;
    height: calc(100% - (115px + 16px));
    padding: 0px;
}

.main-window {
    background-color: var(--main-4);
    width: 100%;
    height: 50%;
    overflow-y: auto;
}

.main-window-full {
    background-color: var(--main-4);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.window-col {
    width: 50%;
}

.add-window-button {
    width: 64px;
    height: 64px;
    padding: 8px;
    position: absolute;
    left: calc(100% - 64px);
    top: 200px;
    cursor: pointer;
    z-index: 6;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--main-4);
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-CreatePlanet {
    margin: auto;
    padding: 0px;
    max-width: 418px;
}

.modal-content-CreateChannel {
    margin: auto;
    padding: 0px;
    max-width: 418px;
}

.login-background {
    background-image: url(/media/Spookvooper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0px;
    backdrop-filter: blur(5px);
}

.add-channel-button {
    margin: 0px;
    margin-top: 3px;
    margin-right: 8px;
    vertical-align: top;
    display: inline-block;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    font-size: 24px;
    float: right;
    cursor: pointer;
}

.context-menu {
    width: 188px;
    background: #030B11;
    mix-blend-mode: normal;
    border: 1px solid #192630;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    position: absolute;
    z-index: 2000;
}

.context-menu-item {
    border-radius: 6px;
    margin: 0px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    cursor: pointer;
}

.delete-context-menu-item {
    color: #EF3A3A;
}

    .delete-context-menu-item:hover {
        color: white;
        background: #EF3A3A;
    }

.context-menu-item:nth-last-child(1) {
    margin-bottom: 10px;
}

.context-menu-item-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 17px;
    display: flex;
    padding-top: 10px;
    align-items: center;
    mix-blend-mode: normal;
}

.channel-info {
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--main-5);
}

.channel-info .channel-buttons {
    float: right;
}

.home-buttons {
    float: right;
    margin-top: 15px;
}

.channel-buttons .channel-home {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.channel-buttons .channel-close {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.home-buttons .home-close {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.modal-content-EditUser .login-box {
    height: 100%;
    width: 100%;
}

.current-planet-info {
    padding-top: 16px;
    margin-left: 16px;
    height: 115px;
}

    .current-planet-info .planet-name {
        display: inline-block;
    }

    .current-planet-info .settings {
        display: inline-block;
        margin: 0px;
        margin-top: 10.96px;
        margin-bottom: 10.96px;
        margin-right: 10.96px;
        margin-left: 36.4px;
        float: right;
        cursor: pointer;
    }

.channel-info .description {
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    margin-left: 16px;
    margin-bottom: 8px;
}

.channel-info:hover .description {
    white-space: pre-wrap;
    overflow: visible;
    margin-bottom: 8px;
}

.channel-info .title {
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
}

.tri-button {
    margin: 5px;
}

.logout-button {
    background-color: var(--main-2);
    width: 95%;
    height: 35px;
    line-height: 27px;
    color: red;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    margin-top: 2px;
    text-align: left;
    vertical-align: central;
}

.logout-button:hover {
    background-color: rgba(255, 200, 200, 0.1);
}

.logout-button:active {
    background-color: rgba(255, 200, 200, 0.2);
}

.settings-button {
    background-color: var(--main-2);
    width: 95%;
    height: 35px;
    line-height: 27px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    margin-top: 2px;
    text-align: left;
    vertical-align: central;
}

.settings-button:active {
    background-color: rgba(255, 255, 255, 0.3);
}


.invite-tab-holder .settings-button {
    display: inline-block;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.05);
}

    .invite-tab-holder .settings-button:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .invite-tab-holder .settings-button:active {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .invite-tab-holder .settings-button.active {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .invite-tab-holder .settings-button:hover.active {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .invite-tab-holder .settings-button.left {
        border-radius: 5px 0px 0px 0px;
        margin-right: 0px;
        float: left;
    }

    .invite-tab-holder .settings-button.right {
        border-radius: 0px 5px 0px 0px;
        margin-left: 0px;
        float: left;
    }

.invite-list {
    width: 90%;
    height: 60%;
    border: 2px solid rgba(255, 255, 255, 0.05);
    margin-top: 35px;
    overflow-y: scroll;
}

.settings-button:hover {
    background-color: var(--main-4);
}

.settings-button.active {
    background-color: var(--main-4);
}

.settings-button:hover.active {
    background-color: var(--main-5);
}

.settings-row {
    overflow-y: auto;
}


.edit-body {
    background-color: var(--main-2);
    height: 100%;
    width: 100%;
}

.edit-body .container {
    height: 100%;
    width: 100%;
}

.edit-body .row {
    height: 100%;
}


.edit-col-left {
    background-color: var(--main-2);
    min-width: 150px;
}

.edit-col-right {
    border-left: solid 1px rgba(255, 255, 255, 0.25);
    background-color: var(--main-2);
    min-width: 200px;
}

@media screen and (max-width: 992px) {
    .settings-row {
        flex-wrap: wrap;
    }

    .edit-col-left {
        width: 100%;
        margin-bottom: 20px;
    }

    .edit-col-right {
        width: 100%;
        border: none;
        margin-bottom: 20px;
    }
}

.settings-inner {
    position: relative;
    height: 90%;
    overflow-y: auto;
}

.settings-save-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.current-planet-info .planet-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    max-height: 2.4em; /* a x number of line to show (ex : 2 line)  */
    font-size: 16px;
    margin: 0px;
    width: 100%;
}

.current-planet-info .planet-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: inline-block;
    max-height: 2.4em; /* a x number of line to show (ex : 2 line)  */
    font-size: 24px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.keep-scrolling::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.keep-scrolling {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.UserList {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(99.5% - 80px);
}

.category-list {
    max-height: calc(90% - 90px);
    overflow-y: scroll;
}

.update-footer {
    position: absolute;
    top: 0px;
    z-index: 5;
    width: 100%;
    background-color: var(--main-5);
    opacity: 0.8;
    padding: 10px;
}

.update-text {
    margin: 2px;
}

.btn-update {
    width: 32px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    padding: 0px;
    cursor: pointer;
}

.forgot-password {
    display:block;
}

#window-0:focus {
    outline: 2px solid var(--main5);
}

#window-1:focus {
    outline: 2px solid var(--main5);
}

#window-2:focus {
    outline: 2px solid var(--main5);
}

#window-3:focus {
    outline: 2px solid var(--main5);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
