:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}

html * {
    font-family: Ubuntu, sans-serif;
}

:root {
    --primary-color: #040d14;
    --secondary-color: #aaaaaa;
    --font-color: #ffffff;
    --bg-color: #040d14;
    --heading-color: #040d14;
    --link-color: #00aaff;
    --border-color: #303030;
    --alt-border-color: #666666;
    --input-color: #000000;
    --comment-hue: rgba(0, 0, 0, 0.02);
    --main-1: #040d14;
    --main-2: #0b151d;
    --main-3: #121e27;
    --main-4: #192630;
    --main-5: #212f3a;
    --v-purple: #bf06fd;
    --v-blue: #0c06fd;
    --v-cyan: #00faff;
    --v2-danger-dark: #361515;
    --v2-danger-bright: #4f1e1e;
}

.mobile {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

.full-screen {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;  
}

.v-span {
    font-size: 0.9em;
    color: var(--font-color);
    opacity: 0.75;
}

.v-span.error {
    color: red;
}

.v-span.info {
    color: var(--v-cyan);
}

.v-inline {
    display: inline-block;
}

.v-button {
    color: #fff;
    border-color: #fff;
    background-color: rgba(0, 0, 0, 0);
    opacity: 90%;
}

.v-button:hover {
    color: var(--v-cyan);
    border-color: var(--v-cyan);
}

.v-button.danger {
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}

.v-button.danger:hover {
    color: white;
    border-color: white;
}

.v2-button {
    background-color: var(--main-4);
    color: white;
}

.v2-button:hover {
    background-color: var(--main-5);
    color: white;
}

.v2-button-danger {
    background-color: var(--v2-danger-dark);
    color: white;
}

.v2-button-danger:hover {
    background-color: var(--v2-danger-bright);
    color: white;
}

a {
    color: var(--link-color);
    user-select: text;
}

p {
    user-select: text;
}

.p-1 {
    color: var(--font-color);
    user-select: text;
}

h1 {
    color: var(--font-color);
    user-select: text;
}

h2 {
    color: var(--font-color);
    user-select: text;
}

h3 {
    color: var(--font-color);
    user-select: text;
}

h4 {
    color: var(--font-color);
    user-select: text;
}

pre {
    padding: 0;
}

label {
    color: var(--font-color);
    user-select: text;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.form-control {
    margin-top: 5px;
    background-color: var(--main-1);
    border-color: var(--main-5);
    color: var(--font-color);
}

.form-control:disabled {
    background-color: var(--border-color);
    border-color: var(--alt-border-color);
    color: var(--font-color);
}

.form-select {
    background-color: var(--main-1);
    border-color: var(--main-5);
    color: var(--font-color);
}

body {
    /* Theming */
    background-color: var(--bg-color);
    color: var(--font-color);
    line-height: NORMAL;
}

.mobile-holder {
    height: 100%;
    width: 100%;
}

.chat-holder {
    padding-right: 0.5rem;
}

.topline {
    border-top: 3px solid var(--main-5);
    width: 100%;
    background-color: var(--main-3);
}

.topbar {
    height: 61px;
    min-height: 61px;
    background-color: var(--main-4);
}

.window {
    width: 100%;
}

.window .welcome-channel-description {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #9E9E9E;
    margin: 0px;
    margin-left: 34px;
}

.window .welcome-divider {
    border: 2px solid #FFFFFF;
    margin: 0px;
    margin-top: 24px;
    margin-left: 34px;
}

.window .welcome-channel-name {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #FFFFFF;
    margin: 0px;
    margin-left: 34px;
}

.window .welcome-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #9E9E9E;
    margin: 0px;
    margin-top: 11px;
    margin-left: 34px;
}

.window .start-chat-icon {
    margin: 0px;
    margin-left: 34px;
    margin-top: 32px;
}

.sidebar-2 {
    margin: 0px;
    background-color: var(--main-2);
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.channel-and-topbar {
    display: flex;
    margin: 0;
    background-color: var(--main-1);
    flex-direction: column;
    height: 100%;
    flex: 1;
    overflow: hidden;
}

.channel-and-topbar-mobile {
    flex: 0;
    width: 100vw;
    position: absolute;
}

.sidebar-2 .channel-name {
    display: inline-block;
    margin: 0px;
    margin-top: 5px;
    margin-left: 3px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 27.5px;
    line-height: 32px;
    color: #FFFFFF;
}

.sidebar-2 .top-bar {
    width: 100%;
    border-top: 3px solid var(--main-3);
}

.mobile .sidebar-2 .top-bar {
    width: 100vw;
}

.sidebar-2 .channel-description {
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    color: #9E9E9E;
}

.sidebar-2 .channel-name-plus-pin .pin {
    display: inline-block;
    margin: 0px;
    margin-left: 18px;
}


.sidebar-2 .viewing-current-channel {
    margin-left: 15px;
}

.sidebar-2 .viewing-current-channel .pfp {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-left: -15px;
}

.sidebar-2 .current-channel-info {
    padding-top: 16px;
    margin-left: 16px;
    height: 115px;
}

.mainrow {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.sidebar {
    width: 64px;
    padding: 5px;
    transition: width ease-in-out .2s;
}

.sidebar-container {
    width: 0;
    transition: width 0.5s ease-in-out;
    z-index: 5;
}

.sidebar-container.sidebar-active {
    width: 230px;
}

.mobile .sidebar-container.sidebar-active {
    width: 100vw;
}

.sidebar-menu {
    position: relative;
    height: 100%;
    display: flex;
    align-items: stretch;
    transition: transform 0.5s ease-in-out;
    width: 230px;
    transform: translate(-100%);
}

.flip .sidebar-menu {
    transform: none !important;
}

.mobile .sidebar-menu {
    width: 100vw;
}

.sidebar-container.sidebar-active .sidebar-menu {
    transform: translate(0px);
}

.sidebar-embedded {
    transition: width 0.5s ease-in-out;
}

.sidebar-embedded:hover {
    width: 250px;
}

.sidebar-mobile-expanded {
    width: 250px;
}


.sidebar:hover {
    width: 250px;
}

.valour-version {
    /* margin: 0px; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 4px;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 7px;
    text-align: center;
    color: #00FAFF;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-top: 12px;
}

.valour-name {
    margin: 0px;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #00FAFF;
}

.valour-logo {
    width: 50px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    display: inline-block;
}


body {
    width: 100%;
    height: 100%;
    background-color: #040D14;
}

app {
    width: 100%;
    height: 100%;
}

.popup-box {
    background-color: var(--main-2);
    border-radius: 10px;
    border-color: grey;
    padding: 50px;
    width: 400px;
    z-index: 2;
    box-shadow: 0px 0px 15px #000000;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--main-4);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-1);
    border-radius: 20px;
    border: 3px solid var(--main-2);
}

*::-webkit-scrollbar-corner 
{ 
    background: rgba(0,0,0,0); 
}

.login-background {
    background-image: url(/_content/Valour.Client/media/Spookvooper-tall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    margin: 0px;
    backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    /* bottom: 0px; */
    min-height: 100vh;
}

.add-channel-button {
    margin: 0px;
    margin-top: 3px;
    margin-right: 8px;
    vertical-align: top;
    display: inline-block;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    font-size: 24px;
    float: right;
    cursor: pointer;
}

.context-menu {
    width: 188px;
    background: #030B11;
    mix-blend-mode: normal;
    border: 1px solid #192630;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    position: absolute;
    z-index: 2000;
}

.context-menu-item {
    border-radius: 6px;
    margin: 0px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    cursor: pointer;
}

.context-menu-item:hover {
    background-color: #192630;
}

.context-menu-item:nth-last-child(1) {
    margin-bottom: 10px;
}

.context-menu-item-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 17px;
    display: flex;
    padding-top: 10px;
    align-items: center;
    mix-blend-mode: normal;
}
.home-buttons {
    float: right;
    margin-top: 15px;
}

.tri-button {
    margin: 5px;
}

.logout-button {
    background-color: var(--main-2);
    width: 95%;
    height: 35px;
    line-height: 27px;
    color: red;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    margin-top: 2px;
    text-align: left;
    vertical-align: central;
}

.logout-button:hover {
    background-color: rgba(255, 200, 200, 0.1);
}

.logout-button:active {
    background-color: rgba(255, 200, 200, 0.2);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.category-list {
    overflow-y: scroll;
}

.update-footer {
    position: absolute;
    top: 0px;
    z-index: 5;
    width: 100%;
    background-color: var(--main-5);
    opacity: 0.8;
    padding: 10px;
}

.update-text {
    margin: 2px;
}

.btn-update {
    width: 32px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    padding: 0px;
    cursor: pointer;
}

.forgot-password {
    display:block;
    cursor: pointer;
}

#window-0:focus {
    outline: 2px solid var(--main5);
}

#window-1:focus {
    outline: 2px solid var(--main5);
}

#window-2:focus {
    outline: 2px solid var(--main5);
}

#window-3:focus {
    outline: 2px solid var(--main5);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.color-picker {

}

/* Slider stuff */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #42f5f5;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Invite page stuff */
.invite-title {
    text-align: center;
}

.invite-name {
    text-align: center;
    display: inline-block;
}

.join-btn .btn-pos {
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.center-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

blockquote {
    border-left: 3px rgba(255, 255, 255, 0.2) solid;
    padding-top: 5px;
    padding-left: 5px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.01);
}

/* Fix for safari */
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Loading screen */
@keyframes logo-anim {
    0% {
        filter: hue-rotate(0);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.color-shift {
    animation: logo-anim 3s infinite, fadein 0.4s;
}

.loading-container {
    height: 100%;
    width: 100%;
}

.loading-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-title {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    user-select: none;
}

.loading-subtext {
    text-align: center;
    font-size: 16px;
    user-select: none;
}

.loading-logo {
    width: 128px;
    user-select: none;
}

.input-magic {
    font-size: 0;
    display: inline !important;
}

.input-magic::before {
    content: attr(data-before);
    display: inline;
    font-size: 16px;
}

/* Mention css must be in global css file so input injection works */
.mention {
    display: inline-block;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.mention.target {
    font-weight: 500;
}

.mention:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.mention:active {
    background-color: rgba(255, 255, 255, 0.3);
}

/* These are the ones that work in the textbox */
.mention::before {
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.mention:hover::before {
    background-color: rgba(255, 255, 255, 0.2);
}

.mention:active::before {
    background-color: rgba(255, 255, 255, 0.3);
}

.channel-mention {
    display: inline-block;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 500;
    color: rgb(140, 220, 255);
    background-color: rgba(170, 170, 255, 0.1);
    cursor: pointer;
}

.channel-mention:hover {
    background-color: rgba(170, 170, 255, 0.2);
}

.channel-mention:active {
    background-color: rgba(170, 170, 255, 0.3);
}

/* These are the ones that work in the textbox */
.channel-mention::before {
    display: inline-block;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 500;
    color: rgb(140, 220, 255);
    background-color: rgba(170, 170, 255, 0.1);
    cursor: pointer;
}

.channel-mention:hover::before {
    background-color: rgba(170, 170, 255, 0.2);
}

.channel-mention:active::before {
    background-color: rgba(170, 170, 255, 0.3);
}

/* Window resize gutters */
.gutter {
    background-color: var(--main-3);
    width: 10px;
    cursor: e-resize;
}

img.emoji {
    height: 1em !important;
    width: 1em !important;
    margin: 0 .2em 0em .2em !important;
    cursor: default !important;
    user-select: all;
    display: inline-block !important;
    transform: scale(1.3);
    margin-top: -4px !important;
}

.new-input-style {
}

.new-input-style label {
    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
}

.new-input-style input,
.new-input-style textarea{
    background: var(--main-4);
    border: 1px solid #030B11;
    border-radius: 8px;
    color: #ffffff;
    padding: 5px 9px;
}

.new-input-style input:focus {
    color: white;
    background-color: var(--main-4);
    border: 1px solid #030B11;
    outline: 0;
    box-shadow: unset;
}

/*************/
/* Modal CSS */
/*************/

/* Override default modal style */
.blazored-modal {
    /* Stylistic choices */
    background-color: var(--main-2) !important;
    border-radius: 20px !important;
    border: none !important;
    padding: 0 !important;
    align-self: center;
}

.blazored-modal.size-automatic {
    height: fit-content;
}

.blazored-modal-focus-trap {
    display: flex;
    padding: 20px;
    min-height: 100vh;
}