/* New context menus. They must be here, isolations will *not* work! */
.context {
    border: 3px solid var(--main-2);
    background-color: var(--main-1) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 20%) !important;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 20%) !important;
    border-radius: 10px;
}

.context-sub {
    border: 3px solid var(--main-2);
    background-color: var(--main-1) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 20%) !important;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 20%) !important;
    border-radius: 5px;
}

.context:hover {
    
}

.context-item {
    border-bottom: 3px var(--main-1) solid;
    margin: 0;
    background-color: var(--main-3);
    font-weight: 500;
    font-size: large;
}

.context-item:first-child {
    border-radius: 5px 5px 0 0;
}

.context-item:last-child {
    border-radius: 0 0 5px 5px;
}

.context-item:last-child {
    border-bottom: none;
}

.context-item:hover {
    background-color: rgba(255, 255, 255, 40%) !important;
}

/***************************/
/* Mobile context menu CSS */
/***************************/

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.mobile .blazor-context-menu {
    opacity: 1;
    position: fixed !important;
    bottom: 0 !important;
    height: auto;
    left: 0 !important;
    top: auto !important;
    min-width: 100vw !important;
    animation: 0.15s ease-in-out 0s 1 slideInFromBottom;
    padding-bottom: 30px;
}

.mobile .blazor-context-submenu {
    position: fixed !important;
    bottom: 0 !important;
    height: auto !important;
    left: 0 !important;
    top: auto !important;
    min-width: 100vw !important;
    animation: 0.15s ease-in-out 0s 1 slideInFromRight;
    padding-bottom: 30px;
}

/* These two HIDE the parent if a child menu is opened */
.mobile .blazor-context-menu:has(.blazor-context-submenu:not(.blazor-context-menu--hidden)) {
    height: 0 !important;
}

.mobile .blazor-context-submenu:has(.blazor-context-submenu:not(.blazor-context-menu--hidden)) {
    height: 0 !important;
}

.mobile .context-item {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.block-input {
    pointer-events: none;
}