/* Fun gradient underline */
.v-gradient-underline {
    height: 2px;
    width: 100%;
    margin-bottom: 0.5em;
    background-image: linear-gradient(to right, #fff, transparent);
}

/* Dropdowns */
.v-drop-item {
    font-size: 1em;
    padding: 0.5em;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
}

/* Tables */
.v-table {
    display: table;
    width: 100%;
}

.v-table tr {
    display: table-row;
}

.v-table td,th {
    border: none;
}

.v-table thead {
    background-color: var(--main-2);
    font-weight: 700;
}

/* Colors */
.v-text-primary {
    color: var(--font-color);
}
.v-color-secondary {
    color: var(--font-color);
    opacity: 0.75;
}
.v-text-cyan {
    color: var(--v-cyan);
}
.v-text-blue {
    color: var(--v-blue);
}
.v-text-purple {
    color: var(--v-purple);
}
.v-text-red {
    color: red;
}

.v-bg-darkest {
    background-color: var(--main-1);
}
.v-bg-dark {
    background-color: var(--main-2);
}
.v-bg-medium {
    background-color: var(--main-3);
}
.v-bg-light {
    background-color: var(--main-4);
}
.v-bg-lightest {
    background-color: var(--main-5);
}

/* Inputs and Buttons */
.v-input {
    display: block;
    background-color: var(--main-4);
    border: 1px solid #1d1d1d;
    border-radius: 8px;
    color: #ffffff;
    padding: 5px 9px;
    font-size: 1em;
    outline: none !important;
    font-family: Ubuntu, sans-serif;
    margin-bottom: 0.5em;
    width: 100%;
    min-width: 10em;
}

.v-btn {
    color: var(--font-color);
    background-color: #ffffff22;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    padding: 0.25em 0.5em;
    display: block;
    outline: none !important;
    cursor: pointer;
    
    transition: background-color 0.2s ease-in-out;
}

.v-btn.large {
    display: block;
    width: 100%;
    padding: 8px;
}

.v-btn.half {
    display: inline-block;
    width: 50%;
    padding: 8px;
}

.v-btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.v-btn-grad-wrapper {
    width: 100%;
    display: inline-block;
    border-radius: 0.5em;
    font-size: 1em;
    padding: 0.2em;
    background: linear-gradient(to right, #00FFEE -31%, #FF00EE 192%);
    cursor: pointer;
    position: relative;
}

.v-btn-grad-wrapper.half {
    flex: 1;
    width: unset;
}

.v-btn.gradient {
    color: #fff;
    border: none;
    background-color: #111122;
    transition: all 0.3s ease-in-out;
    border-radius: 0.35em;
    width: 100%;
}

.v-btn.gradient.large,
.v-btn.gradient.half {
    padding: 5px !important;
}

.v-btn-grad-wrapper:hover .v-btn.gradient {
    background-color: transparent;
}

.v-btn-grad-wrapper p {
    color: #111122;
    text-decoration: none;
    background: linear-gradient(to right, #00FFEE -31%, #FF00EE 192%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    margin: 0;
    text-align: center;
}

.v-btn-grad-wrapper:hover p {
    color: #111122;
    -webkit-text-fill-color: #111122;
}

.v-btn.blue {
    background-color: #0d6efd;
}

.v-btn:hover.blue {
    background-color: #b386eb;
}

.v-btn.center {
    margin-left: auto;
    margin-right: auto;
}

.v-btn:hover {
    background-color: #ffffff33;
}

.v-btn:active {
    background-color: #ffffff44;
}

/* Sections */
.v-section {
    display: block;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 2em;
}

/* Headings and titles */
.subtitle {
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.75;
}

/* Permission switches and display */
.perm-list-item {
    padding: 8px;
    border-bottom: none;
    background-color: var(--main-4);
}

.perm-list-item:nth-child(2n) {
    background-color: var(--main-5);
}

.perm-list-item:first-child {
    border-radius: 10px 10px 0 0 ;
}

.perm-list-item:last-child {
    border-radius: 0 0 10px 10px;
}

.perm-list-name {
    display: inline-block;
    line-height: 12px;
}

.perm-list-desc {
    font-size: 14px;
}

.perm-section {
    margin-bottom: 24px;
}

.perm-switch {
    float: right;
    margin-top: 12px;
}

/* Emoji picker */
.mobile .emoji-mart-wrapper-custom {
    position: relative;
    z-index: 9999;
    bottom: 12px;
}

.mobile .emoji-mart-wrapper-custom > * {
    margin-left: auto;
    margin-right: auto;
}


.emoji-mart-wrapper-custom {
    position: absolute;
    bottom: 50px;
    right: 0;
} 

/* Economy */

/* This needs to be distinguished to prevent scams */
.valour-credits-text {
    color: var(--v-purple);
    font-weight: 700;
}

/* Global animations */

@keyframes border-spin {
    from {
        transform: rotate(0deg) scale(2);
    }
    to {
        transform: rotate(360deg) scale(2);
    }
}

/* Confetti CSS */

.confetti {
    position: absolute;
    z-index: 1;
    top: -10px;
    border-radius: 0;
}

.confetti--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
}

.confetti--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
}

.confetti--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
}

@keyframes confetti-slow {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }

    100% { transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg); }
}

@keyframes confetti-medium {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }

    100% { transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg); }
}

@keyframes confetti-fast {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }

    100% { transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg); }
}

@keyframes squeeze {
    0% {
        transform: skewX(0deg) scale(1, 1);
    }
    65% {
        transform: skewX(30deg) scale(1.5, 0.0);
    }
    100% {
        transform: skewX(0deg) scale(1, 1);
    }
}